/* responsiveness */
#srxr-q-charts-container {
  max-width: 724px; /* using width from RBR desktop site in chorus editor */
  width: 100%;
}
#plays-charts-container, #runRate-charts-container {
  font-family:"Work Sans",sans-serif;
  max-width: 724px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}
.srxrq-chart {
  font-family:"Work Sans",sans-serif;
  min-width:200px;
  display: inline-block;
  margin-top: 8px;
}
@media screen and (min-width: 600px) {
    .chart2 {
        margin-left:16px;
    }
}
.plays-chart {
  font-family:"Work Sans",sans-serif;
}
.chartTitle {
  font-family:"Open Sans",sans-serif;
  font-weight: 700;
  color: #242424;
  font-size: 16px !important;
  margin-top: 8px;
  margin-bottom: 8px;
}
.titleHR {
  height: 1px;
  width: 100%;
  background-color: #242424;
  opacity: .2;
  margin-bottom: 2px;
}
.chartNote {
  font-family:"Work Sans",sans-serif;
  color: #242424;
  font-size: 0.8em !important;
  letter-spacing: -0.3px;
  line-height: 1.5em;
  opacity: 0.5;
  margin-top: 0px;
  margin-bottom:12px;
}
.teamTitle {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom:4px;
}
.teamTitle.lg {
  font-size: 1em;
}
.backBar {
  fill: #F1F1F1;
}
.expBars, .xBars {
  fill: #000000;
  opacity: .5;
}
.qLabels {
  font-weight: 500;
  font-size: .8em;
  fill: #FFFFFF;
}
.srLabels, .srKey {
  font-weight: 500;
  font-size: .8em;
  fill: #242424;
  opacity: .8;
  font-feature-settings: "tnum" on;
}
.expLabels, .expKey {
  font-weight: 400;
  font-size: .8em;
  fill: #242424;
  opacity: .5;
  font-feature-settings: "tnum" on;
}
.srKey, .expKey {
  font-weight: 400;
  font-size: .8em;
}
.leagueKey {
  font-weight: 400;
  font-size: .8em;
  fill: #242424;
  opacity: .5;
}
.leagueSRline {
  width: 3px;
  opacity: .3; /* stroke attributes are in the script itself */
}
.gridLine {
  opacity: .2; /* stroke attributes are in the script itself */
}
.axis-labels {
  font-weight: 600;
  font-size: 0.8em;
  fill: #242424;
  opacity: .8;
}
.points {
  font-weight: 500;
  font-size: 0.8em;
  fill: #242424;
  opacity: .8;
}
.key {
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}
span.s, span.x, span.ns, span.ns {
  border-bottom: solid;
  border-bottom-width: 2px;
}
span.s {
  border-bottom-color: #C31C45;
}
span.x {
  border-bottom-color: #620E23;
}
span.ns {
  border-bottom-color: #EDBBC7;
}
