/* responsiveness */
#srxr-q-charts-container {
  max-width: 724px; /* using width from RBR desktop site in chorus editor */
  width: 100%;
}
.srxrq-chart {
  font-family:"Work Sans",sans-serif;
  min-width:200px;
  display: inline-block;
  margin-top: 8px;
}
@media screen and (min-width: 600px) {
    .chart2 {
        margin-left:16px;
    }
}
.chartTitle {
  font-family:"Work Sans",sans-serif;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #242424;
  font-size: 16px !important;
  text-transform: normal;
  margin-top: 8px;
  margin-bottom: 8px;
}
.titleHR {
  height: 1px;
  width: 100%;
  background-color: #242424;
  opacity: .2;
  margin-bottom: 8px;
}
.chartNote {
  font-family:"Work Sans",sans-serif;
  color: #242424;
  font-size: 0.8em !important;
  letter-spacing: -0.3px;
  line-height: 1.5em;
  opacity: 0.5;
  margin-top: 2px;
  margin-bottom:12px;
}
.teamTitle {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom:4px;
}
.backBar {
  fill: #F1F1F1;
}
.anchors {
  fill: #000000;
  opacity: .25;
}
.expBars {
  fill: #000000;
  opacity: .35;
}
.qLabels {
  font-weight: 500;
  font-size: .8em;
  fill: #FFFFFF;
}
.srLabels, .srKey {
  font-weight: 500;
  font-size: .8em;
  fill: #242424;
  opacity: .8;
  font-feature-settings: "tnum" on;
}
.expLabels, .expKey {
  font-weight: 400;
  font-size: .8em;
  fill: #242424;
  opacity: .5;
  font-feature-settings: "tnum" on;
}
.srKey, .expKey {
  font-weight: 400;
  font-size: .8em;
}
.leagueKey {
  font-weight: 400;
  font-size: .8em;
  fill: #242424;
  opacity: .5;
}
.leagueSRline {
  fill: #FFFFFF;
  width: 3px;
  opacity: .3;
}
