:root {
    --grid-columns: 1;
    --grid-gap: 9px;
    --block-padding: 27px;
    --row-min-height: 135px;
}
@media screen and (min-width: 768px) { 
    :root { 
        --grid-columns: 12;
        --block-padding: 36px; 
        --row-min-height: 180px;
    }
}
@media screen and (min-width: 1024px) { 
    :root { 
        --block-padding: 45px; 
    }
}

.main {
    margin: 0 auto;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-auto-rows: minmax(var(--row-min-height),auto);
    grid-gap: var(--grid-gap);
}

/* wrapper isn't required, but can be used to force block ordering on mobile */
.block-wrapper {
    display: grid;
    grid-gap: var(--grid-gap)
}

.block {
    padding: var(--block-padding);
    min-height: var(--row-min-height);
    display: grid;
    align-content: start;
}

@media screen and (min-width: 768px) { 
    .block    { grid-column-end: span 12;}
    /* Make sure the above is written before the rest */
    .wide-1   { grid-column-end: span 1; }
    .wide-2   { grid-column-end: span 2; }
    .wide-3   { grid-column-end: span 3; }
    .wide-4   { grid-column-end: span 4; }
    .wide-5   { grid-column-end: span 5; }
    .wide-6   { grid-column-end: span 6; }
    .wide-7   { grid-column-end: span 7; }
    .wide-8   { grid-column-end: span 8; }
    .wide-9   { grid-column-end: span 9; }
    .wide-10  { grid-column-end: span 10;}
    .wide-11  { grid-column-end: span 11;}
}

/* block heights */
.block.short-0 { min-height: 0px; }
.block.short-1 { min-height: var(--row-min-height) / 2; }

.tall-2 { grid-row-end: span 2; }
.tall-3 { grid-row-end: span 3; }
.tall-4 { grid-row-end: span 4; }

/* orienting content within blocks */
.center-vt, .center-vt-hz {
    align-content: center;
    justify-content: center;
}
.center-hz, .center-vt-hz {
    justify-content: center;
    text-align: center;
}


