:root {
    --text:     rgba(0,0,0,.9);
    --white:    #FFF;
    --gray-0:   #f2f6f9;
    --gray-1:   #eef3f7;
    --green-1:  #76A699;
    --green-2:  #224A42;
    --green-3:  #0A202A;
    --blue-1:   #DDEFF9;
    --blue-2:   #829EB6;
    --blue-3:   #3C5C72;
    --shadow:   rgb(236, 240, 243);
}
body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--gray-0);
    font-size: 20px;
    line-height: 1.45;
    color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
}
h1, h2 {
    font-weight: 700;
}
p {
    margin: 0;
    padding-top: 15px;
}
p:first-of-type {
    padding-top: 0;
}
li {
    margin: 10px 0;
    list-style-type: circle;
}
button {
    padding: 10px;
    background-color: var(--green-1);
    color: white;
    font-weight: 500;
    font-size: 15px;
    border: none;
}
.bg-white  { background-color: var(--white); }
.bg-gray-0  { background-color: var(--gray-0); }
.bg-gray-1  { background-color: var(--gray-1); }
.bg-green-1 { background-color: var(--green-1); color: var(--white); }
.bg-green-2 { background-color: var(--green-2); color: var(--white); }
.bg-green-3 { background-color: var(--green-3); color: var(--white); }
.bg-blue-1  { background-color: var(--blue-1); }
.bg-blue-2  { background-color: var(--blue-2);  color: var(--white); }
.bg-blue-3  { background-color: var(--blue-3);  color: var(--white); }

.text-white { color: var(--white); }
.text-center { text-align: center; }
.text-small { font-size: 16px; }