/* responsiveness */
#qsr-charts-container {
  width: 100%;
  max-width: 1440px;
}
.qsr-chart {
  font-family:"Open Sans",sans-serif;
  margin-bottom:8px;
  min-width:200px;
  display: inline-block;
}
.svgChart {
  margin-bottom:8px;
}
.bodyCopy {
  font-family:Georgia, serif;
  fill: #242424;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 16px;
  margin-bottom:0;
}
.chartTitle {
  font-family:"Georgia","Open Sans",sans-serif;
  font-weight: bold;
  fill: #242424;
  font-size: 1.2em;
  margin-top: 16px;
  margin-bottom:8px;
}
.teamTitle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom:4px;
}
.backBar {
  fill: #F1F1F1;
}
.srGameBar {
  fill: #4A4A4A;
}
.anchors {
  fill: #000000;
  opacity: .25;
}
.qLabels {
  font-weight: 600;
  font-size: .8em;
  fill: #FFFFFF;
}
.srLabels {
  font-weight: 600;
  font-size: .8em;
  fill: #242424;
}
.leagueSRline {
  fill: #FFFFFF;
  width: 3px;
  opacity: .75;
}
