#qsr-chart {
  font-family:"Open Sans",sans-serif;
  max-width: 350px;
  margin-bottom:8px;
}
.bodyCopy {
  font-family:Georgia, serif;
  fill: #242424;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 16px;
  margin-bottom:0;
}
.chartTitle {
  font-family:"Open Sans",sans-serif;
  font-weight: bold;
  fill: #242424;
  font-size: 1.2em;
  margin-top: 16px;
  margin-bottom:8px;
}
.teamTitle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom:4px;
}
.backBar {
  fill: #F1F1F1;
}
.srGameBar {
  fill: #4A4A4A;
}
.qLabels {
  font-weight: 600;
  font-size: 14px;
  fill: #FFFFFF;
}
.srLabels {
  font-weight: 600;
  font-size: 14px;
  fill: #242424;
}
.meanLine {
  fill: #FFFFFF;
  width: 3px;
  opacity: .58;
}
