.air-force .tm {background-color: #0000FF; stroke: #0000FF}
.akron .tm {background-color: #00285C; stroke: #00285C}
.alabama .tm {background-color: #990000; stroke: #990000}
.alabama-am .tm {background-color: #580000; stroke: #580000}
.alabama-state .tm {background-color: #000000; stroke: #000000}
.albany .tm {background-color: #452663; stroke: #452663}
.alcorn-state .tm {background-color: #4B0082; stroke: #4B0082}
.american-university .tm {background-color: #B5013B; stroke: #B5013B}
.anderson-indiana .tm {background-color: #EC730A; stroke: #EC730A}
.appalachian-state .tm {background-color: #000000; stroke: #000000}
.arizona .tm {background-color: #C41E3A; stroke: #C41E3A}
.arizona-state .tm {background-color: #800000; stroke: #800000}
.arkansas .tm {background-color: #9D2235; stroke: #9D2235}
.arkansas-state .tm {background-color: #CC092F; stroke: #CC092F}
.arkansas-little-rock .tm {background-color: #800000; stroke: #800000}
.arkansas-pine-bluff .tm {background-color: #C41E3A; stroke: #C41E3A}
.army .tm {background-color: #000000; stroke: #000000}
.auburn .tm {background-color: #0C2340; stroke: #0C2340}
.austin-peay .tm {background-color: #D2DDFC; stroke: #D2DDFC}
.ball-state .tm {background-color: #CC0000; stroke: #CC0000}
.baruch .tm {background-color: #10448C; stroke: #10448C}
.baylor .tm {background-color: #006600; stroke: #006600}
.belmont .tm {background-color: #E0001D; stroke: #E0001D}
.bethany-california .tm {background-color: #920300; stroke: #920300}
.bethune-cookman .tm {background-color: #6A3547; stroke: #6A3547}
.binghamton .tm {background-color: #006B54; stroke: #006B54}
.bluefield-college .tm {background-color: #003C81; stroke: #003C81}
.boise-state .tm {background-color: #1F60A9; stroke: #1F60A9}
.boston-college .tm {background-color: #8B0000; stroke: #8B0000}
.boston-university .tm {background-color: #FF2000; stroke: #FF2000}
.bowling-green .tm {background-color: #FF7300; stroke: #FF7300}
.bradley .tm {background-color: #FF0000; stroke: #FF0000}
.brigham-young .tm {background-color: #001E4C; stroke: #001E4C}
.brigham-young .tm {background-color: #002255; stroke: #002255}
.brown .tm {background-color: #321414; stroke: #321414}
.bryant-university .tm {background-color: #000000; stroke: #000000}
.bucknell .tm {background-color: #FF9900; stroke: #FF9900}
.buffalo .tm {background-color: #FFFFFF; stroke: #FFFFFF}
.butler .tm {background-color: #00386D; stroke: #00386D}
.cal-poly .tm {background-color: #1E4D2B; stroke: #1E4D2B}
.cal-state-bakersfield .tm {background-color: #DDDDFF; stroke: #DDDDFF}
.cal-state-fullerton .tm {background-color: #FFC94B; stroke: #FFC94B}
.cal-state-northridge .tm {background-color: #C60C30; stroke: #C60C30}
.california .tm {background-color: #191970; stroke: #191970}
.campbell .tm {background-color: #FF7F00; stroke: #FF7F00}
.canisius .tm {background-color: #0047AB; stroke: #0047AB}
.carver-bible-college .tm {background-color: #262454; stroke: #262454}
.centenary .tm {background-color: #800000; stroke: #800000}
.central-arkansas .tm {background-color: #43286B; stroke: #43286B}
.central-connecticut-state .tm {background-color: #00539B; stroke: #00539B}
.central-michigan .tm {background-color: #660033; stroke: #660033}
.charleston .tm {background-color: #800000; stroke: #800000}
.charleston-southern .tm {background-color: #FFFFFF; stroke: #FFFFFF}
.charlotte .tm {background-color: #007310; stroke: #007310}
.chattanooga .tm {background-color: #00386B; stroke: #00386B}
.chicago-state .tm {background-color: #006666; stroke: #006666}
.cincinnati .tm {background-color: #E00122; stroke: #E00122}
.citadel .tm {background-color: #3975B7; stroke: #3975B7}
.clemson .tm {background-color: #FF6300; stroke: #FF6300}
.cleveland-state .tm {background-color: #003300; stroke: #003300}
.coastal-carolina .tm {background-color: #008080; stroke: #008080}
.college-of-new-jersey .tm {background-color: #2A3E6F; stroke: #2A3E6F}
.colgate .tm {background-color: #CA030A; stroke: #CA030A}
.colorado .tm {background-color: #C0C0C0; stroke: #C0C0C0}
.colorado-state .tm {background-color: #00A550; stroke: #00A550}
.columbia .tm {background-color: #9BDDFF; stroke: #9BDDFF}
.connecticut .tm {background-color: #000E2F; stroke: #000E2F}
.coppin-state .tm {background-color: #69005C; stroke: #69005C}
.cornell .tm {background-color: #B31B1B; stroke: #B31B1B}
.creighton .tm {background-color: #005CA9; stroke: #005CA9}
.dallas-christian .tm {background-color: #980200; stroke: #980200}
.dallas-university .tm {background-color: #0F3A71; stroke: #0F3A71}
.dartmouth .tm {background-color: #00693E; stroke: #00693E}
.davidson .tm {background-color: #FF0000; stroke: #FF0000}
.dayton .tm {background-color: #FF0000; stroke: #FF0000}
.delaware .tm {background-color: #0069AA; stroke: #0069AA}
.delaware-state .tm {background-color: #FF0000; stroke: #FF0000}
.denver .tm {background-color: #FFFFFF; stroke: #FFFFFF}
.depaul .tm {background-color: #0000FF; stroke: #0000FF}
.detroit .tm {background-color: #0000CD; stroke: #0000CD}
.dillard .tm {background-color: #1B4299; stroke: #1B4299}
.dominican .tm {background-color: #0B4082; stroke: #0B4082}
.drake .tm {background-color: #000070; stroke: #000070}
.drexel .tm {background-color: #000066; stroke: #000066}
.duke .tm {background-color: #003893; stroke: #003893}
.duquesne .tm {background-color: #000066; stroke: #000066}
.east-carolina .tm {background-color: #592A8A; stroke: #592A8A}
.east-tennessee-state .tm {background-color: #000080; stroke: #000080}
.east-texas-baptist .tm {background-color: #082342; stroke: #082342}
.eastern-illinois .tm {background-color: #0000FF; stroke: #0000FF}
.eastern-kentucky .tm {background-color: #7A0019; stroke: #7A0019}
.eastern-michigan .tm {background-color: #005D28; stroke: #005D28}
.eastern-washington .tm {background-color: #A10022; stroke: #A10022}
.elon .tm {background-color: #660000; stroke: #660000}
.evansville .tm {background-color: #52237F; stroke: #52237F}
.fairfield .tm {background-color: #C41E3A; stroke: #C41E3A}
.fairleigh-dickinson .tm {background-color: #025696; stroke: #025696}
.ferris-state .tm {background-color: #C03; stroke: #C03}
.florida .tm {background-color: #FF4A00; stroke: #FF4A00}
.florida-am .tm {background-color: #F4811F; stroke: #F4811F}
.florida-atlantic .tm {background-color: #003366; stroke: #003366}
.florida-gulf-coast .tm {background-color: #0047AB; stroke: #0047AB}
.florida-international .tm {background-color: #002D62; stroke: #002D62}
.florida-memorial .tm {background-color: #085DAA; stroke: #085DAA}
.florida-state .tm {background-color: #990000; stroke: #990000}
.fordham .tm {background-color: #76032E; stroke: #76032E}
.fresno-state .tm {background-color: #9A122C; stroke: #9A122C}
.furman .tm {background-color: #6B3FA0; stroke: #6B3FA0}
.gardner-webb .tm {background-color: #BF2F37; stroke: #BF2F37}
.george-mason .tm {background-color: #008000; stroke: #008000}
.george-washington .tm {background-color: #EECFA1; stroke: #EECFA1}
.georgetown .tm {background-color: #003366; stroke: #003366}
.georgia .tm {background-color: #FF0000; stroke: #FF0000}
.georgia-southern .tm {background-color: #000080; stroke: #000080}
.georgia-state .tm {background-color: #0000FF; stroke: #0000FF}
.georgia-tech .tm {background-color: #CFB53B; stroke: #CFB53B}
.gonzaga .tm {background-color: #FFFFFF; stroke: #FFFFFF}
.grambling-state .tm {background-color: #000000; stroke: #000000}
.green-bay .tm {background-color: #005643; stroke: #005643}
.greenville .tm {background-color: #F57B21; stroke: #F57B21}
.hampton .tm {background-color: #A8EDEF; stroke: #A8EDEF}
.hannibal-legrange-college .tm {background-color: #172751; stroke: #172751}
.hartford .tm {background-color: #FF2400; stroke: #FF2400}
.harvard .tm {background-color: #DC143C; stroke: #DC143C}
.haskell .tm {background-color: #65316D; stroke: #65316D}
.hawaii .tm {background-color: #800020; stroke: #800020}
.high-point .tm {background-color: #F47B20; stroke: #F47B20}
.hiwassee-college .tm {background-color: #65152B; stroke: #65152B}
.hofstra .tm {background-color: #16007C; stroke: #16007C}
.holy-cross .tm {background-color: #660066; stroke: #660066}
.houston .tm {background-color: #CC0000; stroke: #CC0000}
.houston-baptist .tm {background-color: #3E66C3; stroke: #3E66C3}
.howard .tm {background-color: #FF0000; stroke: #FF0000}
.huntingdon .tm {background-color: #E41A37; stroke: #E41A37}
.idaho .tm {background-color: #C0C0C0; stroke: #C0C0C0}
.idaho-state .tm {background-color: #000000; stroke: #000000}
.illinois .tm {background-color: #FF6600; stroke: #FF6600}
.illinois-state .tm {background-color: #FF0000; stroke: #FF0000}
.illinois-chicago-uic .tm {background-color: #AC1E2D; stroke: #AC1E2D}
.indiana .tm {background-color: #FFFFCC; stroke: #FFFFCC}
.indiana-state .tm {background-color: #0F4D92; stroke: #0F4D92}
.iona .tm {background-color: #6F2C3F; stroke: #6F2C3F}
.iowa .tm {background-color: #000000; stroke: #000000}
.iowa-state .tm {background-color: #A71930; stroke: #A71930}
.ipfw .tm {background-color: #4169E1; stroke: #4169E1}
.iupui .tm {background-color: #990000; stroke: #990000}
.jackson-state .tm {background-color: #092183; stroke: #092183}
.jacksonville .tm {background-color: #215E21; stroke: #215E21}
.jacksonville-state .tm {background-color: #A02643; stroke: #A02643}
.james-madison .tm {background-color: #C2A14D; stroke: #C2A14D}
.kansas .tm {background-color: #0049AE; stroke: #0049AE}
.kansas-state .tm {background-color: #68217A; stroke: #68217A}
.kennesaw-state .tm {background-color: #FEBC11; stroke: #FEBC11}
.kent-state .tm {background-color: #0A0D6F; stroke: #0A0D6F}
.kentucky .tm {background-color: #00407A; stroke: #00407A}
.la-salle .tm {background-color: #00386B; stroke: #00386B}
.la-sierra-university .tm {background-color: #142F46; stroke: #142F46}
.lafayette .tm {background-color: #800000; stroke: #800000}
.lamar .tm {background-color: #FF2222; stroke: #FF2222}
.lehigh .tm {background-color: #67391A; stroke: #67391A}
.liberty .tm {background-color: #000080; stroke: #000080}
.lipscomb .tm {background-color: #331E54; stroke: #331E54}
.liu-brooklyn .tm {background-color: #294C87; stroke: #294C87}
.long-beach-state .tm {background-color: #FFC82A; stroke: #FFC82A}
.long-island .tm {background-color: #CCCCFF; stroke: #CCCCFF}
.longwood .tm {background-color: #2D338E; stroke: #2D338E}
.los-angeles-tech .tm {background-color: #D12133; stroke: #D12133}
.louisiana-college .tm {background-color: #273A7D; stroke: #273A7D}
.louisiana-tech .tm {background-color: #002F8B; stroke: #002F8B}
.louisiana .tm {background-color: #A00B0B; stroke: #A00B0B}
.la-monroe .tm {background-color: #800000; stroke: #800000}
.louisville .tm {background-color: #AD0000; stroke: #AD0000}
.loyola-marymount .tm {background-color: #CC1111; stroke: #CC1111}
.loyola-chicago .tm {background-color: #922247; stroke: #922247}
.loyola-marymount .tm {background-color: #B62B3A; stroke: #B62B3A}
.lsu .tm {background-color: #461D7C; stroke: #461D7C}
.lsu-shreveport .tm {background-color: #461D7C; stroke: #461D7C}
.lyndon-state .tm {background-color: #004712; stroke: #004712}
.maine .tm {background-color: #00244D; stroke: #00244D}
.manhattan .tm {background-color: #0047AB; stroke: #0047AB}
.marist .tm {background-color: #990000; stroke: #990000}
.marquette .tm {background-color: #00386D; stroke: #00386D}
.marshall .tm {background-color: #008000; stroke: #008000}
.maryland .tm {background-color: #CE1126; stroke: #CE1126}
.maryland-eastern-shore .tm {background-color: #651D32; stroke: #651D32}
.marywood .tm {background-color: #015A20; stroke: #015A20}
.massachusetts .tm {background-color: #881C1C; stroke: #881C1C}
.mcneese-state .tm {background-color: #081C90; stroke: #081C90}
.memphis .tm {background-color: #0C1C8C; stroke: #0C1C8C}
.mercer .tm {background-color: #E87511; stroke: #E87511}
.miami-fla .tm {background-color: #AACCFF; stroke: #AACCFF}
.miami-oh .tm {background-color: #B61E2E; stroke: #B61E2E}
.michigan .tm {background-color: #F5D130; stroke: #F5D130}
.michigan-state .tm {background-color: #18453B; stroke: #18453B}
.middle-tennessee .tm {background-color: #00407A; stroke: #00407A}
.milwaukee .tm {background-color: #99CCFF; stroke: #99CCFF}
.minnesota .tm {background-color: #800000; stroke: #800000}
.minot-state .tm {background-color: #C60C30; stroke: #C60C30}
.mississippi .tm {background-color: #C8102E; stroke: #C8102E}
.mississippi-college .tm {background-color: #00305C; stroke: #00305C}
.mississippi-state .tm {background-color: #660000; stroke: #660000}
.mississippi-valley-state .tm {background-color: #046A38; stroke: #046A38}
.missouri .tm {background-color: #F1B82D; stroke: #F1B82D}
.missouri-state .tm {background-color: #810541; stroke: #810541}
.monmouth .tm {background-color: #186ED1; stroke: #186ED1}
.montana .tm {background-color: #660033; stroke: #660033}
.montana-state .tm {background-color: #0A1F62; stroke: #0A1F62}
.montana-western .tm {background-color: #E10304; stroke: #E10304}
.morehead-state .tm {background-color: #EDD5A6; stroke: #EDD5A6}
.morgan-state .tm {background-color: #FF8C00; stroke: #FF8C00}
.morris-college .tm {background-color: #0068B3; stroke: #0068B3}
.mount-st-marys .tm {background-color: #2C4E87; stroke: #2C4E87}
.murray-state .tm {background-color: #000033; stroke: #000033}
.njit .tm {background-color: #D11717; stroke: #D11717}
.navy .tm {background-color: #000080; stroke: #000080}
.nebraska .tm {background-color: #FF2400; stroke: #FF2400}
.nevada .tm {background-color: #002961; stroke: #002961}
.new-hampshire .tm {background-color: #00337F; stroke: #00337F}
.new-mexico .tm {background-color: #CCCCCC; stroke: #CCCCCC}
.new-mexico-state .tm {background-color: #800020; stroke: #800020}
.new-orleans .tm {background-color: #003399; stroke: #003399}
.niagara .tm {background-color: #582C83; stroke: #582C83}
.nicholls-state .tm {background-color: #081C90; stroke: #081C90}
.norfolk-state .tm {background-color: #69005C; stroke: #69005C}
.north-alabama .tm {background-color: #46166B; stroke: #46166B}
.north-carolina .tm {background-color: #6699CC; stroke: #6699CC}
.north-carolina-at .tm {background-color: #004684; stroke: #004684}
.north-carolina-central .tm {background-color: #6A2C3E; stroke: #6A2C3E}
.north-carolina-state .tm {background-color: #E00000; stroke: #E00000}
.north-carolina-asheville .tm {background-color: #003DA5; stroke: #003DA5}
.north-carolina-wilmington .tm {background-color: #006666; stroke: #006666}
.north-dakota .tm {background-color: #00A000; stroke: #00A000}
.north-dakota-state .tm {background-color: #0A5640; stroke: #0A5640}
.north-florida .tm {background-color: #00246B; stroke: #00246B}
.north-texas .tm {background-color: #059033; stroke: #059033}
.northeastern .tm {background-color: #000000; stroke: #000000}
.northern-arizona .tm {background-color: #003366; stroke: #003366}
.northern-colorado .tm {background-color: #013C65; stroke: #013C65}
.northern-illinois .tm {background-color: #000000; stroke: #000000}
.northern-iowa .tm {background-color: #660099; stroke: #660099}
.northwestern .tm {background-color: #431F81; stroke: #431F81}
.northwestern-state .tm {background-color: #660099; stroke: #660099}
.notre-dame .tm {background-color: #C5B358; stroke: #C5B358}
.nyc-tech .tm {background-color: #3C5BA5; stroke: #3C5BA5}
.oakland .tm {background-color: #000000; stroke: #000000}
.ohio .tm {background-color: #006633; stroke: #006633}
.ohio-state .tm {background-color: #FF2000; stroke: #FF2000}
.oklahoma .tm {background-color: #960018; stroke: #960018}
.oklahoma-state .tm {background-color: #FF6600; stroke: #FF6600}
.old-dominion .tm {background-color: #002B5F; stroke: #002B5F}
.olivet-nazarene .tm {background-color: #381853; stroke: #381853}
.oral-roberts .tm {background-color: #CFB53B; stroke: #CFB53B}
.oregon .tm {background-color: #006666; stroke: #006666}
.oregon-state .tm {background-color: #CC5500; stroke: #CC5500}
.pacific .tm {background-color: #FF6600; stroke: #FF6600}
.panhandle-state-opsu .tm {background-color: #C8102E; stroke: #C8102E}
.penn-state .tm {background-color: #162952; stroke: #162952}
.pennsylvania .tm {background-color: #990000; stroke: #990000}
.pepperdine .tm {background-color: #0000FF; stroke: #0000FF}
.pittsburgh .tm {background-color: #091C44; stroke: #091C44}
.portland .tm {background-color: #461D7C; stroke: #461D7C}
.portland-state .tm {background-color: #02461D; stroke: #02461D}
.prairie-view .tm {background-color: #4F2582; stroke: #4F2582}
.prairie-view-am .tm {background-color: #4F2582; stroke: #4F2582}
.presbyterian .tm {background-color: #0060A9; stroke: #0060A9}
.princeton .tm {background-color: #FF6600; stroke: #FF6600}
.providence .tm {background-color: #000000; stroke: #000000}
.purdue .tm {background-color: #B1946C; stroke: #B1946C}
.purdue-calumet .tm {background-color: #000000; stroke: #000000}
.quinnipiac .tm {background-color: #003664; stroke: #003664}
.radford .tm {background-color: #F47B20; stroke: #F47B20}
.rhode-island .tm {background-color: #75B2DD; stroke: #75B2DD}
.rice .tm {background-color: #002469; stroke: #002469}
.richmond .tm {background-color: #000066; stroke: #000066}
.rider .tm {background-color: #BB0000; stroke: #BB0000}
.robert-morris .tm {background-color: #000064; stroke: #000064}
.robert-morris-illinois .tm {background-color: #6F263D; stroke: #6F263D}
.rutgers .tm {background-color: #CF0015; stroke: #CF0015}
.sacramento-state .tm {background-color: #00563C; stroke: #00563C}
.sacred-heart .tm {background-color: #B22222; stroke: #B22222}
.saint-josephs .tm {background-color: #9E1B32; stroke: #9E1B32}
.saint-louis .tm {background-color: #0000FF; stroke: #0000FF}
.saint-marys .tm {background-color: #E41D25; stroke: #E41D25}
.sam-houston-state .tm {background-color: #5858FA; stroke: #5858FA}
.samford .tm {background-color: #CA1009; stroke: #CA1009}
.san-diego .tm {background-color: #0031AD; stroke: #0031AD}
.san-diego-state .tm {background-color: #A81933; stroke: #A81933}
.san-francisco .tm {background-color: #006633; stroke: #006633}
.san-jose-state .tm {background-color: #C79900; stroke: #C79900}
.santa-clara .tm {background-color: #AA003D; stroke: #AA003D}
.savannah-state .tm {background-color: #FF6600; stroke: #FF6600}
.seattle .tm {background-color: #00839A; stroke: #00839A}
.seton-hall .tm {background-color: #0000FF; stroke: #0000FF}
.siena .tm {background-color: #0047AB; stroke: #0047AB}
.siu-edwardsville-siue .tm {background-color: #CC0000; stroke: #CC0000}
.south-alabama .tm {background-color: #FF0000; stroke: #FF0000}
.south-carolina .tm {background-color: #8C2633; stroke: #8C2633}
.south-carolina-state .tm {background-color: #960018; stroke: #960018}
.south-dakota .tm {background-color: #AD0000; stroke: #AD0000}
.south-dakota-state .tm {background-color: #0000FF; stroke: #0000FF}
.south-florida .tm {background-color: #395F4A; stroke: #395F4A}
.southeast-missouri-state .tm {background-color: #FF0000; stroke: #FF0000}
.southeastern-louisiana .tm {background-color: #006643; stroke: #006643}
.southern-illinois .tm {background-color: #800000; stroke: #800000}
.southern-methodist .tm {background-color: #B10000; stroke: #B10000}
.southern-miss .tm {background-color: #000000; stroke: #000000}
.southern-university .tm {background-color: #75B2DD; stroke: #75B2DD}
.southern-utah .tm {background-color: #FF0000; stroke: #FF0000}
.southern-virginia-svu .tm {background-color: #892333; stroke: #892333}
.st-bonaventure .tm {background-color: #DF1741; stroke: #DF1741}
.st-francis-ny .tm {background-color: #191970; stroke: #191970}
.st-francis-pa-sfu .tm {background-color: #9D2235; stroke: #9D2235}
.st-johns .tm {background-color: #990000; stroke: #990000}
.st-peters .tm {background-color: #003C71; stroke: #003C71}
.st-thomas-texas .tm {background-color: #AE122B; stroke: #AE122B}
.stanford .tm {background-color: #990000; stroke: #990000}
.stephen-f-austin .tm {background-color: #330066; stroke: #330066}
.stetson .tm {background-color: #006000; stroke: #006000}
.stony-brook .tm {background-color: #FF0101; stroke: #FF0101}
.syracuse .tm {background-color: #FF7F00; stroke: #FF7F00}
.tcu .tm {background-color: #342A7B; stroke: #342A7B}
.temple .tm {background-color: #A81625; stroke: #A81625}
.tennessee .tm {background-color: #FF8200; stroke: #FF8200}
.tennessee-state .tm {background-color: #D2DDFC; stroke: #D2DDFC}
.tennessee-tech .tm {background-color: #D2DDFC; stroke: #D2DDFC}
.tennessee-martin .tm {background-color: #A02643; stroke: #A02643}
.texas .tm {background-color: #CC5500; stroke: #CC5500}
.texas-am .tm {background-color: #500000; stroke: #500000}
.texas-am-corpus-christi .tm {background-color: #0067C5; stroke: #0067C5}
.texas-christian-tcu .tm {background-color: #4D1979; stroke: #4D1979}
.texas-el-paso-utep .tm {background-color: #00285E; stroke: #00285E}
.texas-southern .tm {background-color: #CCCCFF; stroke: #CCCCFF}
.texas-state .tm {background-color: #501214; stroke: #501214}
.texas-tech .tm {background-color: #CC0000; stroke: #CC0000}
.texas-arlington .tm {background-color: #F58025; stroke: #F58025}
.texas-pan-american .tm {background-color: #006600; stroke: #006600}
.texas-san-antonio .tm {background-color: #0C2340; stroke: #0C2340}
.toledo .tm {background-color: #191970; stroke: #191970}
.towson .tm {background-color: #000000; stroke: #000000}
.trinity-college .tm {background-color: #002F5B; stroke: #002F5B}
.troy .tm {background-color: #C41E3A; stroke: #C41E3A}
.tulane .tm {background-color: #063003; stroke: #063003}
.tulsa .tm {background-color: #CFB53B; stroke: #CFB53B}
.uab .tm {background-color: #008000; stroke: #008000}
.uc-davis .tm {background-color: #002666; stroke: #002666}
.uc-irvine .tm {background-color: #002469; stroke: #002469}
.uc-riverside .tm {background-color: #2D6CC0; stroke: #2D6CC0}
.uc-santa-barbara .tm {background-color: #000099; stroke: #000099}
.uc-santa-cruz .tm {background-color: #003C6C; stroke: #003C6C}
.ucf .tm {background-color: #BA9B37; stroke: #BA9B37}
.ucla .tm {background-color: #536895; stroke: #536895}
.umbc .tm {background-color: #FFC20E; stroke: #FFC20E}
.umkc .tm {background-color: #CFB53B; stroke: #CFB53B}
.unc-greensboro .tm {background-color: #FFCC00; stroke: #FFCC00}
.union-college-ny .tm {background-color: #822433; stroke: #822433}
.union-college-ky .tm {background-color: #FF671F; stroke: #FF671F}
.unlv .tm {background-color: #B10202; stroke: #B10202}
.usc .tm {background-color: #9D2235; stroke: #9D2235}
.usc-upstate .tm {background-color: #8C2633; stroke: #8C2633}
.utah .tm {background-color: #CC0000; stroke: #CC0000}
.utah-state .tm {background-color: #003366; stroke: #003366}
.utah-valley .tm {background-color: #006633; stroke: #006633}
.utep .tm {background-color: #FF7F00; stroke: #FF7F00}
.valparaiso .tm {background-color: #964B00; stroke: #964B00}
.vanderbilt .tm {background-color: #000000; stroke: #000000}
.vermont .tm {background-color: #006438; stroke: #006438}
.villanova .tm {background-color: #00337F; stroke: #00337F}
.virginia .tm {background-color: #193980; stroke: #193980}
.virginia .tm {background-color: #193980; stroke: #193980}
.virginia-commonwealth .tm {background-color: #000000; stroke: #000000}
.virginia-military .tm {background-color: #AE122B; stroke: #AE122B}
.virginia-tech .tm {background-color: #660000; stroke: #660000}
.virginia-tech .tm {background-color: #660000; stroke: #660000}
.virginia-wise .tm {background-color: #D21245; stroke: #D21245}
.wagner .tm {background-color: #186ED1; stroke: #186ED1}
.wake-forest .tm {background-color: #A67F31; stroke: #A67F31}
.washington .tm {background-color: #363C74; stroke: #363C74}
.washington-state .tm {background-color: #9E1B34; stroke: #9E1B34}
.weber-state .tm {background-color: #4B2187; stroke: #4B2187}
.west-virginia .tm {background-color: #FFCC00; stroke: #FFCC00}
.western-carolina .tm {background-color: #592C87; stroke: #592C87}
.western-illinois .tm {background-color: #5B027A; stroke: #5B027A}
.western-kentucky .tm {background-color: #FF2222; stroke: #FF2222}
.western-michigan .tm {background-color: #6A3E0F; stroke: #6A3E0F}
.western-new-mexico .tm {background-color: #42196F; stroke: #42196F}
.wichita-state .tm {background-color: #000000; stroke: #000000}
.wilberforce .tm {background-color: #156734; stroke: #156734}
.wiley-college .tm {background-color: #492F92; stroke: #492F92}
.william--mary .tm {background-color: #115740; stroke: #115740}
.wilmington .tm {background-color: #00843D; stroke: #00843D}
.winthrop .tm {background-color: #F47B20; stroke: #F47B20}
.wisconsin .tm {background-color: #CC1122; stroke: #CC1122}
.wofford .tm {background-color: #CFB53B; stroke: #CFB53B}
.wright-state .tm {background-color: #00694A; stroke: #00694A}
.wyoming .tm {background-color: #492F24; stroke: #492F24}
.xavier .tm {background-color: #000080; stroke: #000080}
.yale .tm {background-color: #000066; stroke: #000066}
.youngstown-state .tm {background-color: #FF0000; stroke: #FF0000}