.air-force .team {background-color: #0000FF;}
.akron .team {background-color: #00285C;}
.alabama .team {background-color: #990000;}
.alabama-am .team {background-color: #580000;}
.alabama-state .team {background-color: #000000;}
.albany .team {background-color: #452663;}
.alcorn-state .team {background-color: #4B0082;}
.american-university .team {background-color: #B5013B;}
.anderson-indiana .team {background-color: #EC730A;}
.appalachian-state .team {background-color: #000000;}
.arizona .team {background-color: #C41E3A;}
.arizona-state .team {background-color: #800000;}
.arkansas .team {background-color: #9D2235;}
.arkansas-state .team {background-color: #CC092F;}
.arkansas-little-rock .team {background-color: #800000;}
.arkansas-pine-bluff .team {background-color: #C41E3A;}
.army .team {background-color: #000000;}
.auburn .team {background-color: #0C2340;}
.austin-peay .team {background-color: #D2DDFC;}
.ball-state .team {background-color: #CC0000;}
.baruch .team {background-color: #10448C;}
.baylor .team {background-color: #006600;}
.belmont .team {background-color: #E0001D;}
.bethany-california .team {background-color: #920300;}
.bethune-cookman .team {background-color: #6A3547;}
.binghamton .team {background-color: #006B54;}
.bluefield-college .team {background-color: #003C81;}
.boise-state .team {background-color: #1F60A9;}
.boston-college .team {background-color: #8B0000;}
.boston-university .team {background-color: #FF2000;}
.bowling-green .team {background-color: #FF7300;}
.bradley .team {background-color: #FF0000;}
.brigham-young .team {background-color: #001E4C;}
.brigham-young .team {background-color: #002255;}
.brown .team {background-color: #321414;}
.bryant-university .team {background-color: #000000;}
.bucknell .team {background-color: #FF9900;}
.buffalo .team {background-color: #FFFFFF;}
.butler .team {background-color: #00386D;}
.cal-poly .team {background-color: #1E4D2B;}
.cal-state-bakersfield .team {background-color: #DDDDFF;}
.cal-state-fullerton .team {background-color: #FFC94B;}
.cal-state-northridge .team {background-color: #C60C30;}
.california .team {background-color: #191970;}
.campbell .team {background-color: #FF7F00;}
.canisius .team {background-color: #0047AB;}
.carver-bible-college .team {background-color: #262454;}
.centenary .team {background-color: #800000;}
.central-arkansas .team {background-color: #43286B;}
.central-connecticut-state .team {background-color: #00539B;}
.central-michigan .team {background-color: #660033;}
.charleston .team {background-color: #800000;}
.charleston-southern .team {background-color: #FFFFFF;}
.charlotte .team {background-color: #007310;}
.chattanooga .team {background-color: #00386B;}
.chicago-state .team {background-color: #006666;}
.cincinnati .team {background-color: #E00122;}
.citadel .team {background-color: #3975B7;}
.clemson .team {background-color: #FF6300;}
.cleveland-state .team {background-color: #003300;}
.coastal-carolina .team {background-color: #008080;}
.college-of-new-jersey .team {background-color: #2A3E6F;}
.colgate .team {background-color: #CA030A;}
.colorado .team {background-color: #C0C0C0;}
.colorado-state .team {background-color: #00A550;}
.columbia .team {background-color: #9BDDFF;}
.connecticut .team {background-color: #000E2F;}
.coppin-state .team {background-color: #69005C;}
.cornell .team {background-color: #B31B1B;}
.creighton .team {background-color: #005CA9;}
.dallas-christian .team {background-color: #980200;}
.dallas-university .team {background-color: #0F3A71;}
.dartmouth .team {background-color: #00693E;}
.davidson .team {background-color: #FF0000;}
.dayton .team {background-color: #FF0000;}
.delaware .team {background-color: #0069AA;}
.delaware-state .team {background-color: #FF0000;}
.denver .team {background-color: #FFFFFF;}
.depaul .team {background-color: #0000FF;}
.detroit .team {background-color: #0000CD;}
.dillard .team {background-color: #1B4299;}
.dominican .team {background-color: #0B4082;}
.drake .team {background-color: #000070;}
.drexel .team {background-color: #000066;}
.duke .team {background-color: #003893;}
.duquesne .team {background-color: #000066;}
.east-carolina .team {background-color: #592A8A;}
.east-tennessee-state .team {background-color: #000080;}
.east-texas-baptist .team {background-color: #082342;}
.eastern-illinois .team {background-color: #0000FF;}
.eastern-kentucky .team {background-color: #7A0019;}
.eastern-michigan .team {background-color: #005D28;}
.eastern-washington .team {background-color: #A10022;}
.elon .team {background-color: #660000;}
.evansville .team {background-color: #52237F;}
.fairfield .team {background-color: #C41E3A;}
.fairleigh-dickinson .team {background-color: #025696;}
.ferris-state .team {background-color: #C03;}
.florida .team {background-color: #FF4A00;}
.florida-am .team {background-color: #F4811F;}
.florida-atlantic .team {background-color: #003366;}
.florida-gulf-coast .team {background-color: #0047AB;}
.florida-international .team {background-color: #002D62;}
.florida-memorial .team {background-color: #085DAA;}
.florida-state .team {background-color: #990000;}
.fordham .team {background-color: #76032E;}
.fresno-state .team {background-color: #9A122C;}
.furman .team {background-color: #6B3FA0;}
.gardner-webb .team {background-color: #BF2F37;}
.george-mason .team {background-color: #008000;}
.george-washington .team {background-color: #EECFA1;}
.georgetown .team {background-color: #003366;}
.georgia .team {background-color: #FF0000;}
.georgia-southern .team {background-color: #000080;}
.georgia-state .team {background-color: #0000FF;}
.georgia-tech .team {background-color: #CFB53B;}
.gonzaga .team {background-color: #FFFFFF;}
.grambling-state .team {background-color: #000000;}
.green-bay .team {background-color: #005643;}
.greenville .team {background-color: #F57B21;}
.hampton .team {background-color: #A8EDEF;}
.hannibal-legrange-college .team {background-color: #172751;}
.hartford .team {background-color: #FF2400;}
.harvard .team {background-color: #DC143C;}
.haskell .team {background-color: #65316D;}
.hawaii .team {background-color: #800020;}
.high-point .team {background-color: #F47B20;}
.hiwassee-college .team {background-color: #65152B;}
.hofstra .team {background-color: #16007C;}
.holy-cross .team {background-color: #660066;}
.houston .team {background-color: #CC0000;}
.houston-baptist .team {background-color: #3E66C3;}
.howard .team {background-color: #FF0000;}
.huntingdon .team {background-color: #E41A37;}
.idaho .team {background-color: #C0C0C0;}
.idaho-state .team {background-color: #000000;}
.illinois .team {background-color: #FF6600;}
.illinois-state .team {background-color: #FF0000;}
.illinois-chicago-uic .team {background-color: #AC1E2D;}
.indiana .team {background-color: #FFFFCC;}
.indiana-state .team {background-color: #0F4D92;}
.iona .team {background-color: #6F2C3F;}
.iowa .team {background-color: #000000;}
.iowa-state .team {background-color: #A71930;}
.ipfw .team {background-color: #4169E1;}
.iupui .team {background-color: #990000;}
.jackson-state .team {background-color: #092183;}
.jacksonville .team {background-color: #215E21;}
.jacksonville-state .team {background-color: #A02643;}
.james-madison .team {background-color: #C2A14D;}
.kansas .team {background-color: #0049AE;}
.kansas-state .team {background-color: #68217A;}
.kennesaw-state .team {background-color: #FEBC11;}
.kent-state .team {background-color: #0A0D6F;}
.kentucky .team {background-color: #00407A;}
.la-salle .team {background-color: #00386B;}
.la-sierra-university .team {background-color: #142F46;}
.lafayette .team {background-color: #800000;}
.lamar .team {background-color: #FF2222;}
.lehigh .team {background-color: #67391A;}
.liberty .team {background-color: #000080;}
.lipscomb .team {background-color: #331E54;}
.liu-brooklyn .team {background-color: #294C87;}
.long-beach-state .team {background-color: #FFC82A;}
.long-island .team {background-color: #CCCCFF;}
.longwood .team {background-color: #2D338E;}
.los-angeles-tech .team {background-color: #D12133;}
.louisiana-college .team {background-color: #273A7D;}
.louisiana-tech .team {background-color: #002F8B;}
.louisiana-lafayette .team {background-color: #A00B0B;}
.louisiana-monroe .team {background-color: #800000;}
.louisville .team {background-color: #AD0000;}
.loyola-marymount .team {background-color: #CC1111;}
.loyola-chicago .team {background-color: #922247;}
.loyola-marymount .team {background-color: #B62B3A;}
.lsu .team {background-color: #461D7C;}
.lsu-shreveport .team {background-color: #461D7C;}
.lyndon-state .team {background-color: #004712;}
.maine .team {background-color: #00244D;}
.manhattan .team {background-color: #0047AB;}
.marist .team {background-color: #990000;}
.marquette .team {background-color: #00386D;}
.marshall .team {background-color: #008000;}
.maryland .team {background-color: #CE1126;}
.maryland-eastern-shore .team {background-color: #651D32;}
.marywood .team {background-color: #015A20;}
.massachusetts .team {background-color: #881C1C;}
.mcneese-state .team {background-color: #081C90;}
.memphis .team {background-color: #0C1C8C;}
.mercer .team {background-color: #E87511;}
.miami-fla .team {background-color: #AACCFF;}
.miami-oh .team {background-color: #B61E2E;}
.michigan .team {background-color: #F5D130;}
.michigan-state .team {background-color: #18453B;}
.middle-tennessee .team {background-color: #00407A;}
.milwaukee .team {background-color: #99CCFF;}
.minnesota .team {background-color: #800000;}
.minot-state .team {background-color: #C60C30;}
.mississippi-ole-miss .team {background-color: #C8102E;}
.mississippi-college .team {background-color: #00305C;}
.mississippi-state .team {background-color: #660000;}
.mississippi-valley-state .team {background-color: #046A38;}
.missouri .team {background-color: #F1B82D;}
.missouri-state .team {background-color: #810541;}
.monmouth .team {background-color: #186ED1;}
.montana .team {background-color: #660033;}
.montana-state .team {background-color: #0A1F62;}
.montana-western .team {background-color: #E10304;}
.morehead-state .team {background-color: #EDD5A6;}
.morgan-state .team {background-color: #FF8C00;}
.morris-college .team {background-color: #0068B3;}
.mount-st-marys .team {background-color: #2C4E87;}
.murray-state .team {background-color: #000033;}
.njit .team {background-color: #D11717;}
.navy .team {background-color: #000080;}
.nebraska .team {background-color: #FF2400;}
.nevada .team {background-color: #002961;}
.new-hampshire .team {background-color: #00337F;}
.new-mexico .team {background-color: #CCCCCC;}
.new-mexico-state .team {background-color: #800020;}
.new-orleans .team {background-color: #003399;}
.niagara .team {background-color: #582C83;}
.nicholls-state .team {background-color: #081C90;}
.norfolk-state .team {background-color: #69005C;}
.north-alabama .team {background-color: #46166B;}
.north-carolina .team {background-color: #6699CC;}
.north-carolina-at .team {background-color: #004684;}
.north-carolina-central .team {background-color: #6A2C3E;}
.north-carolina-state .team {background-color: #E00000;}
.north-carolina-asheville .team {background-color: #003DA5;}
.north-carolina-wilmington .team {background-color: #006666;}
.north-dakota .team {background-color: #00A000;}
.north-dakota-state .team {background-color: #0A5640;}
.north-florida .team {background-color: #00246B;}
.north-texas .team {background-color: #059033;}
.northeastern .team {background-color: #000000;}
.northern-arizona .team {background-color: #003366;}
.northern-colorado .team {background-color: #013C65;}
.northern-illinois .team {background-color: #000000;}
.northern-iowa .team {background-color: #660099;}
.northwestern .team {background-color: #431F81;}
.northwestern-state .team {background-color: #660099;}
.notre-dame .team {background-color: #C5B358;}
.nyc-tech .team {background-color: #3C5BA5;}
.oakland .team {background-color: #000000;}
.ohio .team {background-color: #006633;}
.ohio-state .team {background-color: #FF2000;}
.oklahoma .team {background-color: #960018;}
.oklahoma-state .team {background-color: #FF6600;}
.old-dominion .team {background-color: #002B5F;}
.olivet-nazarene .team {background-color: #381853;}
.oral-roberts .team {background-color: #CFB53B;}
.oregon .team {background-color: #006666;}
.oregon-state .team {background-color: #CC5500;}
.pacific .team {background-color: #FF6600;}
.panhandle-state-opsu .team {background-color: #C8102E;}
.penn-state .team {background-color: #162952;}
.pennsylvania .team {background-color: #990000;}
.pepperdine .team {background-color: #0000FF;}
.pittsburgh .team {background-color: #091C44;}
.portland .team {background-color: #461D7C;}
.portland-state .team {background-color: #02461D;}
.prairie-view .team {background-color: #4F2582;}
.prairie-view-am .team {background-color: #4F2582;}
.presbyterian .team {background-color: #0060A9;}
.princeton .team {background-color: #FF6600;}
.providence .team {background-color: #000000;}
.purdue .team {background-color: #B1946C;}
.purdue-calumet .team {background-color: #000000;}
.quinnipiac .team {background-color: #003664;}
.radford .team {background-color: #F47B20;}
.rhode-island .team {background-color: #75B2DD;}
.rice .team {background-color: #002469;}
.richmond .team {background-color: #000066;}
.rider .team {background-color: #BB0000;}
.robert-morris .team {background-color: #000064;}
.robert-morris-illinois .team {background-color: #6F263D;}
.rutgers .team {background-color: #CF0015;}
.sacramento-state .team {background-color: #00563C;}
.sacred-heart .team {background-color: #B22222;}
.saint-josephs .team {background-color: #9E1B32;}
.saint-louis .team {background-color: #0000FF;}
.saint-marys .team {background-color: #E41D25;}
.sam-houston-state .team {background-color: #5858FA;}
.samford .team {background-color: #CA1009;}
.san-diego .team {background-color: #0031AD;}
.san-diego-state .team {background-color: #A81933;}
.san-francisco .team {background-color: #006633;}
.san-jose-state .team {background-color: #C79900;}
.santa-clara .team {background-color: #AA003D;}
.savannah-state .team {background-color: #FF6600;}
.seattle .team {background-color: #00839A;}
.seton-hall .team {background-color: #0000FF;}
.siena .team {background-color: #0047AB;}
.siu-edwardsville-siue .team {background-color: #CC0000;}
.south-alabama .team {background-color: #FF0000;}
.south-carolina .team {background-color: #8C2633;}
.south-carolina-state .team {background-color: #960018;}
.south-dakota .team {background-color: #AD0000;}
.south-dakota-state .team {background-color: #0000FF;}
.south-florida .team {background-color: #395F4A;}
.southeast-missouri-state .team {background-color: #FF0000;}
.southeastern-louisiana .team {background-color: #006643;}
.southern-illinois .team {background-color: #800000;}
.southern-methodist .team {background-color: #B10000;}
.southern-miss .team {background-color: #000000;}
.southern-university .team {background-color: #75B2DD;}
.southern-utah .team {background-color: #FF0000;}
.southern-virginia-svu .team {background-color: #892333;}
.st-bonaventure .team {background-color: #DF1741;}
.st-francis-ny .team {background-color: #191970;}
.st-francis-pa-sfu .team {background-color: #9D2235;}
.st-johns .team {background-color: #990000;}
.st-peters .team {background-color: #003C71;}
.st-thomas-texas .team {background-color: ##AE122B;}
.stanford .team {background-color: #990000;}
.stephen-f-austin .team {background-color: #330066;}
.stetson .team {background-color: #006000;}
.stony-brook .team {background-color: #FF0101;}
.syracuse .team {background-color: #FF7F00;}
.tcu .team {background-color: #342A7B;}
.temple .team {background-color: #A81625;}
.tennessee .team {background-color: #FF8200;}
.tennessee-state .team {background-color: #D2DDFC;}
.tennessee-tech .team {background-color: #D2DDFC;}
.tennessee-martin .team {background-color: #A02643;}
.texas .team {background-color: #CC5500;}
.texas-am .team {background-color: #500000;}
.texas-am-corpus-christi .team {background-color: #0067C5;}
.texas-christian-tcu .team {background-color: #4D1979;}
.texas-el-paso-utep .team {background-color: #00285E;}
.texas-southern .team {background-color: #CCCCFF;}
.texas-state .team {background-color: #501214;}
.texas-tech .team {background-color: #CC0000;}
.texas-arlington .team {background-color: #F58025;}
.texas-pan-american .team {background-color: #006600;}
.texas-san-antonio .team {background-color: #0C2340;}
.toledo .team {background-color: #191970;}
.towson .team {background-color: #000000;}
.trinity-college .team {background-color: #002F5B;}
.troy .team {background-color: #C41E3A;}
.tulane .team {background-color: #063003;}
.tulsa .team {background-color: #CFB53B;}
.uab .team {background-color: #008000;}
.uc-davis .team {background-color: #002666;}
.uc-irvine .team {background-color: #002469;}
.uc-riverside .team {background-color: #2D6CC0;}
.uc-santa-barbara .team {background-color: #000099;}
.uc-santa-cruz .team {background-color: #003C6C;}
.ucf .team {background-color: #BA9B37;}
.ucla .team {background-color: #536895;}
.umbc .team {background-color: #FFC20E;}
.umkc .team {background-color: #CFB53B;}
.unc-greensboro .team {background-color: #FFCC00;}
.union-college-ny .team {background-color: #822433;}
.union-college-ky .team {background-color: #FF671F;}
.unlv .team {background-color: #B10202;}
.usc .team {background-color: #9D2235;}
.usc-upstate .team {background-color: #8C2633;}
.utah .team {background-color: #CC0000;}
.utah-state .team {background-color: #003366;}
.utah-valley .team {background-color: #006633;}
.utep .team {background-color: #FF7F00;}
.valparaiso .team {background-color: #964B00;}
.vanderbilt .team {background-color: #000000;}
.vermont .team {background-color: #006438;}
.villanova .team {background-color: #00337F;}
.virginia .team {background-color: #193980;}
.virginia .team {background-color: #193980;}
.virginia-commonwealth .team {background-color: #000000;}
.virginia-military .team {background-color: #AE122B;}
.virginia-tech .team {background-color: #660000;}
.virginia-tech .team {background-color: #660000;}
.virginia-wise .team {background-color: #D21245;}
.wagner .team {background-color: #186ED1;}
.wake-forest .team {background-color: #A67F31;}
.washington .team {background-color: #363C74;}
.washington-state .team {background-color: #9E1B34;}
.weber-state .team {background-color: #4B2187;}
.west-virginia .team {background-color: #FFCC00;}
.western-carolina .team {background-color: #592C87;}
.western-illinois .team {background-color: #5B027A;}
.western-kentucky .team {background-color: #FF2222;}
.western-michigan .team {background-color: #6A3E0F;}
.western-new-mexico .team {background-color: #42196F;}
.wichita-state .team {background-color: #000000;}
.wilberforce .team {background-color: #156734;}
.wiley-college .team {background-color: #492F92;}
.william--mary .team {background-color: #115740;}
.wilmington .team {background-color: #00843D;}
.winthrop .team {background-color: #F47B20;}
.wisconsin .team {background-color: #CC1122;}
.wofford .team {background-color: #CFB53B;}
.wright-state .team {background-color: #00694A;}
.wyoming .team {background-color: #492F24;}
.xavier .team {background-color: #000080;}
.yale .team {background-color: #000066;}
.youngstown-state .team {background-color: #FF0000;}
