/* stuff for the time being */
body {
 font-family: "Roboto", sans-serif;
 letter-spacing: 0.2px;
 color: #131313;
 margin-left: 2%;
 max-width:741px;
}
p {
  margin-top: 0;
}
h2 {
  margin: 0;
  margin-bottom: 12px;
  padding-top: 24px;
}
@media (max-width: 768px) {
  h2 {
    padding: 0;
  }
}
.lead {
  font-style: italic;
  margin-top: 24px;
}
.title {
  text-transform: capitalize;
  font-weight: 700;
}
@media (max-width: 375px) {
  .map .title {
    display: block;
  }
}
.bold {
  font-weight: 700;
}
/* specific rules */
.double-chart {
  display: flex;
}
@media (max-width: 768px) {
  .double-chart {
    display: block;
  }
}
.chart {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 30px;
}
.chart.quarters:last-child {
  padding-left: 24px;
}
@media (max-width: 768px) {
  .chart.quarters:last-child {
    padding-left: 0px;
  }
}
.key-outer {
  margin-bottom: 12px;
}
.key-item {
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
  line-height: 20px;
}
.key-item.hide {
  display: none;
}
.dot.empty,
.run-rate.map .dot:not(.run) {
  background-color: rgba(255,255,255,0);
  background-image: none;
  opacity: .6;
  border: 1px solid #757575;
  width: 6px;
  height: 6px;
}
.key, .count, .dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-bottom: 2px;
  border-radius: 50%;
}
.key {
  margin-right: 6px;
}
.map .key-item .dot {
  position: inherit;
  margin-left: 0;
  margin-right: 6px;
}

.count {
  margin-left: 6px;
}
.count-item {
  display: inline-block;
  margin-left: 12px;
}

/* bar charts */
.bar-outer {
  margin-bottom: 12px;
}
.bar-info {
  margin-bottom: 6px;
}
.bar-info, .bar, .bar-title {
  display: flex;
  flex-grow: 1;
}
.bar {
  height: 10px;
  position: relative;
}
.bar > .team {
  border-right: 2px solid white;
}
.average {
    display: inline-block;
    height: 10px;
    background-color: white;
    left: 53.333%;
    border-left: 2px dotted #131313;
}
.bar .average {
  position: absolute;
}

/* plays map */
.map .hundred,
.map .thirty,
.map .fifteen,
.map .ten,
.map .five,
.map .zero,
.max-rate,
.mid-rate {
  position: relative;
  background-color: #F6F6F6;
  margin-bottom: 3px;
  height: 40px;
  border-left: 2px solid transparent;
}
.map .hundred,
.map .thirty,
.map .zero {
  border-left: 2px dotted #CECECE;
}
.max-rate, .mid-rate {
  height: 80px;
}
.map-inner {
  position: relative;
}
.run-poly, .pass-poly {
  position: absolute;
  top: 0;
  margin-top: -3px;
  width: 100%;
  height: 100%;
  opacity: 0.1 ;
}
.pass-poly {
  background-color: #757575;
  opacity: 0.16;
}

.map .zero {
  background-color: #EAEAEA;
}
.axis-text, .quarter-text {
  color: #909090;
  font-size: 12px;
  position:absolute;
  margin-top: 6px;
}
.axis-text {
  margin-left: 6px;
}
.axis-text.bottom {
  margin-top: 22px;
}
.dot {
  position: absolute;
  margin: -6px 0 0 -6px;
  border: 1px solid white;
  transition: 250ms;
  transition-timing-function: ease-in-out;
}
.dot.run {
  border-radius: 0;
}
.map .hide .dot {
  opacity: 0.05;
}
.map .light {
  background-image: url("../images/x-gray.png");
  opacity: 0.6;
}
.team-switcher {
  height: 42px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #CECECE;
  border-radius: 2px;
  transition: 100ms;
  transition-timing-function: ease-in;
  font-weight: 500;
  color: #131313;
  margin-top: 4px;
}
.team-switcher:hover {
  border-color: #b1b1b1;
}
.team-switcher:active {
  background-color: #F1F1F1;
}
.team-switcher:focus {
  outline: none;
}

/* team colors stuff */
.team, .gray {
  background-color: #757575;
}
.main {
  opacity: 0.72;
}
.mid-light {
  opacity: 0.36;
}
.light {
  background-image: url("../images/diag-gray.png");
}
.dark {
  background-image: url("../images/dark-overlay.png");
}
.blank {
  background-color: #F1F1F1;
}
