/* stuff for the time being */
body {
 font-family: "Roboto", sans-serif;
 letter-spacing: 0.2px;
 color: #131313;
 margin-left: 2%;
 max-width:741px;
}
p {
  margin-top: 0;
}
h2 {
  margin: 0;
  margin-bottom: 12px;
  padding-top: 24px;
}
@media (max-width: 728px) {
  h2 {
    padding: 0;
  }
}

/* misc generic rules */
.title {
  text-transform: capitalize;
}
.bold {
  font-weight: 700;
}

/* specific rules */
.double-chart {
  display: flex;
}
@media (max-width: 728px) {
  .double-chart {
    display: block;
  }
}
.double-chart > .chart {
  flex-grow: 1;
}
.chart {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
.chart.quarters:first-child {
  padding-right: 12px;
}
.chart.quarters:last-child {
  padding-left: 12px;
}
@media (max-width: 728px) {
  .chart.quarters:first-child {
    padding-right: 0px;
  }
  .chart.quarters:last-child {
    padding-left: 0px;
  }
}
.key-outer {
  margin-bottom: 12px;
}
.key-item {
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
  line-height: 20px;
}
.key-item.title {
  /* display: block; */
  /* margin-bottom: 3px; */
}
.key, .count, .dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-bottom: 2px;
  border-radius: 8px;
}
.key {
  margin-right: 6px;
}
.count {
  margin-left: 6px;
}
.count-outer {
  text-align: right;
  margin-right: 12px;
}
.count-item {
  display: inline-block;
  margin-left: 12px;
}

/* bar charts */
.bar-outer {
  margin-bottom: 12px;
}
.bar-info {
  margin-bottom: 6px;
}
.bar-info, .bar, .bar-title {
  display: flex;
  flex-grow: 1;
}
.bar {
  height: 9px;
}
.bar > .team {
  border-right: 2px solid white;
}

/* plays map */
.map .hundred,
.map .thirty,
.map .ten,
.map .zero {
  position: relative;
  background-color: #F6F6F6;
  margin-bottom: 4px;
  height: 40px;
}
.axis-text {
  color: #9C9C9C;
  font-size: 12px;
  margin-left: 6px;
  margin-top: 6px;
}
.axis-text.bottom {
  margin-top: 20px;
}
.map .thirty {
  height: 40px;
}
.map .ten {
  height: 180px;
  border-bottom: 2px solid #DEDEDE;
}
.map .dot {
  position: absolute;
  margin: 0;
  border: 1px solid white;
}

/* team colors stuff */
.team {
  background-color: #757575;
}
.main {
  opacity: 0.72;
}
.mid-light {
  opacity: 0.36;
}
.light {
  background-image: url("../images/diag-gray.png");
}
.dark {
  background-image: url("../images/dark-overlay.png");
}
.blank {
  background-color: #F1F1F1;
}
