.air-force {
  stroke: rgba(0, 0, 255, 0.85);
  color: #00008f;
  background-color: rgba(153, 153, 255, 0.25);
}

.akron {
  stroke: rgba(0, 40, 92, 0.85);
  color: black;
  background-color: rgba(0, 107, 245, 0.25);
}

.alabama {
  stroke: rgba(153, 0, 0, 0.85);
  color: #290000;
  background-color: rgba(255, 51, 51, 0.25);
}

.alabama-am {
  stroke: rgba(88, 0, 0, 0.85);
  color: black;
  background-color: rgba(241, 0, 0, 0.25);
}

.alabama-state {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.albany {
  stroke: rgba(69, 38, 99, 0.85);
  color: #0c0712;
  background-color: rgba(146, 96, 194, 0.25);
}

.alcorn-state {
  stroke: rgba(75, 0, 130, 0.85);
  color: #0a0012;
  background-color: rgba(159, 28, 255, 0.25);
}

.american-university {
  stroke: rgba(181, 1, 59, 0.85);
  color: #450017;
  background-color: rgba(254, 81, 137, 0.25);
}

.anderson-indiana {
  stroke: rgba(236, 115, 10, 0.85);
  color: #803f05;
  background-color: rgba(250, 196, 149, 0.25);
}

.appalachian-state {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.arizona {
  stroke: rgba(196, 30, 58, 0.85);
  color: #630f1d;
  background-color: rgba(238, 141, 158, 0.25);
}

.arizona-state {
  stroke: rgba(128, 0, 0, 0.85);
  color: #100000;
  background-color: rgba(255, 26, 26, 0.25);
}

.arkansas {
  stroke: rgba(157, 34, 53, 0.85);
  color: #410e16;
  background-color: rgba(225, 119, 135, 0.25);
}

.arkansas-state {
  stroke: rgba(204, 9, 47, 0.85);
  color: #610416;
  background-color: rgba(249, 117, 143, 0.25);
}

.arkansas-little-rock {
  stroke: rgba(128, 0, 0, 0.85);
  color: #100000;
  background-color: rgba(255, 26, 26, 0.25);
}

.arkansas-pine-bluff {
  stroke: rgba(196, 30, 58, 0.85);
  color: #630f1d;
  background-color: rgba(238, 141, 158, 0.25);
}

.army {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.auburn {
  stroke: rgba(12, 35, 64, 0.85);
  color: black;
  background-color: rgba(36, 105, 193, 0.25);
}

.austin-peay {
  stroke: rgba(210, 221, 252, 0.85);
  color: #698ef5;
  background-color: rgba(255, 255, 255, 0.25);
}

.ball-state {
  stroke: rgba(204, 0, 0, 0.85);
  color: #5c0000;
  background-color: rgba(255, 102, 102, 0.25);
}

.baruch {
  stroke: rgba(16, 68, 140, 0.85);
  color: #041327;
  background-color: rgba(75, 142, 234, 0.25);
}

.baylor {
  stroke: rgba(0, 102, 0, 0.85);
  color: black;
  background-color: rgba(0, 255, 0, 0.25);
}

.belmont {
  stroke: rgba(224, 0, 29, 0.85);
  color: #70000e;
  background-color: rgba(255, 122, 139, 0.25);
}

.bethany-california {
  stroke: rgba(146, 3, 0, 0.85);
  color: #220100;
  background-color: rgba(255, 48, 44, 0.25);
}

.bethune-cookman {
  stroke: rgba(106, 53, 71, 0.85);
  color: #1f1015;
  background-color: rgba(189, 123, 145, 0.25);
}

.binghamton {
  stroke: rgba(0, 107, 84, 0.85);
  color: black;
  background-color: rgba(5, 255, 201, 0.25);
}

.bluefield-college {
  stroke: rgba(0, 60, 129, 0.85);
  color: #000811;
  background-color: rgba(27, 133, 255, 0.25);
}

.boise-state {
  stroke: rgba(31, 96, 169, 0.85);
  color: #0e2a4a;
  background-color: rgba(122, 173, 231, 0.25);
}

.boston-college {
  stroke: rgba(139, 0, 0, 0.85);
  color: #1b0000;
  background-color: rgba(255, 37, 37, 0.25);
}

.boston-university {
  stroke: rgba(255, 32, 0, 0.85);
  color: #8f1200;
  background-color: rgba(255, 166, 153, 0.25);
}

.bowling-green {
  stroke: rgba(255, 115, 0, 0.85);
  color: #8f4000;
  background-color: rgba(255, 199, 153, 0.25);
}

.bradley {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.brigham-young {
  stroke: rgba(0, 30, 76, 0.85);
  color: black;
  background-color: rgba(0, 90, 229, 0.25);
}

.brown {
  stroke: rgba(50, 20, 20, 0.85);
  color: black;
  background-color: rgba(159, 64, 64, 0.25);
}

.bryant-university {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.bucknell {
  stroke: rgba(255, 153, 0, 0.85);
  color: #8f5600;
  background-color: rgba(255, 214, 153, 0.25);
}

.buffalo {
  stroke: rgba(255, 255, 255, 0.85);
  color: #c7c7c7;
  background-color: rgba(255, 255, 255, 0.25);
}

.butler {
  stroke: rgba(0, 56, 109, 0.85);
  color: black;
  background-color: rgba(7, 134, 255, 0.25);
}

.cal-poly {
  stroke: rgba(30, 77, 43, 0.85);
  color: black;
  background-color: rgba(75, 185, 105, 0.25);
}

.cal-state-bakersfield {
  stroke: rgba(221, 221, 255, 0.85);
  color: #6d6dff;
  background-color: rgba(255, 255, 255, 0.25);
}

.cal-state-fullerton {
  stroke: rgba(255, 201, 75, 0.85);
  color: #da9800;
  background-color: rgba(255, 247, 228, 0.25);
}

.cal-state-northridge {
  stroke: rgba(198, 12, 48, 0.85);
  color: #5c0616;
  background-color: rgba(247, 116, 142, 0.25);
}

.california {
  stroke: rgba(25, 25, 112, 0.85);
  color: #050514;
  background-color: rgba(75, 75, 215, 0.25);
}

.campbell {
  stroke: rgba(255, 127, 0, 0.85);
  color: #8f4700;
  background-color: rgba(255, 204, 153, 0.25);
}

.canisius {
  stroke: rgba(0, 71, 171, 0.85);
  color: #00183b;
  background-color: rgba(69, 146, 255, 0.25);
}

.carver-bible-college {
  stroke: rgba(38, 36, 84, 0.85);
  color: #020205;
  background-color: rgba(93, 89, 184, 0.25);
}

.centenary {
  stroke: rgba(128, 0, 0, 0.85);
  color: #100000;
  background-color: rgba(255, 26, 26, 0.25);
}

.central-arkansas {
  stroke: rgba(67, 40, 107, 0.85);
  color: #100919;
  background-color: rgba(141, 102, 198, 0.25);
}

.central-connecticut-state {
  stroke: rgba(0, 83, 155, 0.85);
  color: #00172b;
  background-color: rgba(53, 161, 255, 0.25);
}

.central-michigan {
  stroke: rgba(102, 0, 51, 0.85);
  color: black;
  background-color: rgba(255, 0, 128, 0.25);
}

.charleston {
  stroke: rgba(128, 0, 0, 0.85);
  color: #100000;
  background-color: rgba(255, 26, 26, 0.25);
}

.charleston-southern {
  stroke: rgba(255, 255, 255, 0.85);
  color: #c7c7c7;
  background-color: rgba(255, 255, 255, 0.25);
}

.charlotte {
  stroke: rgba(0, 115, 16, 0.85);
  color: #000300;
  background-color: rgba(13, 255, 47, 0.25);
}

.chattanooga {
  stroke: rgba(0, 56, 107, 0.85);
  color: black;
  background-color: rgba(5, 136, 255, 0.25);
}

.chicago-state {
  stroke: rgba(0, 102, 102, 0.85);
  color: black;
  background-color: rgba(0, 255, 255, 0.25);
}

.cincinnati {
  stroke: rgba(224, 1, 34, 0.85);
  color: #700111;
  background-color: rgba(254, 124, 143, 0.25);
}

.citadel {
  stroke: rgba(57, 117, 183, 0.85);
  color: #1e3e61;
  background-color: rgba(166, 195, 227, 0.25);
}

.clemson {
  stroke: rgba(255, 99, 0, 0.85);
  color: #8f3700;
  background-color: rgba(255, 193, 153, 0.25);
}

.cleveland-state {
  stroke: rgba(0, 51, 0, 0.85);
  color: black;
  background-color: rgba(0, 204, 0, 0.25);
}

.coastal-carolina {
  stroke: rgba(0, 128, 128, 0.85);
  color: #001010;
  background-color: rgba(26, 255, 255, 0.25);
}

.college-of-new-jersey {
  stroke: rgba(42, 62, 111, 0.85);
  color: #0b111e;
  background-color: rgba(107, 134, 199, 0.25);
}

.colgate {
  stroke: rgba(202, 3, 10, 0.85);
  color: #5b0105;
  background-color: rgba(253, 105, 110, 0.25);
}

.colorado {
  stroke: rgba(192, 192, 192, 0.85);
  color: #888888;
  background-color: rgba(255, 255, 255, 0.25);
}

.colorado-state {
  stroke: rgba(0, 165, 80, 0.85);
  color: #00351a;
  background-color: rgba(63, 255, 156, 0.25);
}

.columbia {
  stroke: rgba(155, 221, 255, 0.85);
  color: #2bb7ff;
  background-color: rgba(255, 255, 255, 0.25);
}

.connecticut {
  stroke: rgba(0, 14, 47, 0.85);
  color: black;
  background-color: rgba(0, 60, 200, 0.25);
}

.coppin-state {
  stroke: rgba(105, 0, 92, 0.85);
  color: black;
  background-color: rgba(255, 3, 224, 0.25);
}

.cornell {
  stroke: rgba(179, 27, 27, 0.85);
  color: #520c0c;
  background-color: rgba(235, 124, 124, 0.25);
}

.creighton {
  stroke: rgba(0, 92, 169, 0.85);
  color: #001f39;
  background-color: rgba(67, 169, 255, 0.25);
}

.dallas-christian {
  stroke: rgba(152, 2, 0, 0.85);
  color: #280100;
  background-color: rgba(255, 53, 50, 0.25);
}

.dallas-university {
  stroke: rgba(15, 58, 113, 0.85);
  color: #02070e;
  background-color: rgba(53, 130, 228, 0.25);
}

.dartmouth {
  stroke: rgba(0, 105, 62, 0.85);
  color: black;
  background-color: rgba(3, 255, 152, 0.25);
}

.davidson {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.dayton {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.delaware {
  stroke: rgba(0, 105, 170, 0.85);
  color: #00243a;
  background-color: rgba(68, 184, 255, 0.25);
}

.delaware-state {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.denver {
  stroke: rgba(255, 255, 255, 0.85);
  color: #c7c7c7;
  background-color: rgba(255, 255, 255, 0.25);
}

.depaul {
  stroke: rgba(0, 0, 255, 0.85);
  color: #00008f;
  background-color: rgba(153, 153, 255, 0.25);
}

.detroit {
  stroke: rgba(0, 0, 205, 0.85);
  color: #00005d;
  background-color: rgba(103, 103, 255, 0.25);
}

.dillard {
  stroke: rgba(27, 66, 153, 0.85);
  color: #0a193a;
  background-color: rgba(105, 143, 228, 0.25);
}

.dominican {
  stroke: rgba(11, 64, 130, 0.85);
  color: #020d1b;
  background-color: rgba(56, 137, 238, 0.25);
}

.drake {
  stroke: rgba(0, 0, 112, 0.85);
  color: black;
  background-color: rgba(10, 10, 255, 0.25);
}

.drexel {
  stroke: rgba(0, 0, 102, 0.85);
  color: black;
  background-color: rgba(0, 0, 255, 0.25);
}

.duke {
  stroke: rgba(0, 56, 147, 0.85);
  color: #000d23;
  background-color: rgba(45, 125, 255, 0.25);
}

.duquesne {
  stroke: rgba(0, 0, 102, 0.85);
  color: black;
  background-color: rgba(0, 0, 255, 0.25);
}

.east-carolina {
  stroke: rgba(89, 42, 138, 0.85);
  color: #221034;
  background-color: rgba(166, 119, 214, 0.25);
}

.east-tennessee-state {
  stroke: rgba(0, 0, 128, 0.85);
  color: #000010;
  background-color: rgba(26, 26, 255, 0.25);
}

.east-texas-baptist {
  stroke: rgba(8, 35, 66, 0.85);
  color: black;
  background-color: rgba(25, 107, 202, 0.25);
}

.eastern-illinois {
  stroke: rgba(0, 0, 255, 0.85);
  color: #00008f;
  background-color: rgba(153, 153, 255, 0.25);
}

.eastern-kentucky {
  stroke: rgba(122, 0, 25, 0.85);
  color: #0a0002;
  background-color: rgba(255, 20, 68, 0.25);
}

.eastern-michigan {
  stroke: rgba(0, 93, 40, 0.85);
  color: black;
  background-color: rgba(0, 246, 106, 0.25);
}

.eastern-washington {
  stroke: rgba(161, 0, 34, 0.85);
  color: #31000a;
  background-color: rgba(255, 59, 100, 0.25);
}

.elon {
  stroke: rgba(102, 0, 0, 0.85);
  color: black;
  background-color: rgba(255, 0, 0, 0.25);
}

.evansville {
  stroke: rgba(82, 35, 127, 0.85);
  color: #190b27;
  background-color: rgba(159, 102, 213, 0.25);
}

.fairfield {
  stroke: rgba(196, 30, 58, 0.85);
  color: #630f1d;
  background-color: rgba(238, 141, 158, 0.25);
}

.fairleigh-dickinson {
  stroke: rgba(2, 86, 150, 0.85);
  color: #011727;
  background-color: rgba(53, 166, 252, 0.25);
}

.ferris-state {
  stroke: rgba(204, 0, 51, 0.85);
  color: #5c0017;
  background-color: rgba(255, 102, 140, 0.25);
}

.florida {
  stroke: rgba(255, 74, 0, 0.85);
  color: #8f2900;
  background-color: rgba(255, 183, 153, 0.25);
}

.florida-am {
  stroke: rgba(244, 129, 31, 0.85);
  color: #9b4c08;
  background-color: rgba(251, 211, 177, 0.25);
}

.florida-atlantic {
  stroke: rgba(0, 51, 102, 0.85);
  color: black;
  background-color: rgba(0, 128, 255, 0.25);
}

.florida-gulf-coast {
  stroke: rgba(0, 71, 171, 0.85);
  color: #00183b;
  background-color: rgba(69, 146, 255, 0.25);
}

.florida-international {
  stroke: rgba(0, 45, 98, 0.85);
  color: black;
  background-color: rgba(0, 115, 251, 0.25);
}

.florida-memorial {
  stroke: rgba(8, 93, 170, 0.85);
  color: #03223f;
  background-color: rgba(84, 170, 247, 0.25);
}

.florida-state {
  stroke: rgba(153, 0, 0, 0.85);
  color: #290000;
  background-color: rgba(255, 51, 51, 0.25);
}

.fordham {
  stroke: rgba(118, 3, 46, 0.85);
  color: #090003;
  background-color: rgba(249, 25, 109, 0.25);
}

.fresno-state {
  stroke: rgba(154, 18, 44, 0.85);
  color: #36060f;
  background-color: rgba(236, 89, 117, 0.25);
}

.furman {
  stroke: rgba(107, 63, 160, 0.85);
  color: #351f4f;
  background-color: rgba(185, 159, 217, 0.25);
}

.gardner-webb {
  stroke: rgba(191, 47, 55, 0.85);
  color: #65191d;
  background-color: rgba(232, 160, 164, 0.25);
}

.george-mason {
  stroke: rgba(0, 128, 0, 0.85);
  color: #001000;
  background-color: rgba(26, 255, 26, 0.25);
}

.george-washington {
  stroke: rgba(238, 207, 161, 0.85);
  color: #dd9e42;
  background-color: rgba(255, 255, 255, 0.25);
}

.georgetown {
  stroke: rgba(0, 51, 102, 0.85);
  color: black;
  background-color: rgba(0, 128, 255, 0.25);
}

.georgia {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.georgia-southern {
  stroke: rgba(0, 0, 128, 0.85);
  color: #000010;
  background-color: rgba(26, 26, 255, 0.25);
}

.georgia-state {
  stroke: rgba(0, 0, 255, 0.85);
  color: #00008f;
  background-color: rgba(153, 153, 255, 0.25);
}

.georgia-tech {
  stroke: rgba(207, 181, 59, 0.85);
  color: #7c6b1e;
  background-color: rgba(237, 227, 182, 0.25);
}

.gonzaga {
  stroke: rgba(255, 255, 255, 0.85);
  color: #c7c7c7;
  background-color: rgba(255, 255, 255, 0.25);
}

.grambling-state {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.green-bay {
  stroke: rgba(0, 86, 67, 0.85);
  color: black;
  background-color: rgba(0, 239, 186, 0.25);
}

.greenville {
  stroke: rgba(245, 123, 33, 0.85);
  color: #9f4707;
  background-color: rgba(252, 210, 179, 0.25);
}

.hampton {
  stroke: rgba(168, 237, 239, 0.85);
  color: #49d9de;
  background-color: rgba(255, 255, 255, 0.25);
}

.hannibal-legrange-college {
  stroke: rgba(23, 39, 81, 0.85);
  color: black;
  background-color: rgba(58, 97, 199, 0.25);
}

.hartford {
  stroke: rgba(255, 36, 0, 0.85);
  color: #8f1400;
  background-color: rgba(255, 167, 153, 0.25);
}

.harvard {
  stroke: rgba(220, 20, 60, 0.85);
  color: #750b20;
  background-color: rgba(245, 148, 167, 0.25);
}

.haskell {
  stroke: rgba(101, 49, 109, 0.85);
  color: #1d0e20;
  background-color: rgba(183, 118, 193, 0.25);
}

.hawaii {
  stroke: rgba(128, 0, 32, 0.85);
  color: #100004;
  background-color: rgba(255, 26, 83, 0.25);
}

.high-point {
  stroke: rgba(244, 123, 32, 0.85);
  color: #9c4708;
  background-color: rgba(251, 209, 178, 0.25);
}

.hiwassee-college {
  stroke: rgba(101, 21, 43, 0.85);
  color: #080203;
  background-color: rgba(215, 60, 103, 0.25);
}

.hofstra {
  stroke: rgba(22, 0, 124, 0.85);
  color: #02000c;
  background-color: rgba(63, 22, 255, 0.25);
}

.holy-cross {
  stroke: rgba(102, 0, 102, 0.85);
  color: black;
  background-color: rgba(255, 0, 255, 0.25);
}

.houston {
  stroke: rgba(204, 0, 0, 0.85);
  color: #5c0000;
  background-color: rgba(255, 102, 102, 0.25);
}

.houston-baptist {
  stroke: rgba(62, 102, 195, 0.85);
  color: #22396e;
  background-color: rgba(179, 195, 231, 0.25);
}

.howard {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.huntingdon {
  stroke: rgba(228, 26, 55, 0.85);
  color: #7f0f1f;
  background-color: rgba(244, 163, 174, 0.25);
}

.idaho {
  stroke: rgba(192, 192, 192, 0.85);
  color: #888888;
  background-color: rgba(255, 255, 255, 0.25);
}

.idaho-state {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.illinois {
  stroke: rgba(255, 102, 0, 0.85);
  color: #8f3900;
  background-color: rgba(255, 194, 153, 0.25);
}

.illinois-state {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.illinois-chicago-uic {
  stroke: rgba(172, 30, 45, 0.85);
  color: #4c0d14;
  background-color: rgba(232, 123, 135, 0.25);
}

.indiana {
  stroke: rgba(255, 255, 204, 0.85);
  color: #ffff5c;
  background-color: rgba(255, 255, 255, 0.25);
}

.indiana-state {
  stroke: rgba(15, 77, 146, 0.85);
  color: #05172c;
  background-color: rgba(77, 153, 237, 0.25);
}

.iona {
  stroke: rgba(111, 44, 63, 0.85);
  color: #1f0c11;
  background-color: rgba(198, 110, 135, 0.25);
}

.iowa {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.iowa-state {
  stroke: rgba(167, 25, 48, 0.85);
  color: #450a14;
  background-color: rgba(234, 111, 131, 0.25);
}

.ipfw {
  stroke: rgba(65, 105, 225, 0.85);
  color: #18399a;
  background-color: rgba(197, 209, 246, 0.25);
}

.iupui {
  stroke: rgba(153, 0, 0, 0.85);
  color: #290000;
  background-color: rgba(255, 51, 51, 0.25);
}

.jackson-state {
  stroke: rgba(9, 33, 131, 0.85);
  color: #02071a;
  background-color: rgba(52, 89, 241, 0.25);
}

.jacksonville {
  stroke: rgba(33, 94, 33, 0.85);
  color: #040b04;
  background-color: rgba(85, 195, 85, 0.25);
}

.jacksonville-state {
  stroke: rgba(160, 38, 67, 0.85);
  color: #45101d;
  background-color: rgba(224, 127, 150, 0.25);
}

.james-madison {
  stroke: rgba(194, 161, 77, 0.85);
  color: #766029;
  background-color: rgba(233, 221, 191, 0.25);
}

.kansas {
  stroke: rgba(0, 73, 174, 0.85);
  color: #001a3e;
  background-color: rgba(72, 149, 255, 0.25);
}

.kansas-state {
  stroke: rgba(104, 33, 122, 0.85);
  color: #1d0922;
  background-color: rgba(189, 96, 212, 0.25);
}

.kennesaw-state {
  stroke: rgba(254, 188, 17, 0.85);
  color: #9e7201;
  background-color: rgba(255, 231, 169, 0.25);
}

.kent-state {
  stroke: rgba(10, 13, 111, 0.85);
  color: #010108;
  background-color: rgba(39, 44, 235, 0.25);
}

.kentucky {
  stroke: rgba(0, 64, 122, 0.85);
  color: #00050a;
  background-color: rgba(20, 143, 255, 0.25);
}

.la-salle {
  stroke: rgba(0, 56, 107, 0.85);
  color: black;
  background-color: rgba(5, 136, 255, 0.25);
}

.la-sierra-university {
  stroke: rgba(20, 47, 70, 0.85);
  color: black;
  background-color: rgba(54, 127, 189, 0.25);
}

.lafayette {
  stroke: rgba(128, 0, 0, 0.85);
  color: #100000;
  background-color: rgba(255, 26, 26, 0.25);
}

.lamar {
  stroke: rgba(255, 34, 34, 0.85);
  color: #b10000;
  background-color: rgba(255, 187, 187, 0.25);
}

.lehigh {
  stroke: rgba(103, 57, 26, 0.85);
  color: #0d0703;
  background-color: rgba(209, 128, 73, 0.25);
}

.liberty {
  stroke: rgba(0, 0, 128, 0.85);
  color: #000010;
  background-color: rgba(26, 26, 255, 0.25);
}

.lipscomb {
  stroke: rgba(51, 30, 84, 0.85);
  color: #010001;
  background-color: rgba(121, 76, 191, 0.25);
}

.liu-brooklyn {
  stroke: rgba(41, 76, 135, 0.85);
  color: #0f1c31;
  background-color: rgba(116, 152, 213, 0.25);
}

.long-beach-state {
  stroke: rgba(255, 200, 42, 0.85);
  color: #b98900;
  background-color: rgba(255, 240, 195, 0.25);
}

.long-island {
  stroke: rgba(204, 204, 255, 0.85);
  color: #5c5cff;
  background-color: rgba(255, 255, 255, 0.25);
}

.longwood {
  stroke: rgba(45, 51, 142, 0.85);
  color: #121439;
  background-color: rgba(126, 131, 214, 0.25);
}

.los-angeles-tech {
  stroke: rgba(209, 33, 51, 0.85);
  color: #70121b;
  background-color: rgba(239, 156, 164, 0.25);
}

.louisiana-college {
  stroke: rgba(39, 58, 125, 0.85);
  color: #0c1227;
  background-color: rgba(108, 130, 209, 0.25);
}

.louisiana-tech {
  stroke: rgba(0, 47, 139, 0.85);
  color: #00091b;
  background-color: rgba(37, 111, 255, 0.25);
}

.louisiana {
  stroke: rgba(160, 11, 11, 0.85);
  color: #370404;
  background-color: rgba(243, 81, 81, 0.25);
}

.la-monroe {
  stroke: rgba(128, 0, 0, 0.85);
  color: #100000;
  background-color: rgba(255, 26, 26, 0.25);
}

.louisville {
  stroke: rgba(173, 0, 0, 0.85);
  color: #3d0000;
  background-color: rgba(255, 71, 71, 0.25);
}

.loyola-marymount {
  stroke: rgba(204, 17, 17, 0.85);
  color: #640808;
  background-color: rgba(245, 129, 129, 0.25);
}

.loyola-chicago {
  stroke: rgba(146, 34, 71, 0.85);
  color: #370d1b;
  background-color: rgba(222, 111, 148, 0.25);
}

.lsu {
  stroke: rgba(70, 29, 124, 0.85);
  color: #130821;
  background-color: rgba(144, 90, 216, 0.25);
}

.lsu-shreveport {
  stroke: rgba(70, 29, 124, 0.85);
  color: #130821;
  background-color: rgba(144, 90, 216, 0.25);
}

.lyndon-state {
  stroke: rgba(0, 71, 18, 0.85);
  color: black;
  background-color: rgba(0, 224, 57, 0.25);
}

.maine {
  stroke: rgba(0, 36, 77, 0.85);
  color: black;
  background-color: rgba(0, 108, 230, 0.25);
}

.manhattan {
  stroke: rgba(0, 71, 171, 0.85);
  color: #00183b;
  background-color: rgba(69, 146, 255, 0.25);
}

.marist {
  stroke: rgba(153, 0, 0, 0.85);
  color: #290000;
  background-color: rgba(255, 51, 51, 0.25);
}

.marquette {
  stroke: rgba(0, 56, 109, 0.85);
  color: black;
  background-color: rgba(7, 134, 255, 0.25);
}

.marshall {
  stroke: rgba(0, 128, 0, 0.85);
  color: #001000;
  background-color: rgba(26, 255, 26, 0.25);
}

.maryland {
  stroke: rgba(206, 17, 38, 0.85);
  color: #660813;
  background-color: rgba(245, 131, 144, 0.25);
}

.maryland-eastern-shore {
  stroke: rgba(101, 29, 50, 0.85);
  color: #0e0407;
  background-color: rgba(204, 79, 115, 0.25);
}

.marywood {
  stroke: rgba(1, 90, 32, 0.85);
  color: black;
  background-color: rgba(3, 241, 86, 0.25);
}

.massachusetts {
  stroke: rgba(136, 28, 28, 0.85);
  color: #2b0909;
  background-color: rgba(222, 95, 95, 0.25);
}

.mcneese-state {
  stroke: rgba(8, 28, 144, 0.85);
  color: #020726;
  background-color: rgba(61, 88, 244, 0.25);
}

.memphis {
  stroke: rgba(12, 28, 140, 0.85);
  color: #030725;
  background-color: rgba(66, 88, 239, 0.25);
}

.mercer {
  stroke: rgba(232, 117, 17, 0.85);
  color: #7f4009;
  background-color: rgba(248, 198, 154, 0.25);
}

.miami-fla {
  stroke: rgba(170, 204, 255, 0.85);
  color: #3a89ff;
  background-color: rgba(255, 255, 255, 0.25);
}

.miami-oh {
  stroke: rgba(182, 30, 46, 0.85);
  color: #560e16;
  background-color: rgba(234, 131, 141, 0.25);
}

.michigan {
  stroke: rgba(245, 209, 48, 0.85);
  color: #ac8e08;
  background-color: rgba(252, 241, 194, 0.25);
}

.michigan-state {
  stroke: rgba(24, 69, 59, 0.85);
  color: black;
  background-color: rgba(63, 183, 156, 0.25);
}

.middle-tennessee {
  stroke: rgba(0, 64, 122, 0.85);
  color: #00050a;
  background-color: rgba(20, 143, 255, 0.25);
}

.milwaukee {
  stroke: rgba(153, 204, 255, 0.85);
  color: #2994ff;
  background-color: rgba(255, 255, 255, 0.25);
}

.minnesota {
  stroke: rgba(128, 0, 0, 0.85);
  color: #100000;
  background-color: rgba(255, 26, 26, 0.25);
}

.minot-state {
  stroke: rgba(198, 12, 48, 0.85);
  color: #5c0616;
  background-color: rgba(247, 116, 142, 0.25);
}

.mississippi {
  stroke: rgba(200, 16, 46, 0.85);
  color: #600816;
  background-color: rgba(245, 124, 144, 0.25);
}

.mississippi-college {
  stroke: rgba(0, 48, 92, 0.85);
  color: black;
  background-color: rgba(0, 128, 245, 0.25);
}

.mississippi-st {
  stroke: rgba(102, 0, 0, 0.85);
  color: black;
  background-color: rgba(255, 0, 0, 0.25);
}

.mississippi-valley-state {
  stroke: rgba(4, 106, 56, 0.85);
  color: black;
  background-color: rgba(17, 246, 134, 0.25);
}

.missouri {
  stroke: rgba(241, 184, 45, 0.85);
  color: #a3770b;
  background-color: rgba(251, 232, 188, 0.25);
}

.missouri-state {
  stroke: rgba(129, 5, 65, 0.85);
  color: #15010b;
  background-color: rgba(247, 40, 140, 0.25);
}

.monmouth {
  stroke: rgba(24, 110, 209, 0.85);
  color: #0c396c;
  background-color: rgba(144, 190, 242, 0.25);
}

.montana {
  stroke: rgba(102, 0, 51, 0.85);
  color: black;
  background-color: rgba(255, 0, 128, 0.25);
}

.montana-state {
  stroke: rgba(10, 31, 98, 0.85);
  color: black;
  background-color: rgba(29, 77, 232, 0.25);
}

.montana-western {
  stroke: rgba(225, 3, 4, 0.85);
  color: #720202;
  background-color: rgba(253, 128, 128, 0.25);
}

.morehead-state {
  stroke: rgba(237, 213, 166, 0.85);
  color: #daa949;
  background-color: rgba(255, 255, 255, 0.25);
}

.morgan-state {
  stroke: rgba(255, 140, 0, 0.85);
  color: #8f4e00;
  background-color: rgba(255, 209, 153, 0.25);
}

.morris-college {
  stroke: rgba(0, 104, 179, 0.85);
  color: #002743;
  background-color: rgba(77, 180, 255, 0.25);
}

.mount-st-marys {
  stroke: rgba(44, 78, 135, 0.85);
  color: #101d32;
  background-color: rgba(121, 155, 211, 0.25);
}

.murray-state {
  stroke: rgba(0, 0, 51, 0.85);
  color: black;
  background-color: rgba(0, 0, 204, 0.25);
}

.njit {
  stroke: rgba(209, 23, 23, 0.85);
  color: #6c0c0c;
  background-color: rgba(243, 142, 142, 0.25);
}

.navy {
  stroke: rgba(0, 0, 128, 0.85);
  color: #000010;
  background-color: rgba(26, 26, 255, 0.25);
}

.nebraska {
  stroke: rgba(255, 36, 0, 0.85);
  color: #8f1400;
  background-color: rgba(255, 167, 153, 0.25);
}

.nevada {
  stroke: rgba(0, 41, 97, 0.85);
  color: black;
  background-color: rgba(0, 106, 250, 0.25);
}

.new-hampshire {
  stroke: rgba(0, 51, 127, 0.85);
  color: #00060f;
  background-color: rgba(25, 117, 255, 0.25);
}

.new-mexico {
  stroke: rgba(204, 204, 204, 0.85);
  color: #949494;
  background-color: rgba(255, 255, 255, 0.25);
}

.new-mexico-state {
  stroke: rgba(128, 0, 32, 0.85);
  color: #100004;
  background-color: rgba(255, 26, 83, 0.25);
}

.new-orleans {
  stroke: rgba(0, 51, 153, 0.85);
  color: #000e29;
  background-color: rgba(51, 119, 255, 0.25);
}

.niagara {
  stroke: rgba(88, 44, 131, 0.85);
  color: #20102f;
  background-color: rgba(165, 119, 209, 0.25);
}

.nicholls-state {
  stroke: rgba(8, 28, 144, 0.85);
  color: #020726;
  background-color: rgba(61, 88, 244, 0.25);
}

.norfolk-state {
  stroke: rgba(105, 0, 92, 0.85);
  color: black;
  background-color: rgba(255, 3, 224, 0.25);
}

.north-alabama {
  stroke: rgba(70, 22, 107, 0.85);
  color: #09030e;
  background-color: rgba(151, 66, 216, 0.25);
}

.north-carolina {
  stroke: rgba(102, 153, 204, 0.85);
  color: #306191;
  background-color: rgba(217, 230, 242, 0.25);
}

.north-carolina-at {
  stroke: rgba(0, 70, 132, 0.85);
  color: #000b14;
  background-color: rgba(30, 149, 255, 0.25);
}

.north-carolina-central {
  stroke: rgba(106, 44, 62, 0.85);
  color: #1b0b10;
  background-color: rgba(194, 109, 134, 0.25);
}

.north-carolina-state {
  stroke: rgba(224, 0, 0, 0.85);
  color: #700000;
  background-color: rgba(255, 122, 122, 0.25);
}

.north-carolina-asheville {
  stroke: rgba(0, 61, 165, 0.85);
  color: #001435;
  background-color: rgba(63, 134, 255, 0.25);
}

.north-carolina-wilmington {
  stroke: rgba(0, 102, 102, 0.85);
  color: black;
  background-color: rgba(0, 255, 255, 0.25);
}

.north-dakota {
  stroke: rgba(0, 160, 0, 0.85);
  color: #003000;
  background-color: rgba(58, 255, 58, 0.25);
}

.north-dakota-state {
  stroke: rgba(10, 86, 64, 0.85);
  color: black;
  background-color: rgba(26, 223, 166, 0.25);
}

.north-florida {
  stroke: rgba(0, 36, 107, 0.85);
  color: black;
  background-color: rgba(5, 89, 255, 0.25);
}

.north-texas {
  stroke: rgba(5, 144, 51, 0.85);
  color: #01240d;
  background-color: rgba(54, 248, 118, 0.25);
}

.northeastern {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.northern-arizona {
  stroke: rgba(0, 51, 102, 0.85);
  color: black;
  background-color: rgba(0, 128, 255, 0.25);
}

.northern-colorado {
  stroke: rgba(1, 60, 101, 0.85);
  color: black;
  background-color: rgba(3, 150, 253, 0.25);
}

.northern-illinois {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.northern-iowa {
  stroke: rgba(102, 0, 153, 0.85);
  color: #1b0029;
  background-color: rgba(187, 51, 255, 0.25);
}

.northwestern {
  stroke: rgba(67, 31, 129, 0.85);
  color: #140927;
  background-color: rgba(140, 96, 217, 0.25);
}

.northwestern-state {
  stroke: rgba(102, 0, 153, 0.85);
  color: #1b0029;
  background-color: rgba(187, 51, 255, 0.25);
}

.notre-dame {
  stroke: rgba(197, 179, 88, 0.85);
  color: #80722d;
  background-color: rgba(236, 231, 202, 0.25);
}

.nyc-tech {
  stroke: rgba(60, 91, 165, 0.85);
  color: #1e2e53;
  background-color: rgba(158, 176, 220, 0.25);
}

.oakland {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.ohio {
  stroke: rgba(0, 102, 51, 0.85);
  color: black;
  background-color: rgba(0, 255, 128, 0.25);
}

.ohio-state {
  stroke: rgba(255, 32, 0, 0.85);
  color: #8f1200;
  background-color: rgba(255, 166, 153, 0.25);
}

.oklahoma {
  stroke: rgba(150, 0, 24, 0.85);
  color: #260006;
  background-color: rgba(255, 48, 81, 0.25);
}

.oklahoma-state {
  stroke: rgba(255, 102, 0, 0.85);
  color: #8f3900;
  background-color: rgba(255, 194, 153, 0.25);
}

.old-dominion {
  stroke: rgba(0, 43, 95, 0.85);
  color: black;
  background-color: rgba(0, 112, 248, 0.25);
}

.olivet-nazarene {
  stroke: rgba(56, 24, 83, 0.85);
  color: black;
  background-color: rgba(136, 61, 199, 0.25);
}

.oral-roberts {
  stroke: rgba(207, 181, 59, 0.85);
  color: #7c6b1e;
  background-color: rgba(237, 227, 182, 0.25);
}

.oregon {
  stroke: rgba(0, 102, 102, 0.85);
  color: black;
  background-color: rgba(0, 255, 255, 0.25);
}

.oregon-state {
  stroke: rgba(204, 85, 0, 0.85);
  color: #5c2600;
  background-color: rgba(255, 166, 102, 0.25);
}

.pacific {
  stroke: rgba(255, 102, 0, 0.85);
  color: #8f3900;
  background-color: rgba(255, 194, 153, 0.25);
}

.panhandle-state-opsu {
  stroke: rgba(200, 16, 46, 0.85);
  color: #600816;
  background-color: rgba(245, 124, 144, 0.25);
}

.penn-state {
  stroke: rgba(22, 41, 82, 0.85);
  color: black;
  background-color: rgba(56, 102, 201, 0.25);
}

.pennsylvania {
  stroke: rgba(153, 0, 0, 0.85);
  color: #290000;
  background-color: rgba(255, 51, 51, 0.25);
}

.pepperdine {
  stroke: rgba(0, 0, 255, 0.85);
  color: #00008f;
  background-color: rgba(153, 153, 255, 0.25);
}

.pittsburgh {
  stroke: rgba(9, 28, 68, 0.85);
  color: black;
  background-color: rgba(27, 84, 203, 0.25);
}

.portland {
  stroke: rgba(70, 29, 124, 0.85);
  color: #130821;
  background-color: rgba(144, 90, 216, 0.25);
}

.portland-state {
  stroke: rgba(2, 70, 29, 0.85);
  color: black;
  background-color: rgba(6, 219, 91, 0.25);
}

.prairie-view {
  stroke: rgba(79, 37, 130, 0.85);
  color: #1a0c2b;
  background-color: rgba(155, 107, 213, 0.25);
}

.prairie-view-am {
  stroke: rgba(79, 37, 130, 0.85);
  color: #1a0c2b;
  background-color: rgba(155, 107, 213, 0.25);
}

.presbyterian {
  stroke: rgba(0, 96, 169, 0.85);
  color: #002039;
  background-color: rgba(67, 174, 255, 0.25);
}

.princeton {
  stroke: rgba(255, 102, 0, 0.85);
  color: #8f3900;
  background-color: rgba(255, 194, 153, 0.25);
}

.providence {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.purdue {
  stroke: rgba(177, 148, 108, 0.85);
  color: #715b3c;
  background-color: rgba(230, 221, 208, 0.25);
}

.purdue-calumet {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.quinnipiac {
  stroke: rgba(0, 54, 100, 0.85);
  color: black;
  background-color: rgba(0, 137, 253, 0.25);
}

.radford {
  stroke: rgba(244, 123, 32, 0.85);
  color: #9c4708;
  background-color: rgba(251, 209, 178, 0.25);
}

.rhode-island {
  stroke: rgba(117, 178, 221, 0.85);
  color: #2d7db5;
  background-color: rgba(240, 246, 251, 0.25);
}

.rice {
  stroke: rgba(0, 36, 105, 0.85);
  color: black;
  background-color: rgba(3, 89, 255, 0.25);
}

.richmond {
  stroke: rgba(0, 0, 102, 0.85);
  color: black;
  background-color: rgba(0, 0, 255, 0.25);
}

.rider {
  stroke: rgba(187, 0, 0, 0.85);
  color: #4b0000;
  background-color: rgba(255, 85, 85, 0.25);
}

.robert-morris {
  stroke: rgba(0, 0, 100, 0.85);
  color: black;
  background-color: rgba(0, 0, 253, 0.25);
}

.robert-morris-illinois {
  stroke: rgba(111, 38, 61, 0.85);
  color: #1b090f;
  background-color: rgba(202, 100, 132, 0.25);
}

.rutgers {
  stroke: rgba(207, 0, 21, 0.85);
  color: #5f000a;
  background-color: rgba(255, 105, 120, 0.25);
}

.sacramento-state {
  stroke: rgba(0, 86, 60, 0.85);
  color: black;
  background-color: rgba(0, 239, 167, 0.25);
}

.sacred-heart {
  stroke: rgba(178, 34, 34, 0.85);
  color: #541010;
  background-color: rgba(232, 133, 133, 0.25);
}

.saint-josephs {
  stroke: rgba(158, 27, 50, 0.85);
  color: #3e0b14;
  background-color: rgba(230, 108, 129, 0.25);
}

.saint-louis {
  stroke: rgba(0, 0, 255, 0.85);
  color: #00008f;
  background-color: rgba(153, 153, 255, 0.25);
}

.saint-marys {
  stroke: rgba(228, 29, 37, 0.85);
  color: #810f14;
  background-color: rgba(244, 166, 169, 0.25);
}

.sam-houston-state {
  stroke: rgba(88, 88, 250, 0.85);
  color: #0707db;
  background-color: rgba(237, 237, 254, 0.25);
}

.samford {
  stroke: rgba(202, 16, 9, 0.85);
  color: #5f0704;
  background-color: rgba(249, 120, 115, 0.25);
}

.san-diego {
  stroke: rgba(0, 49, 173, 0.85);
  color: #00113d;
  background-color: rgba(71, 123, 255, 0.25);
}

.san-diego-state {
  stroke: rgba(168, 25, 51, 0.85);
  color: #460a15;
  background-color: rgba(234, 112, 134, 0.25);
}

.san-francisco {
  stroke: rgba(0, 102, 51, 0.85);
  color: black;
  background-color: rgba(0, 255, 128, 0.25);
}

.san-jose-state {
  stroke: rgba(199, 153, 0, 0.85);
  color: #574300;
  background-color: rgba(255, 218, 97, 0.25);
}

.santa-clara {
  stroke: rgba(170, 0, 61, 0.85);
  color: #3a0015;
  background-color: rgba(255, 68, 135, 0.25);
}

.savannah-state {
  stroke: rgba(255, 102, 0, 0.85);
  color: #8f3900;
  background-color: rgba(255, 194, 153, 0.25);
}

.seattle {
  stroke: rgba(0, 131, 154, 0.85);
  color: #00242a;
  background-color: rgba(52, 225, 255, 0.25);
}

.seton-hall {
  stroke: rgba(0, 0, 255, 0.85);
  color: #00008f;
  background-color: rgba(153, 153, 255, 0.25);
}

.siena {
  stroke: rgba(0, 71, 171, 0.85);
  color: #00183b;
  background-color: rgba(69, 146, 255, 0.25);
}

.siu-edwardsville-siue {
  stroke: rgba(204, 0, 0, 0.85);
  color: #5c0000;
  background-color: rgba(255, 102, 102, 0.25);
}

.south-alabama {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.south-carolina {
  stroke: rgba(140, 38, 51, 0.85);
  color: #340e13;
  background-color: rgba(217, 114, 127, 0.25);
}

.south-carolina-state {
  stroke: rgba(150, 0, 24, 0.85);
  color: #260006;
  background-color: rgba(255, 48, 81, 0.25);
}

.south-dakota {
  stroke: rgba(173, 0, 0, 0.85);
  color: #3d0000;
  background-color: rgba(255, 71, 71, 0.25);
}

.south-dakota-state {
  stroke: rgba(0, 0, 255, 0.85);
  color: #00008f;
  background-color: rgba(153, 153, 255, 0.25);
}

.south-florida {
  stroke: rgba(57, 95, 74, 0.85);
  color: #0f1913;
  background-color: rgba(127, 178, 150, 0.25);
}

.southeast-missouri-state {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.southeastern-louisiana {
  stroke: rgba(0, 102, 67, 0.85);
  color: black;
  background-color: rgba(0, 255, 168, 0.25);
}

.southern-illinois {
  stroke: rgba(128, 0, 0, 0.85);
  color: #100000;
  background-color: rgba(255, 26, 26, 0.25);
}

.southern-methodist {
  stroke: rgba(177, 0, 0, 0.85);
  color: #410000;
  background-color: rgba(255, 75, 75, 0.25);
}

.southern-miss {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.southern-university {
  stroke: rgba(117, 178, 221, 0.85);
  color: #2d7db5;
  background-color: rgba(240, 246, 251, 0.25);
}

.southern-utah {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}

.southern-virginia-svu {
  stroke: rgba(137, 35, 51, 0.85);
  color: #300c12;
  background-color: rgba(217, 108, 125, 0.25);
}

.st-bonaventure {
  stroke: rgba(223, 23, 65, 0.85);
  color: #790d23;
  background-color: rgba(245, 154, 173, 0.25);
}

.st-francis-ny {
  stroke: rgba(25, 25, 112, 0.85);
  color: #050514;
  background-color: rgba(75, 75, 215, 0.25);
}

.st-francis-pa-sfu {
  stroke: rgba(157, 34, 53, 0.85);
  color: #410e16;
  background-color: rgba(225, 119, 135, 0.25);
}

.st-johns {
  stroke: rgba(153, 0, 0, 0.85);
  color: #290000;
  background-color: rgba(255, 51, 51, 0.25);
}

.st-peters {
  stroke: rgba(0, 60, 113, 0.85);
  color: #000001;
  background-color: rgba(11, 141, 255, 0.25);
}

.st-thomas-texas {
  stroke: rgba(174, 18, 43, 0.85);
  color: #480712;
  background-color: rgba(240, 105, 127, 0.25);
}

.stanford {
  stroke: rgba(153, 0, 0, 0.85);
  color: #290000;
  background-color: rgba(255, 51, 51, 0.25);
}

.stephen-f-austin {
  stroke: rgba(51, 0, 102, 0.85);
  color: black;
  background-color: rgba(128, 0, 255, 0.25);
}

.stetson {
  stroke: rgba(0, 96, 0, 0.85);
  color: black;
  background-color: rgba(0, 249, 0, 0.25);
}

.stony-brook {
  stroke: rgba(255, 1, 1, 0.85);
  color: #900000;
  background-color: rgba(255, 154, 154, 0.25);
}

.syracuse {
  stroke: rgba(255, 127, 0, 0.85);
  color: #8f4700;
  background-color: rgba(255, 204, 153, 0.25);
}

.tcu {
  stroke: rgba(52, 42, 123, 0.85);
  color: #110d27;
  background-color: rgba(124, 112, 206, 0.25);
}

.temple {
  stroke: rgba(168, 22, 37, 0.85);
  color: #45090f;
  background-color: rgba(236, 107, 121, 0.25);
}

.tennessee {
  stroke: rgba(255, 130, 0, 0.85);
  color: #8f4900;
  background-color: rgba(255, 205, 153, 0.25);
}

.tennessee-state {
  stroke: rgba(210, 221, 252, 0.85);
  color: #698ef5;
  background-color: rgba(255, 255, 255, 0.25);
}

.tennessee-tech {
  stroke: rgba(210, 221, 252, 0.85);
  color: #698ef5;
  background-color: rgba(255, 255, 255, 0.25);
}

.tennessee-martin {
  stroke: rgba(160, 38, 67, 0.85);
  color: #45101d;
  background-color: rgba(224, 127, 150, 0.25);
}

.texas {
  stroke: rgba(204, 85, 0, 0.85);
  color: #5c2600;
  background-color: rgba(255, 166, 102, 0.25);
}

.texas-am {
  stroke: rgba(80, 0, 0, 0.85);
  color: black;
  background-color: rgba(233, 0, 0, 0.25);
}

.texas-am-corpus-christi {
  stroke: rgba(0, 103, 197, 0.85);
  color: #002c55;
  background-color: rgba(95, 179, 255, 0.25);
}

.texas-christian-tcu {
  stroke: rgba(77, 25, 121, 0.85);
  color: #12061c;
  background-color: rgba(155, 80, 219, 0.25);
}

.texas-el-paso-utep {
  stroke: rgba(0, 40, 94, 0.85);
  color: black;
  background-color: rgba(0, 105, 247, 0.25);
}

.texas-southern {
  stroke: rgba(204, 204, 255, 0.85);
  color: #5c5cff;
  background-color: rgba(255, 255, 255, 0.25);
}

.texas-state {
  stroke: rgba(80, 18, 20, 0.85);
  color: black;
  background-color: rgba(205, 46, 51, 0.25);
}

.texas-tech {
  stroke: rgba(204, 0, 0, 0.85);
  color: #5c0000;
  background-color: rgba(255, 102, 102, 0.25);
}

.texas-arlington {
  stroke: rgba(245, 128, 37, 0.85);
  color: #a24b07;
  background-color: rgba(252, 213, 183, 0.25);
}

.texas-pan-american {
  stroke: rgba(0, 102, 0, 0.85);
  color: black;
  background-color: rgba(0, 255, 0, 0.25);
}

.texas-san-antonio {
  stroke: rgba(12, 35, 64, 0.85);
  color: black;
  background-color: rgba(36, 105, 193, 0.25);
}

.toledo {
  stroke: rgba(25, 25, 112, 0.85);
  color: #050514;
  background-color: rgba(75, 75, 215, 0.25);
}

.towson {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.trinity-college {
  stroke: rgba(0, 47, 91, 0.85);
  color: black;
  background-color: rgba(0, 126, 244, 0.25);
}

.troy {
  stroke: rgba(196, 30, 58, 0.85);
  color: #630f1d;
  background-color: rgba(238, 141, 158, 0.25);
}

.tulane {
  stroke: rgba(6, 48, 3, 0.85);
  color: black;
  background-color: rgba(24, 192, 12, 0.25);
}

.tulsa {
  stroke: rgba(207, 181, 59, 0.85);
  color: #7c6b1e;
  background-color: rgba(237, 227, 182, 0.25);
}

.uab {
  stroke: rgba(0, 128, 0, 0.85);
  color: #001000;
  background-color: rgba(26, 255, 26, 0.25);
}

.uc-davis {
  stroke: rgba(0, 38, 102, 0.85);
  color: black;
  background-color: rgba(0, 95, 255, 0.25);
}

.uc-irvine {
  stroke: rgba(0, 36, 105, 0.85);
  color: black;
  background-color: rgba(3, 89, 255, 0.25);
}

.uc-riverside {
  stroke: rgba(45, 108, 192, 0.85);
  color: #183965;
  background-color: rgba(158, 190, 232, 0.25);
}

.uc-santa-barbara {
  stroke: rgba(0, 0, 153, 0.85);
  color: #000029;
  background-color: rgba(51, 51, 255, 0.25);
}

.uc-santa-cruz {
  stroke: rgba(0, 60, 108, 0.85);
  color: black;
  background-color: rgba(6, 144, 255, 0.25);
}

.ucf {
  stroke: rgba(186, 155, 55, 0.85);
  color: #63531d;
  background-color: rgba(229, 214, 165, 0.25);
}

.ucla {
  stroke: rgba(83, 104, 149, 0.85);
  color: #2b364d;
  background-color: rgba(175, 186, 210, 0.25);
}

.umbc {
  stroke: rgba(255, 194, 14, 0.85);
  color: #9d7500;
  background-color: rgba(255, 233, 167, 0.25);
}

.umkc {
  stroke: rgba(207, 181, 59, 0.85);
  color: #7c6b1e;
  background-color: rgba(237, 227, 182, 0.25);
}

.unc-greensboro {
  stroke: rgba(255, 204, 0, 0.85);
  color: #8f7200;
  background-color: rgba(255, 235, 153, 0.25);
}

.union-college-ny {
  stroke: rgba(130, 36, 51, 0.85);
  color: #2a0c11;
  background-color: rgba(214, 105, 123, 0.25);
}

.union-college-ky {
  stroke: rgba(255, 103, 31, 0.85);
  color: #ae3800;
  background-color: rgba(255, 207, 184, 0.25);
}

.unlv {
  stroke: rgba(177, 2, 2, 0.85);
  color: #420101;
  background-color: rgba(253, 79, 79, 0.25);
}

.usc {
  stroke: rgba(157, 34, 53, 0.85);
  color: #410e16;
  background-color: rgba(225, 119, 135, 0.25);
}

.usc-upstate {
  stroke: rgba(140, 38, 51, 0.85);
  color: #340e13;
  background-color: rgba(217, 114, 127, 0.25);
}

.utah {
  stroke: rgba(204, 0, 0, 0.85);
  color: #5c0000;
  background-color: rgba(255, 102, 102, 0.25);
}

.utah-state {
  stroke: rgba(0, 51, 102, 0.85);
  color: black;
  background-color: rgba(0, 128, 255, 0.25);
}

.utah-valley {
  stroke: rgba(0, 102, 51, 0.85);
  color: black;
  background-color: rgba(0, 255, 128, 0.25);
}

.utep {
  stroke: rgba(255, 127, 0, 0.85);
  color: #8f4700;
  background-color: rgba(255, 204, 153, 0.25);
}

.valparaiso {
  stroke: rgba(150, 75, 0, 0.85);
  color: #261300;
  background-color: rgba(255, 152, 48, 0.25);
}

.vanderbilt {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.vermont {
  stroke: rgba(0, 100, 56, 0.85);
  color: black;
  background-color: rgba(0, 253, 142, 0.25);
}

.villanova {
  stroke: rgba(0, 51, 127, 0.85);
  color: #00060f;
  background-color: rgba(25, 117, 255, 0.25);
}

.virginia {
  stroke: rgba(25, 57, 128, 0.85);
  color: #070f22;
  background-color: rgba(84, 127, 222, 0.25);
}

.virginia-commonwealth {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.virginia-military {
  stroke: rgba(174, 18, 43, 0.85);
  color: #480712;
  background-color: rgba(240, 105, 127, 0.25);
}

.virginia-tech {
  stroke: rgba(102, 0, 0, 0.85);
  color: black;
  background-color: rgba(255, 0, 0, 0.25);
}

.virginia-wise {
  stroke: rgba(210, 18, 69, 0.85);
  color: #6b0923;
  background-color: rgba(245, 136, 165, 0.25);
}

.wagner {
  stroke: rgba(24, 110, 209, 0.85);
  color: #0c396c;
  background-color: rgba(144, 190, 242, 0.25);
}

.wake-forest {
  stroke: rgba(166, 127, 49, 0.85);
  color: #4f3d17;
  background-color: rgba(223, 197, 145, 0.25);
}

.washington {
  stroke: rgba(54, 60, 116, 0.85);
  color: #121427;
  background-color: rgba(127, 134, 196, 0.25);
}

.washington-state {
  stroke: rgba(158, 27, 52, 0.85);
  color: #3e0b14;
  background-color: rgba(230, 108, 131, 0.25);
}

.weber-state {
  stroke: rgba(75, 33, 135, 0.85);
  color: #190b2d;
  background-color: rgba(150, 103, 218, 0.25);
}

.west-virginia {
  stroke: rgba(255, 204, 0, 0.85);
  color: #8f7200;
  background-color: rgba(255, 235, 153, 0.25);
}

.western-carolina {
  stroke: rgba(89, 44, 135, 0.85);
  color: #211032;
  background-color: rgba(166, 121, 211, 0.25);
}

.western-illinois {
  stroke: rgba(91, 2, 122, 0.85);
  color: #09000c;
  background-color: rgba(193, 26, 251, 0.25);
}

.western-kentucky {
  stroke: rgba(255, 34, 34, 0.85);
  color: #b10000;
  background-color: rgba(255, 187, 187, 0.25);
}

.western-michigan {
  stroke: rgba(106, 62, 15, 0.85);
  color: #080501;
  background-color: rgba(226, 140, 48, 0.25);
}

.western-new-mexico {
  stroke: rgba(66, 25, 111, 0.85);
  color: #0c0413;
  background-color: rgba(141, 75, 214, 0.25);
}

.wichita-state {
  stroke: rgba(0, 0, 0, 0.85);
  color: black;
  background-color: rgba(77, 77, 77, 0.25);
}

.wilberforce {
  stroke: rgba(21, 103, 52, 0.85);
  color: #020a05;
  background-color: rgba(61, 216, 120, 0.25);
}

.wiley-college {
  stroke: rgba(73, 47, 146, 0.85);
  color: #1f143d;
  background-color: rgba(153, 131, 215, 0.25);
}

.william--mary {
  stroke: rgba(17, 87, 64, 0.85);
  color: black;
  background-color: rgba(43, 214, 158, 0.25);
}

.wilmington {
  stroke: rgba(0, 132, 61, 0.85);
  color: #001409;
  background-color: rgba(30, 255, 134, 0.25);
}

.winthrop {
  stroke: rgba(244, 123, 32, 0.85);
  color: #9c4708;
  background-color: rgba(251, 209, 178, 0.25);
}

.wisconsin {
  stroke: rgba(204, 17, 34, 0.85);
  color: #640811;
  background-color: rgba(245, 129, 140, 0.25);
}

.wofford {
  stroke: rgba(207, 181, 59, 0.85);
  color: #7c6b1e;
  background-color: rgba(237, 227, 182, 0.25);
}

.wright-state {
  stroke: rgba(0, 105, 74, 0.85);
  color: black;
  background-color: rgba(3, 255, 181, 0.25);
}

.wyoming {
  stroke: rgba(73, 47, 36, 0.85);
  color: black;
  background-color: rgba(173, 114, 89, 0.25);
}

.xavier {
  stroke: rgba(0, 0, 128, 0.85);
  color: #000010;
  background-color: rgba(26, 26, 255, 0.25);
}

.yale {
  stroke: rgba(0, 0, 102, 0.85);
  color: black;
  background-color: rgba(0, 0, 255, 0.25);
}

.youngstown-state {
  stroke: rgba(255, 0, 0, 0.85);
  color: #8f0000;
  background-color: rgba(255, 153, 153, 0.25);
}
/*# sourceMappingURL=ncaa-colors-calc.css.map */