.air-force {
  stroke: #0000FF;
  color: #000099;
  background-color: #9999ff;
}

.akron {
  stroke: #00285C;
  color: black;
  background-color: #006bf5;
}

.alabama {
  stroke: #990000;
  color: #330000;
  background-color: #ff3333;
}

.alabama-am {
  stroke: #580000;
  color: black;
  background-color: #f10000;
}

.alabama-state {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.albany {
  stroke: #452663;
  color: #120a19;
  background-color: #9260c2;
}

.alcorn-state {
  stroke: #4B0082;
  color: #10001c;
  background-color: #9f1cff;
}

.american-university {
  stroke: #B5013B;
  color: #50001a;
  background-color: #fe5189;
}

.anderson-indiana {
  stroke: #EC730A;
  color: #8a4306;
  background-color: #fac495;
}

.appalachian-state {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.arizona {
  stroke: #C41E3A;
  color: #6c1020;
  background-color: #ee8d9e;
}

.arizona-state {
  stroke: #800000;
  color: #1a0000;
  background-color: #ff1a1a;
}

.arkansas {
  stroke: #9D2235;
  color: #491019;
  background-color: #e17787;
}

.arkansas-state {
  stroke: #CC092F;
  color: #6a0518;
  background-color: #f9758f;
}

.arkansas-little-rock {
  stroke: #800000;
  color: #1a0000;
  background-color: #ff1a1a;
}

.arkansas-pine-bluff {
  stroke: #C41E3A;
  color: #6c1020;
  background-color: #ee8d9e;
}

.army {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.auburn {
  stroke: #0C2340;
  color: black;
  background-color: #2469c1;
}

.austin-peay {
  stroke: #D2DDFC;
  color: #7295f6;
  background-color: white;
}

.ball-state {
  stroke: #CC0000;
  color: #660000;
  background-color: #ff6666;
}

.baruch {
  stroke: #10448C;
  color: #061830;
  background-color: #4b8eea;
}

.baylor {
  stroke: #006600;
  color: black;
  background-color: lime;
}

.belmont {
  stroke: #E0001D;
  color: #7a0010;
  background-color: #ff7a8b;
}

.bethany-california {
  stroke: #920300;
  color: #2c0100;
  background-color: #ff302c;
}

.bethune-cookman {
  stroke: #6A3547;
  color: #261319;
  background-color: #bd7b91;
}

.binghamton {
  stroke: #006B54;
  color: #000504;
  background-color: #05ffc9;
}

.bluefield-college {
  stroke: #003C81;
  color: #000d1b;
  background-color: #1b85ff;
}

.boise-state {
  stroke: #1F60A9;
  color: #0f2f53;
  background-color: #7aade7;
}

.boston-college {
  stroke: #8B0000;
  color: #250000;
  background-color: #ff2525;
}

.boston-university {
  stroke: #FF2000;
  color: #991300;
  background-color: #ffa699;
}

.bowling-green {
  stroke: #FF7300;
  color: #994500;
  background-color: #ffc799;
}

.bradley {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.brigham-young {
  stroke: #001E4C;
  color: black;
  background-color: #005ae5;
}

.brown {
  stroke: #321414;
  color: black;
  background-color: #9f4040;
}

.bryant-university {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.bucknell {
  stroke: #FF9900;
  color: #995c00;
  background-color: #ffd699;
}

.buffalo {
  stroke: #FFFFFF;
  color: #cccccc;
  background-color: white;
}

.butler {
  stroke: #00386D;
  color: #000407;
  background-color: #0786ff;
}

.cal-poly {
  stroke: #1E4D2B;
  color: #010402;
  background-color: #4bb969;
}

.cal-state-bakersfield {
  stroke: #DDDDFF;
  color: #7777ff;
  background-color: white;
}

.cal-state-fullerton {
  stroke: #FFC94B;
  color: #e4a000;
  background-color: #fff7e4;
}

.cal-state-northridge {
  stroke: #C60C30;
  color: #660619;
  background-color: #f7748e;
}

.california {
  stroke: #191970;
  color: #06061d;
  background-color: #4b4bd7;
}

.campbell {
  stroke: #FF7F00;
  color: #994c00;
  background-color: #ffcc99;
}

.canisius {
  stroke: #0047AB;
  color: #001d45;
  background-color: #4592ff;
}

.carver-bible-college {
  stroke: #262454;
  color: #06050d;
  background-color: #5d59b8;
}

.centenary {
  stroke: #800000;
  color: #1a0000;
  background-color: #ff1a1a;
}

.central-arkansas {
  stroke: #43286B;
  color: #150c21;
  background-color: #8d66c6;
}

.central-connecticut-state {
  stroke: #00539B;
  color: #001c35;
  background-color: #35a1ff;
}

.central-michigan {
  stroke: #660033;
  color: black;
  background-color: #ff0080;
}

.charleston {
  stroke: #800000;
  color: #1a0000;
  background-color: #ff1a1a;
}

.charleston-southern {
  stroke: #FFFFFF;
  color: #cccccc;
  background-color: white;
}

.charlotte {
  stroke: #007310;
  color: #000d02;
  background-color: #0dff2f;
}

.chattanooga {
  stroke: #00386B;
  color: #000305;
  background-color: #0588ff;
}

.chicago-state {
  stroke: #006666;
  color: black;
  background-color: cyan;
}

.cincinnati {
  stroke: #E00122;
  color: #7a0113;
  background-color: #fe7c8f;
}

.citadel {
  stroke: #3975B7;
  color: #214369;
  background-color: #a6c3e3;
}

.clemson {
  stroke: #FF6300;
  color: #993b00;
  background-color: #ffc199;
}

.cleveland-state {
  stroke: #003300;
  color: black;
  background-color: #00cc00;
}

.coastal-carolina {
  stroke: #008080;
  color: #001a1a;
  background-color: #1affff;
}

.college-of-new-jersey {
  stroke: #2A3E6F;
  color: #0e1525;
  background-color: #6b86c7;
}

.colgate {
  stroke: #CA030A;
  color: #650205;
  background-color: #fd696e;
}

.colorado {
  stroke: #C0C0C0;
  color: #8d8d8d;
  background-color: white;
}

.colorado-state {
  stroke: #00A550;
  color: #003f1f;
  background-color: #3fff9c;
}

.columbia {
  stroke: #9BDDFF;
  color: #35baff;
  background-color: white;
}

.connecticut {
  stroke: #000E2F;
  color: black;
  background-color: #003cc8;
}

.coppin-state {
  stroke: #69005C;
  color: #030003;
  background-color: #ff03e0;
}

.cornell {
  stroke: #B31B1B;
  color: #5a0e0e;
  background-color: #eb7c7c;
}

.creighton {
  stroke: #005CA9;
  color: #002443;
  background-color: #43a9ff;
}

.dallas-christian {
  stroke: #980200;
  color: #320100;
  background-color: #ff3532;
}

.dallas-university {
  stroke: #0F3A71;
  color: #030c17;
  background-color: #3582e4;
}

.dartmouth {
  stroke: #00693E;
  color: #000302;
  background-color: #03ff98;
}

.davidson {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.dayton {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.delaware {
  stroke: #0069AA;
  color: #002a44;
  background-color: #44b8ff;
}

.delaware-state {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.denver {
  stroke: #FFFFFF;
  color: #cccccc;
  background-color: white;
}

.depaul {
  stroke: #0000FF;
  color: #000099;
  background-color: #9999ff;
}

.detroit {
  stroke: #0000CD;
  color: #000067;
  background-color: #6767ff;
}

.dillard {
  stroke: #1B4299;
  color: #0c1d42;
  background-color: #698fe4;
}

.dominican {
  stroke: #0B4082;
  color: #031224;
  background-color: #3889ee;
}

.drake {
  stroke: #000070;
  color: #00000a;
  background-color: #0a0aff;
}

.drexel {
  stroke: #000066;
  color: black;
  background-color: blue;
}

.duke {
  stroke: #003893;
  color: #00112d;
  background-color: #2d7dff;
}

.duquesne {
  stroke: #000066;
  color: black;
  background-color: blue;
}

.east-carolina {
  stroke: #592A8A;
  color: #27123c;
  background-color: #a677d6;
}

.east-tennessee-state {
  stroke: #000080;
  color: #00001a;
  background-color: #1a1aff;
}

.east-texas-baptist {
  stroke: #082342;
  color: black;
  background-color: #196bca;
}

.eastern-illinois {
  stroke: #0000FF;
  color: #000099;
  background-color: #9999ff;
}

.eastern-kentucky {
  stroke: #7A0019;
  color: #140004;
  background-color: #ff1444;
}

.eastern-michigan {
  stroke: #005D28;
  color: black;
  background-color: #00f66a;
}

.eastern-washington {
  stroke: #A10022;
  color: #3b000c;
  background-color: #ff3b64;
}

.elon {
  stroke: #660000;
  color: black;
  background-color: red;
}

.evansville {
  stroke: #52237F;
  color: #1e0d2f;
  background-color: #9f66d5;
}

.fairfield {
  stroke: #C41E3A;
  color: #6c1020;
  background-color: #ee8d9e;
}

.fairleigh-dickinson {
  stroke: #025696;
  color: #011c31;
  background-color: #35a6fc;
}

.ferris-state {
  stroke: #C03;
  color: #66001a;
  background-color: #ff668c;
}

.florida {
  stroke: #FF4A00;
  color: #992c00;
  background-color: #ffb799;
}

.florida-am {
  stroke: #F4811F;
  color: #a55008;
  background-color: #fbd3b1;
}

.florida-atlantic {
  stroke: #003366;
  color: black;
  background-color: #0080ff;
}

.florida-gulf-coast {
  stroke: #0047AB;
  color: #001d45;
  background-color: #4592ff;
}

.florida-international {
  stroke: #002D62;
  color: black;
  background-color: #0073fb;
}

.florida-memorial {
  stroke: #085DAA;
  color: #032849;
  background-color: #54aaf7;
}

.florida-state {
  stroke: #990000;
  color: #330000;
  background-color: #ff3333;
}

.fordham {
  stroke: #76032E;
  color: #130007;
  background-color: #f9196d;
}

.fresno-state {
  stroke: #9A122C;
  color: #3f0712;
  background-color: #ec5975;
}

.furman {
  stroke: #6B3FA0;
  color: #3a2257;
  background-color: #b99fd9;
}

.gardner-webb {
  stroke: #BF2F37;
  color: #6d1b1f;
  background-color: #e8a0a4;
}

.george-mason {
  stroke: #008000;
  color: #001a00;
  background-color: #1aff1a;
}

.george-washington {
  stroke: #EECFA1;
  color: #dea34b;
  background-color: white;
}

.georgetown {
  stroke: #003366;
  color: black;
  background-color: #0080ff;
}

.georgia {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.georgia-southern {
  stroke: #000080;
  color: #00001a;
  background-color: #1a1aff;
}

.georgia-state {
  stroke: #0000FF;
  color: #000099;
  background-color: #9999ff;
}

.georgia-tech {
  stroke: #CFB53B;
  color: #847220;
  background-color: #ede3b6;
}

.gonzaga {
  stroke: #FFFFFF;
  color: #cccccc;
  background-color: white;
}

.grambling-state {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.green-bay {
  stroke: #005643;
  color: black;
  background-color: #00efba;
}

.greenville {
  stroke: #F57B21;
  color: #a84c08;
  background-color: #fcd2b3;
}

.hampton {
  stroke: #A8EDEF;
  color: #52dbdf;
  background-color: white;
}

.hannibal-legrange-college {
  stroke: #172751;
  color: #000102;
  background-color: #3a61c7;
}

.hartford {
  stroke: #FF2400;
  color: #991600;
  background-color: #ffa799;
}

.harvard {
  stroke: #DC143C;
  color: #7f0c23;
  background-color: #f594a7;
}

.haskell {
  stroke: #65316D;
  color: #241127;
  background-color: #b776c1;
}

.hawaii {
  stroke: #800020;
  color: #1a0007;
  background-color: #ff1a53;
}

.high-point {
  stroke: #F47B20;
  color: #a64c08;
  background-color: #fbd1b2;
}

.hiwassee-college {
  stroke: #65152B;
  color: #110307;
  background-color: #d73c67;
}

.hofstra {
  stroke: #16007C;
  color: #040016;
  background-color: #3f16ff;
}

.holy-cross {
  stroke: #660066;
  color: black;
  background-color: magenta;
}

.houston {
  stroke: #CC0000;
  color: #660000;
  background-color: #ff6666;
}

.houston-baptist {
  stroke: #3E66C3;
  color: #253d76;
  background-color: #b3c3e7;
}

.howard {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.huntingdon {
  stroke: #E41A37;
  color: #881021;
  background-color: #f4a3ae;
}

.idaho {
  stroke: #C0C0C0;
  color: #8d8d8d;
  background-color: white;
}

.idaho-state {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.illinois {
  stroke: #FF6600;
  color: #993d00;
  background-color: #ffc299;
}

.illinois-state {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.illinois-chicago-uic {
  stroke: #AC1E2D;
  color: #550f16;
  background-color: #e87b87;
}

.indiana {
  stroke: #FFFFCC;
  color: #ffff66;
  background-color: white;
}

.indiana-state {
  stroke: #0F4D92;
  color: #051c36;
  background-color: #4d99ed;
}

.iona {
  stroke: #6F2C3F;
  color: #260f16;
  background-color: #c66e87;
}

.iowa {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.iowa-state {
  stroke: #A71930;
  color: #4e0c17;
  background-color: #ea6f83;
}

.ipfw {
  stroke: #4169E1;
  color: #1a3ca2;
  background-color: #c5d1f6;
}

.iupui {
  stroke: #990000;
  color: #330000;
  background-color: #ff3333;
}

.jackson-state {
  stroke: #092183;
  color: #020924;
  background-color: #3459f1;
}

.jacksonville {
  stroke: #215E21;
  color: #061306;
  background-color: #55c355;
}

.jacksonville-state {
  stroke: #A02643;
  color: #4e1220;
  background-color: #e07f96;
}

.james-madison {
  stroke: #C2A14D;
  color: #7e672b;
  background-color: #e9ddbf;
}

.kansas {
  stroke: #0049AE;
  color: #001e48;
  background-color: #4895ff;
}

.kansas-state {
  stroke: #68217A;
  color: #240b2a;
  background-color: #bd60d4;
}

.kennesaw-state {
  stroke: #FEBC11;
  color: #a87a01;
  background-color: #ffe7a9;
}

.kent-state {
  stroke: #0A0D6F;
  color: #020211;
  background-color: #272ceb;
}

.kentucky {
  stroke: #00407A;
  color: #000a14;
  background-color: #148fff;
}

.la-salle {
  stroke: #00386B;
  color: #000305;
  background-color: #0588ff;
}

.la-sierra-university {
  stroke: #142F46;
  color: black;
  background-color: #367fbd;
}

.lafayette {
  stroke: #800000;
  color: #1a0000;
  background-color: #ff1a1a;
}

.lamar {
  stroke: #FF2222;
  color: #bb0000;
  background-color: #ffbbbb;
}

.lehigh {
  stroke: #67391A;
  color: #160c05;
  background-color: #d18049;
}

.liberty {
  stroke: #000080;
  color: #00001a;
  background-color: #1a1aff;
}

.lipscomb {
  stroke: #331E54;
  color: #050309;
  background-color: #794cbf;
}

.liu-brooklyn {
  stroke: #294C87;
  color: #112039;
  background-color: #7498d5;
}

.long-beach-state {
  stroke: #FFC82A;
  color: #c39100;
  background-color: #fff0c3;
}

.long-island {
  stroke: #CCCCFF;
  color: #6666ff;
  background-color: white;
}

.longwood {
  stroke: #2D338E;
  color: #141741;
  background-color: #7e83d6;
}

.los-angeles-tech {
  stroke: #D12133;
  color: #79131e;
  background-color: #ef9ca4;
}

.louisiana-college {
  stroke: #273A7D;
  color: #0f162f;
  background-color: #6c82d1;
}

.louisiana-tech {
  stroke: #002F8B;
  color: #000d25;
  background-color: #256fff;
}

.louisiana {
  stroke: #A00B0B;
  color: #410404;
  background-color: #f35151;
}

.la-monroe {
  stroke: #800000;
  color: #1a0000;
  background-color: #ff1a1a;
}

.louisville {
  stroke: #AD0000;
  color: #470000;
  background-color: #ff4747;
}

.loyola-marymount {
  stroke: #CC1111;
  color: #6e0909;
  background-color: #f58181;
}

.loyola-chicago {
  stroke: #922247;
  color: #3f0f1f;
  background-color: #de6f94;
}

.lsu {
  stroke: #461D7C;
  color: #170a29;
  background-color: #905ad8;
}

.lsu-shreveport {
  stroke: #461D7C;
  color: #170a29;
  background-color: #905ad8;
}

.lyndon-state {
  stroke: #004712;
  color: black;
  background-color: #00e039;
}

.maine {
  stroke: #00244D;
  color: black;
  background-color: #006ce6;
}

.manhattan {
  stroke: #0047AB;
  color: #001d45;
  background-color: #4592ff;
}

.marist {
  stroke: #990000;
  color: #330000;
  background-color: #ff3333;
}

.marquette {
  stroke: #00386D;
  color: #000407;
  background-color: #0786ff;
}

.marshall {
  stroke: #008000;
  color: #001a00;
  background-color: #1aff1a;
}

.maryland {
  stroke: #CE1126;
  color: #700915;
  background-color: #f58390;
}

.maryland-eastern-shore {
  stroke: #651D32;
  color: #16060b;
  background-color: #cc4f73;
}

.marywood {
  stroke: #015A20;
  color: black;
  background-color: #03f156;
}

.massachusetts {
  stroke: #881C1C;
  color: #330b0b;
  background-color: #de5f5f;
}

.mcneese-state {
  stroke: #081C90;
  color: #03092f;
  background-color: #3d58f4;
}

.memphis {
  stroke: #0C1C8C;
  color: #04092e;
  background-color: #4258ef;
}

.mercer {
  stroke: #E87511;
  color: #89450a;
  background-color: #f8c69a;
}

.miami-fla {
  stroke: #AACCFF;
  color: #448fff;
  background-color: white;
}

.miami-oh {
  stroke: #B61E2E;
  color: #5e1018;
  background-color: #ea838d;
}

.michigan {
  stroke: #F5D130;
  color: #b69709;
  background-color: #fcf1c2;
}

.michigan-state {
  stroke: #18453B;
  color: black;
  background-color: #3fb79c;
}

.middle-tennessee {
  stroke: #00407A;
  color: #000a14;
  background-color: #148fff;
}

.milwaukee {
  stroke: #99CCFF;
  color: #3399ff;
  background-color: white;
}

.minnesota {
  stroke: #800000;
  color: #1a0000;
  background-color: #ff1a1a;
}

.minot-state {
  stroke: #C60C30;
  color: #660619;
  background-color: #f7748e;
}

.mississippi {
  stroke: #C8102E;
  color: #6a0818;
  background-color: #f57c90;
}

.mississippi-college {
  stroke: #00305C;
  color: black;
  background-color: #0080f5;
}

.mississippi-st {
  stroke: #660000;
  color: black;
  background-color: red;
}

.mississippi-valley-state {
  stroke: #046A38;
  color: #000804;
  background-color: #11f686;
}

.missouri {
  stroke: #F1B82D;
  color: #ad7e0c;
  background-color: #fbe8bc;
}

.missouri-state {
  stroke: #810541;
  color: #1f0110;
  background-color: #f7288c;
}

.monmouth {
  stroke: #186ED1;
  color: #0d3e76;
  background-color: #90bef2;
}

.montana {
  stroke: #660033;
  color: black;
  background-color: #ff0080;
}

.montana-state {
  stroke: #0A1F62;
  color: #010205;
  background-color: #1d4de8;
}

.montana-western {
  stroke: #E10304;
  color: #7c0202;
  background-color: #fd8080;
}

.morehead-state {
  stroke: #EDD5A6;
  color: #dcad51;
  background-color: white;
}

.morgan-state {
  stroke: #FF8C00;
  color: #995400;
  background-color: #ffd199;
}

.morris-college {
  stroke: #0068B3;
  color: #002d4d;
  background-color: #4db4ff;
}

.mount-st-marys {
  stroke: #2C4E87;
  color: #13223a;
  background-color: #799bd3;
}

.murray-state {
  stroke: #000033;
  color: black;
  background-color: #0000cc;
}

.njit {
  stroke: #D11717;
  color: #750d0d;
  background-color: #f38e8e;
}

.navy {
  stroke: #000080;
  color: #00001a;
  background-color: #1a1aff;
}

.nebraska {
  stroke: #FF2400;
  color: #991600;
  background-color: #ffa799;
}

.nevada {
  stroke: #002961;
  color: black;
  background-color: #006afa;
}

.new-hampshire {
  stroke: #00337F;
  color: #000a19;
  background-color: #1975ff;
}

.new-mexico {
  stroke: #CCCCCC;
  color: #999999;
  background-color: white;
}

.new-mexico-state {
  stroke: #800020;
  color: #1a0007;
  background-color: #ff1a53;
}

.new-orleans {
  stroke: #003399;
  color: #001133;
  background-color: #3377ff;
}

.niagara {
  stroke: #582C83;
  color: #251237;
  background-color: #a577d1;
}

.nicholls-state {
  stroke: #081C90;
  color: #03092f;
  background-color: #3d58f4;
}

.norfolk-state {
  stroke: #69005C;
  color: #030003;
  background-color: #ff03e0;
}

.north-alabama {
  stroke: #46166B;
  color: #0f0516;
  background-color: #9742d8;
}

.north-carolina {
  stroke: #6699CC;
  color: #336699;
  background-color: #d9e6f2;
}

.north-carolina-at {
  stroke: #004684;
  color: #00101e;
  background-color: #1e95ff;
}

.north-carolina-central {
  stroke: #6A2C3E;
  color: #220e14;
  background-color: #c26d86;
}

.north-carolina-state {
  stroke: #E00000;
  color: #7a0000;
  background-color: #ff7a7a;
}

.north-carolina-asheville {
  stroke: #003DA5;
  color: #00173f;
  background-color: #3f86ff;
}

.north-carolina-wilmington {
  stroke: #006666;
  color: black;
  background-color: cyan;
}

.north-dakota {
  stroke: #00A000;
  color: #003a00;
  background-color: #3aff3a;
}

.north-dakota-state {
  stroke: #0A5640;
  color: black;
  background-color: #1adfa6;
}

.north-florida {
  stroke: #00246B;
  color: #000205;
  background-color: #0559ff;
}

.north-texas {
  stroke: #059033;
  color: #022d10;
  background-color: #36f876;
}

.northeastern {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.northern-arizona {
  stroke: #003366;
  color: black;
  background-color: #0080ff;
}

.northern-colorado {
  stroke: #013C65;
  color: black;
  background-color: #0396fd;
}

.northern-illinois {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.northern-iowa {
  stroke: #660099;
  color: #220033;
  background-color: #bb33ff;
}

.northwestern {
  stroke: #431F81;
  color: #180b2f;
  background-color: #8c60d9;
}

.northwestern-state {
  stroke: #660099;
  color: #220033;
  background-color: #bb33ff;
}

.notre-dame {
  stroke: #C5B358;
  color: #88792f;
  background-color: #ece7ca;
}

.nyc-tech {
  stroke: #3C5BA5;
  color: #21325a;
  background-color: #9eb0dc;
}

.oakland {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.ohio {
  stroke: #006633;
  color: black;
  background-color: #00ff80;
}

.ohio-state {
  stroke: #FF2000;
  color: #991300;
  background-color: #ffa699;
}

.oklahoma {
  stroke: #960018;
  color: #300008;
  background-color: #ff3051;
}

.oklahoma-state {
  stroke: #FF6600;
  color: #993d00;
  background-color: #ffc299;
}

.old-dominion {
  stroke: #002B5F;
  color: black;
  background-color: #0070f8;
}

.olivet-nazarene {
  stroke: #381853;
  color: #030104;
  background-color: #883dc7;
}

.oral-roberts {
  stroke: #CFB53B;
  color: #847220;
  background-color: #ede3b6;
}

.oregon {
  stroke: #006666;
  color: black;
  background-color: cyan;
}

.oregon-state {
  stroke: #CC5500;
  color: #662b00;
  background-color: #ffa666;
}

.pacific {
  stroke: #FF6600;
  color: #993d00;
  background-color: #ffc299;
}

.panhandle-state-opsu {
  stroke: #C8102E;
  color: #6a0818;
  background-color: #f57c90;
}

.penn-state {
  stroke: #162952;
  color: #000102;
  background-color: #3866c9;
}

.pennsylvania {
  stroke: #990000;
  color: #330000;
  background-color: #ff3333;
}

.pepperdine {
  stroke: #0000FF;
  color: #000099;
  background-color: #9999ff;
}

.pittsburgh {
  stroke: #091C44;
  color: black;
  background-color: #1b54cb;
}

.portland {
  stroke: #461D7C;
  color: #170a29;
  background-color: #905ad8;
}

.portland-state {
  stroke: #02461D;
  color: black;
  background-color: #06db5b;
}

.prairie-view {
  stroke: #4F2582;
  color: #1f0e33;
  background-color: #9b6bd5;
}

.prairie-view-am {
  stroke: #4F2582;
  color: #1f0e33;
  background-color: #9b6bd5;
}

.presbyterian {
  stroke: #0060A9;
  color: #002643;
  background-color: #43aeff;
}

.princeton {
  stroke: #FF6600;
  color: #993d00;
  background-color: #ffc299;
}

.providence {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.purdue {
  stroke: #B1946C;
  color: #78603f;
  background-color: #e6ddd0;
}

.purdue-calumet {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.quinnipiac {
  stroke: #003664;
  color: black;
  background-color: #0089fd;
}

.radford {
  stroke: #F47B20;
  color: #a64c08;
  background-color: #fbd1b2;
}

.rhode-island {
  stroke: #75B2DD;
  color: #2f82bd;
  background-color: #f0f6fb;
}

.rice {
  stroke: #002469;
  color: #000103;
  background-color: #0359ff;
}

.richmond {
  stroke: #000066;
  color: black;
  background-color: blue;
}

.rider {
  stroke: #BB0000;
  color: #550000;
  background-color: #ff5555;
}

.robert-morris {
  stroke: #000064;
  color: black;
  background-color: #0000fd;
}

.robert-morris-illinois {
  stroke: #6F263D;
  color: #230c13;
  background-color: #ca6484;
}

.rutgers {
  stroke: #CF0015;
  color: #69000b;
  background-color: #ff6978;
}

.sacramento-state {
  stroke: #00563C;
  color: black;
  background-color: #00efa7;
}

.sacred-heart {
  stroke: #B22222;
  color: #5c1212;
  background-color: #e88585;
}

.saint-josephs {
  stroke: #9E1B32;
  color: #470c16;
  background-color: #e66c81;
}

.saint-louis {
  stroke: #0000FF;
  color: #000099;
  background-color: #9999ff;
}

.saint-marys {
  stroke: #E41D25;
  color: #8a1115;
  background-color: #f4a6a9;
}

.sam-houston-state {
  stroke: #5858FA;
  color: #0707e5;
  background-color: #ededfe;
}

.samford {
  stroke: #CA1009;
  color: #680805;
  background-color: #f97873;
}

.san-diego {
  stroke: #0031AD;
  color: #001447;
  background-color: #477bff;
}

.san-diego-state {
  stroke: #A81933;
  color: #4f0c18;
  background-color: #ea7086;
}

.san-francisco {
  stroke: #006633;
  color: black;
  background-color: #00ff80;
}

.san-jose-state {
  stroke: #C79900;
  color: #614b00;
  background-color: #ffda61;
}

.santa-clara {
  stroke: #AA003D;
  color: #440018;
  background-color: #ff4487;
}

.savannah-state {
  stroke: #FF6600;
  color: #993d00;
  background-color: #ffc299;
}

.seattle {
  stroke: #00839A;
  color: #002c34;
  background-color: #34e1ff;
}

.seton-hall {
  stroke: #0000FF;
  color: #000099;
  background-color: #9999ff;
}

.siena {
  stroke: #0047AB;
  color: #001d45;
  background-color: #4592ff;
}

.siu-edwardsville-siue {
  stroke: #CC0000;
  color: #660000;
  background-color: #ff6666;
}

.south-alabama {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.south-carolina {
  stroke: #8C2633;
  color: #3c1016;
  background-color: #d9727f;
}

.south-carolina-state {
  stroke: #960018;
  color: #300008;
  background-color: #ff3051;
}

.south-dakota {
  stroke: #AD0000;
  color: #470000;
  background-color: #ff4747;
}

.south-dakota-state {
  stroke: #0000FF;
  color: #000099;
  background-color: #9999ff;
}

.south-florida {
  stroke: #395F4A;
  color: #131f18;
  background-color: #7fb296;
}

.southeast-missouri-state {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.southeastern-louisiana {
  stroke: #006643;
  color: black;
  background-color: #00ffa8;
}

.southern-illinois {
  stroke: #800000;
  color: #1a0000;
  background-color: #ff1a1a;
}

.southern-methodist {
  stroke: #B10000;
  color: #4b0000;
  background-color: #ff4b4b;
}

.southern-miss {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.southern-university {
  stroke: #75B2DD;
  color: #2f82bd;
  background-color: #f0f6fb;
}

.southern-utah {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}

.southern-virginia-svu {
  stroke: #892333;
  color: #380e15;
  background-color: #d96c7d;
}

.st-bonaventure {
  stroke: #DF1741;
  color: #830d26;
  background-color: #f59aad;
}

.st-francis-ny {
  stroke: #191970;
  color: #06061d;
  background-color: #4b4bd7;
}

.st-francis-pa-sfu {
  stroke: #9D2235;
  color: #491019;
  background-color: #e17787;
}

.st-johns {
  stroke: #990000;
  color: #330000;
  background-color: #ff3333;
}

.st-peters {
  stroke: #003C71;
  color: #00060b;
  background-color: #0b8dff;
}

.st-thomas-texas {
  stroke: #AE122B;
  color: #520814;
  background-color: #f0697f;
}

.stanford {
  stroke: #990000;
  color: #330000;
  background-color: #ff3333;
}

.stephen-f-austin {
  stroke: #330066;
  color: black;
  background-color: #8000ff;
}

.stetson {
  stroke: #006000;
  color: black;
  background-color: #00f900;
}

.stony-brook {
  stroke: #FF0101;
  color: #9a0000;
  background-color: #ff9a9a;
}

.syracuse {
  stroke: #FF7F00;
  color: #994c00;
  background-color: #ffcc99;
}

.tcu {
  stroke: #342A7B;
  color: #14102f;
  background-color: #7c70ce;
}

.temple {
  stroke: #A81625;
  color: #4e0a11;
  background-color: #ec6b79;
}

.tennessee {
  stroke: #FF8200;
  color: #994e00;
  background-color: #ffcd99;
}

.tennessee-state {
  stroke: #D2DDFC;
  color: #7295f6;
  background-color: white;
}

.tennessee-tech {
  stroke: #D2DDFC;
  color: #7295f6;
  background-color: white;
}

.tennessee-martin {
  stroke: #A02643;
  color: #4e1220;
  background-color: #e07f96;
}

.texas {
  stroke: #CC5500;
  color: #662b00;
  background-color: #ffa666;
}

.texas-am {
  stroke: #500000;
  color: black;
  background-color: #e90000;
}

.texas-am-corpus-christi {
  stroke: #0067C5;
  color: #00325f;
  background-color: #5fb3ff;
}

.texas-christian-tcu {
  stroke: #4D1979;
  color: #170824;
  background-color: #9b50db;
}

.texas-el-paso-utep {
  stroke: #00285E;
  color: black;
  background-color: #0069f7;
}

.texas-southern {
  stroke: #CCCCFF;
  color: #6666ff;
  background-color: white;
}

.texas-state {
  stroke: #501214;
  color: black;
  background-color: #cd2e33;
}

.texas-tech {
  stroke: #CC0000;
  color: #660000;
  background-color: #ff6666;
}

.texas-arlington {
  stroke: #F58025;
  color: #ac5008;
  background-color: #fcd5b7;
}

.texas-pan-american {
  stroke: #006600;
  color: black;
  background-color: lime;
}

.texas-san-antonio {
  stroke: #0C2340;
  color: black;
  background-color: #2469c1;
}

.toledo {
  stroke: #191970;
  color: #06061d;
  background-color: #4b4bd7;
}

.towson {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.trinity-college {
  stroke: #002F5B;
  color: black;
  background-color: #007ef4;
}

.troy {
  stroke: #C41E3A;
  color: #6c1020;
  background-color: #ee8d9e;
}

.tulane {
  stroke: #063003;
  color: black;
  background-color: #18c00c;
}

.tulsa {
  stroke: #CFB53B;
  color: #847220;
  background-color: #ede3b6;
}

.uab {
  stroke: #008000;
  color: #001a00;
  background-color: #1aff1a;
}

.uc-davis {
  stroke: #002666;
  color: black;
  background-color: #005fff;
}

.uc-irvine {
  stroke: #002469;
  color: #000103;
  background-color: #0359ff;
}

.uc-riverside {
  stroke: #2D6CC0;
  color: #1a3e6d;
  background-color: #9ebee8;
}

.uc-santa-barbara {
  stroke: #000099;
  color: #000033;
  background-color: #3333ff;
}

.uc-santa-cruz {
  stroke: #003C6C;
  color: #000306;
  background-color: #0690ff;
}

.ucf {
  stroke: #BA9B37;
  color: #6b5920;
  background-color: #e5d6a5;
}

.ucla {
  stroke: #536895;
  color: #2f3a53;
  background-color: #afbad2;
}

.umbc {
  stroke: #FFC20E;
  color: #a77d00;
  background-color: #ffe9a7;
}

.umkc {
  stroke: #CFB53B;
  color: #847220;
  background-color: #ede3b6;
}

.unc-greensboro {
  stroke: #FFCC00;
  color: #997a00;
  background-color: #ffeb99;
}

.union-college-ny {
  stroke: #822433;
  color: #320e14;
  background-color: #d6697b;
}

.union-college-ky {
  stroke: #FF671F;
  color: #b83b00;
  background-color: #ffcfb8;
}

.unlv {
  stroke: #B10202;
  color: #4c0101;
  background-color: #fd4f4f;
}

.usc {
  stroke: #9D2235;
  color: #491019;
  background-color: #e17787;
}

.usc-upstate {
  stroke: #8C2633;
  color: #3c1016;
  background-color: #d9727f;
}

.utah {
  stroke: #CC0000;
  color: #660000;
  background-color: #ff6666;
}

.utah-state {
  stroke: #003366;
  color: black;
  background-color: #0080ff;
}

.utah-valley {
  stroke: #006633;
  color: black;
  background-color: #00ff80;
}

.utep {
  stroke: #FF7F00;
  color: #994c00;
  background-color: #ffcc99;
}

.valparaiso {
  stroke: #964B00;
  color: #301800;
  background-color: #ff9830;
}

.vanderbilt {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.vermont {
  stroke: #006438;
  color: black;
  background-color: #00fd8e;
}

.villanova {
  stroke: #00337F;
  color: #000a19;
  background-color: #1975ff;
}

.virginia {
  stroke: #193980;
  color: #08132b;
  background-color: #547fde;
}

.virginia-commonwealth {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.virginia-military {
  stroke: #AE122B;
  color: #520814;
  background-color: #f0697f;
}

.virginia-tech {
  stroke: #660000;
  color: black;
  background-color: red;
}

.virginia-wise {
  stroke: #D21245;
  color: #740a26;
  background-color: #f588a5;
}

.wagner {
  stroke: #186ED1;
  color: #0d3e76;
  background-color: #90bef2;
}

.wake-forest {
  stroke: #A67F31;
  color: #57431a;
  background-color: #dfc591;
}

.washington {
  stroke: #363C74;
  color: #16182e;
  background-color: #7f86c4;
}

.washington-state {
  stroke: #9E1B34;
  color: #470c17;
  background-color: #e66c83;
}

.weber-state {
  stroke: #4B2187;
  color: #1d0d35;
  background-color: #9667da;
}

.west-virginia {
  stroke: #FFCC00;
  color: #997a00;
  background-color: #ffeb99;
}

.western-carolina {
  stroke: #592C87;
  color: #26133a;
  background-color: #a679d3;
}

.western-illinois {
  stroke: #5B027A;
  color: #100016;
  background-color: #c11afb;
}

.western-kentucky {
  stroke: #FF2222;
  color: #bb0000;
  background-color: #ffbbbb;
}

.western-michigan {
  stroke: #6A3E0F;
  color: #110a02;
  background-color: #e28c30;
}

.western-new-mexico {
  stroke: #42196F;
  color: #11061c;
  background-color: #8d4bd6;
}

.wichita-state {
  stroke: #000000;
  color: black;
  background-color: #4d4d4d;
}

.wilberforce {
  stroke: #156734;
  color: #041209;
  background-color: #3dd878;
}

.wiley-college {
  stroke: #492F92;
  color: #221645;
  background-color: #9983d7;
}

.william--mary {
  stroke: #115740;
  color: #000201;
  background-color: #2bd69e;
}

.wilmington {
  stroke: #00843D;
  color: #001e0e;
  background-color: #1eff86;
}

.winthrop {
  stroke: #F47B20;
  color: #a64c08;
  background-color: #fbd1b2;
}

.wisconsin {
  stroke: #CC1122;
  color: #6e0912;
  background-color: #f5818c;
}

.wofford {
  stroke: #CFB53B;
  color: #847220;
  background-color: #ede3b6;
}

.wright-state {
  stroke: #00694A;
  color: #000302;
  background-color: #03ffb5;
}

.wyoming {
  stroke: #492F24;
  color: #050302;
  background-color: #ad7259;
}

.xavier {
  stroke: #000080;
  color: #00001a;
  background-color: #1a1aff;
}

.yale {
  stroke: #000066;
  color: black;
  background-color: blue;
}

.youngstown-state {
  stroke: #FF0000;
  color: #990000;
  background-color: #ff9999;
}
/*# sourceMappingURL=ncaa-colors-calc.css.map */