.air-force {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.akron {
  stroke: #1977f0;
  color: #002c66;
  background-color: #ebf3ff;
}

.alabama {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.alabama-am {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.alabama-state {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.albany {
  stroke: #855dac;
  color: #331c4a;
  background-color: #f5f0f9;
}

.alcorn-state {
  stroke: #9519f0;
  color: #3b0066;
  background-color: #f6ebff;
}

.american-university {
  stroke: #ef1a5f;
  color: #650121;
  background-color: #ffebf1;
}

.anderson-indiana {
  stroke: #e67e23;
  color: #623004;
  background-color: #fef4eb;
}

.appalachian-state {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.arizona {
  stroke: #d03953;
  color: #580e1a;
  background-color: #fcedf0;
}

.arizona-state {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.arkansas {
  stroke: #c54458;
  color: #54121c;
  background-color: #fbeef0;
}

.arkansas-state {
  stroke: #e62349;
  color: #620417;
  background-color: #feebef;
}

.arkansas-little-rock {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.arkansas-pine-bluff {
  stroke: #d03953;
  color: #580e1a;
  background-color: #fcedf0;
}

.army {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.auburn {
  stroke: #407dca;
  color: #102f56;
  background-color: #eef4fc;
}

.austin-peay {
  stroke: #2859e1;
  color: #061e60;
  background-color: #ecf1fe;
}

.ball-state {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.baruch {
  stroke: #3277d7;
  color: #0a2c5c;
  background-color: #edf3fd;
}

.baylor {
  stroke: #19f019;
  color: #006600;
  background-color: #ebffeb;
}

.belmont {
  stroke: #f01935;
  color: #66000d;
  background-color: #ffebed;
}

.bethany-california {
  stroke: #f01d19;
  color: #660200;
  background-color: #ffebeb;
}

.bethune-cookman {
  stroke: #9f6a7c;
  color: #44222e;
  background-color: #f8f1f4;
}

.binghamton {
  stroke: #19f0c2;
  color: #006650;
  background-color: #ebfffb;
}

.bluefield-college {
  stroke: #197df0;
  color: #002f66;
  background-color: #ebf4ff;
}

.boise-state {
  stroke: #3f81ca;
  color: #103156;
  background-color: #eef4fc;
}

.boston-college {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.boston-university {
  stroke: #f03419;
  color: #660d00;
  background-color: #ffedeb;
}

.bowling-green {
  stroke: #f07a19;
  color: #662e00;
  background-color: #fff4eb;
}

.bradley {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.brigham-young {
  stroke: #196ef0;
  color: #002866;
  background-color: #ebf3ff;
}

.brown {
  stroke: #aa5f5f;
  color: #491d1d;
  background-color: #f9f0f0;
}

.bryant-university {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.bucknell {
  stroke: #f09a19;
  color: #663d00;
  background-color: #fff7eb;
}

.buffalo {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.butler {
  stroke: #1988f0;
  color: #003466;
  background-color: #ebf5ff;
}

.cal-poly {
  stroke: #5eac73;
  color: #1d4929;
  background-color: #f0f9f3;
}

.cal-state-bakersfield {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.cal-state-fullerton {
  stroke: #f0b019;
  color: #664700;
  background-color: #fff9eb;
}

.cal-state-northridge {
  stroke: #e2274b;
  color: #600617;
  background-color: #feecef;
}

.california {
  stroke: #4646c4;
  color: #131353;
  background-color: #eeeefb;
}

.campbell {
  stroke: #f08419;
  color: #663300;
  background-color: #fff5eb;
}

.canisius {
  stroke: #1972f0;
  color: #002a66;
  background-color: #ebf3ff;
}

.carver-bible-college {
  stroke: #6562a7;
  color: #201f47;
  background-color: #f1f1f9;
}

.centenary {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.central-arkansas {
  stroke: #7d5cae;
  color: #2e1c4a;
  background-color: #f4f0f9;
}

.central-connecticut-state {
  stroke: #198cf0;
  color: #003766;
  background-color: #ebf6ff;
}

.central-michigan {
  stroke: #f01985;
  color: #660033;
  background-color: #ffebf5;
}

.charleston {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.charleston-southern {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.charlotte {
  stroke: #19f037;
  color: #00660e;
  background-color: #ebffed;
}

.chattanooga {
  stroke: #198af0;
  color: #003566;
  background-color: #ebf5ff;
}

.chicago-state {
  stroke: #19f0f0;
  color: #006666;
  background-color: #ebffff;
}

.cincinnati {
  stroke: #ef1a3a;
  color: #66000f;
  background-color: #ffebee;
}

.citadel {
  stroke: #5382b6;
  color: #18324e;
  background-color: #eff5fa;
}

.clemson {
  stroke: #f06d19;
  color: #662800;
  background-color: #fff3eb;
}

.cleveland-state {
  stroke: #19f019;
  color: #006600;
  background-color: #ebffeb;
}

.coastal-carolina {
  stroke: #19f0f0;
  color: #006666;
  background-color: #ebffff;
}

.college-of-new-jersey {
  stroke: #5c74ad;
  color: #1c294a;
  background-color: #f0f3f9;
}

.colgate {
  stroke: #ed1c24;
  color: #650105;
  background-color: #ffebec;
}

.colorado {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.colorado-state {
  stroke: #19f081;
  color: #006631;
  background-color: #ebfff4;
}

.columbia {
  stroke: #19a7f0;
  color: #004366;
  background-color: #ebf8ff;
}

.connecticut {
  stroke: #1959f0;
  color: #001e66;
  background-color: #ebf1ff;
}

.coppin-state {
  stroke: #f019d6;
  color: #660059;
  background-color: #ffebfc;
}

.cornell {
  stroke: #d03939;
  color: #590d0d;
  background-color: #fceded;
}

.creighton {
  stroke: #198ef0;
  color: #003866;
  background-color: #ebf6ff;
}

.dallas-christian {
  stroke: #f01c19;
  color: #660100;
  background-color: #ffebeb;
}

.dallas-university {
  stroke: #367bd4;
  color: #0c2e5a;
  background-color: #edf4fd;
}

.dartmouth {
  stroke: #19f098;
  color: #00663c;
  background-color: #ebfff7;
}

.davidson {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.dayton {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.delaware {
  stroke: #199ef0;
  color: #003f66;
  background-color: #ebf7ff;
}

.delaware-state {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.denver {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.depaul {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.detroit {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.dillard {
  stroke: #3e6acc;
  color: #0f2557;
  background-color: #eef2fc;
}

.dominican {
  stroke: #2c7bdd;
  color: #082e5e;
  background-color: #ecf4fd;
}

.drake {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.drexel {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.duke {
  stroke: #196bf0;
  color: #002766;
  background-color: #ebf2ff;
}

.duquesne {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.east-carolina {
  stroke: #8452b7;
  color: #32184e;
  background-color: #f5effa;
}

.east-tennessee-state {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.east-texas-baptist {
  stroke: #337fd6;
  color: #0b305b;
  background-color: #edf4fd;
}

.eastern-illinois {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.eastern-kentucky {
  stroke: #f01945;
  color: #660015;
  background-color: #ffebef;
}

.eastern-michigan {
  stroke: #19f076;
  color: #00662c;
  background-color: #ebfff3;
}

.eastern-washington {
  stroke: #f01946;
  color: #660016;
  background-color: #ffebef;
}

.elon {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.evansville {
  stroke: #864ebb;
  color: #341650;
  background-color: #f5effb;
}

.fairfield {
  stroke: #d03953;
  color: #580e1a;
  background-color: #fcedf0;
}

.fairleigh-dickinson {
  stroke: #1c93ed;
  color: #013a65;
  background-color: #ebf6ff;
}

.ferris-state {
  stroke: #f0194f;
  color: #66001a;
  background-color: #ffebf0;
}

.florida {
  stroke: #f05719;
  color: #661e00;
  background-color: #fff1eb;
}

.florida-am {
  stroke: #e57d24;
  color: #612f05;
  background-color: #fef4ec;
}

.florida-atlantic {
  stroke: #1985f0;
  color: #003366;
  background-color: #ebf5ff;
}

.florida-gulf-coast {
  stroke: #1972f0;
  color: #002a66;
  background-color: #ebf3ff;
}

.florida-international {
  stroke: #197cf0;
  color: #002f66;
  background-color: #ebf4ff;
}

.florida-memorial {
  stroke: #2489e5;
  color: #053561;
  background-color: #ecf5fe;
}

.florida-state {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.fordham {
  stroke: #ea1f6b;
  color: #630327;
  background-color: #feebf2;
}

.fresno-state {
  stroke: #d73352;
  color: #5b0b1a;
  background-color: #fdedf0;
}

.furman {
  stroke: #815eab;
  color: #311d49;
  background-color: #f4f0f9;
}

.gardner-webb {
  stroke: #c04950;
  color: #521418;
  background-color: #fbefef;
}

.george-mason {
  stroke: #19f019;
  color: #006600;
  background-color: #ebffeb;
}

.george-washington {
  stroke: #cb923e;
  color: #563a10;
  background-color: #fcf6ee;
}

.georgetown {
  stroke: #1985f0;
  color: #003366;
  background-color: #ebf5ff;
}

.georgia {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.georgia-southern {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.georgia-state {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.georgia-tech {
  stroke: #c0ab49;
  color: #524714;
  background-color: #fbf9ef;
}

.gonzaga {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.grambling-state {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.green-bay {
  stroke: #19f0c1;
  color: #00664f;
  background-color: #ebfffa;
}

.greenville {
  stroke: #e67623;
  color: #622c04;
  background-color: #fef3eb;
}

.hampton {
  stroke: #3fc6ca;
  color: #105456;
  background-color: #eefbfc;
}

.hannibal-legrange-college {
  stroke: #4f6dba;
  color: #17264f;
  background-color: #eff2fa;
}

.hartford {
  stroke: #f03719;
  color: #660e00;
  background-color: #ffedeb;
}

.harvard {
  stroke: #dc2d50;
  color: #5e091a;
  background-color: #fdecf0;
}

.haskell {
  stroke: #9c65a4;
  color: #412046;
  background-color: #f8f1f9;
}

.hawaii {
  stroke: #f0194f;
  color: #66001a;
  background-color: #ffebf0;
}

.high-point {
  stroke: #e57724;
  color: #612c05;
  background-color: #fef3ec;
}

.hiwassee-college {
  stroke: #c64367;
  color: #541224;
  background-color: #fbeef2;
}

.hofstra {
  stroke: #3f19f0;
  color: #120066;
  background-color: #eeebff;
}

.holy-cross {
  stroke: #f019f0;
  color: #660066;
  background-color: #ffebff;
}

.houston {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.houston-baptist {
  stroke: #5371b6;
  color: #18284e;
  background-color: #eff3fa;
}

.howard {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.huntingdon {
  stroke: #d7324a;
  color: #5c0a16;
  background-color: #fdedef;
}

.idaho {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.idaho-state {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.illinois {
  stroke: #f06f19;
  color: #662900;
  background-color: #fff3eb;
}

.illinois-state {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.illinois-chicago-uic {
  stroke: #cc3d4c;
  color: #570f17;
  background-color: #fceeef;
}

.indiana {
  stroke: #f0f019;
  color: #666600;
  background-color: #ffffeb;
}

.indiana-state {
  stroke: #3080da;
  color: #0a315c;
  background-color: #edf4fd;
}

.iona {
  stroke: #ab5e74;
  color: #491d29;
  background-color: #f9f0f3;
}

.iowa {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.iowa-state {
  stroke: #d03951;
  color: #590d1a;
  background-color: #fcedf0;
}

.ipfw {
  stroke: #3a5fcf;
  color: #0e2058;
  background-color: #edf1fc;
}

.iupui {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.jackson-state {
  stroke: #294de1;
  color: #07185f;
  background-color: #eceffe;
}

.jacksonville {
  stroke: #58b158;
  color: #1b4b1b;
  background-color: #f0faf0;
}

.jacksonville-state {
  stroke: #c14865;
  color: #521423;
  background-color: #fbeff2;
}

.james-madison {
  stroke: #b29857;
  color: #4c3e1a;
  background-color: #faf7f0;
}

.kansas {
  stroke: #1973f0;
  color: #002b66;
  background-color: #ebf3ff;
}

.kansas-state {
  stroke: #a64dbc;
  color: #441650;
  background-color: #f8effb;
}

.kennesaw-state {
  stroke: #efb41a;
  color: #664900;
  background-color: #fff9eb;
}

.kent-state {
  stroke: #2d32dc;
  color: #080b5e;
  background-color: #ecedfd;
}

.kentucky {
  stroke: #198af0;
  color: #003666;
  background-color: #ebf5ff;
}

.la-salle {
  stroke: #198af0;
  color: #003566;
  background-color: #ebf5ff;
}

.la-sierra-university {
  stroke: #4f89ba;
  color: #17354f;
  background-color: #eff5fa;
}

.lafayette {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.lamar {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.lehigh {
  stroke: #bf794a;
  color: #512d15;
  background-color: #fbf4ef;
}

.liberty {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.lipscomb {
  stroke: #7b59b0;
  color: #2e1b4b;
  background-color: #f4f0fa;
}

.liu-brooklyn {
  stroke: #5278b7;
  color: #182c4e;
  background-color: #eff3fa;
}

.long-beach-state {
  stroke: #f0b919;
  color: #664c00;
  background-color: #fffaeb;
}

.long-island {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.longwood {
  stroke: #545ab5;
  color: #191c4d;
  background-color: #f0f0fa;
}

.los-angeles-tech {
  stroke: #cf3a49;
  color: #580e15;
  background-color: #fcedef;
}

.louisiana-college {
  stroke: #5369b6;
  color: #18244e;
  background-color: #eff2fa;
}

.louisiana-tech {
  stroke: #1962f0;
  color: #002266;
  background-color: #ebf1ff;
}

.louisiana {
  stroke: #e12929;
  color: #5f0707;
  background-color: #feecec;
}

.la-monroe {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.louisville {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.loyola-marymount {
  stroke: #dd2c2c;
  color: #5e0808;
  background-color: #fdecec;
}

.loyola-chicago {
  stroke: #c24770;
  color: #531328;
  background-color: #fbeef3;
}

.lsu {
  stroke: #7c47c2;
  color: #2f1353;
  background-color: #f4eefb;
}

.lsu-shreveport {
  stroke: #7c47c2;
  color: #2f1353;
  background-color: #f4eefb;
}

.lyndon-state {
  stroke: #19f050;
  color: #00661a;
  background-color: #ebfff0;
}

.maine {
  stroke: #197ef0;
  color: #003066;
  background-color: #ebf4ff;
}

.manhattan {
  stroke: #1972f0;
  color: #002a66;
  background-color: #ebf3ff;
}

.marist {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.marquette {
  stroke: #1988f0;
  color: #003466;
  background-color: #ebf5ff;
}

.marshall {
  stroke: #19f019;
  color: #006600;
  background-color: #ebffeb;
}

.maryland {
  stroke: #de2c3f;
  color: #5e0811;
  background-color: #fdecee;
}

.maryland-eastern-shore {
  stroke: #ba4f6e;
  color: #4f1727;
  background-color: #faeff2;
}

.marywood {
  stroke: #1cee65;
  color: #016524;
  background-color: #ebfff2;
}

.massachusetts {
  stroke: #c74343;
  color: #551111;
  background-color: #fceeee;
}

.mcneese-state {
  stroke: #2642e3;
  color: #051361;
  background-color: #eceefe;
}

.memphis {
  stroke: #2c42dd;
  color: #08135e;
  background-color: #eceefd;
}

.mercer {
  stroke: #e07e2a;
  color: #5f3007;
  background-color: #fef4ec;
}

.miami-fla {
  stroke: #196ff0;
  color: #002966;
  background-color: #ebf3ff;
}

.miami-oh {
  stroke: #ce3c4b;
  color: #580e16;
  background-color: #fcedef;
}

.michigan {
  stroke: #e5c224;
  color: #615005;
  background-color: #fefbec;
}

.michigan-state {
  stroke: #58b19d;
  color: #1a4c41;
  background-color: #f0faf8;
}

.middle-tennessee {
  stroke: #198af0;
  color: #003666;
  background-color: #ebf5ff;
}

.milwaukee {
  stroke: #1985f0;
  color: #003366;
  background-color: #ebf5ff;
}

.minnesota {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.minot-state {
  stroke: #e2274b;
  color: #600617;
  background-color: #feecef;
}

.mississippi {
  stroke: #de2b48;
  color: #5e0816;
  background-color: #fdecef;
}

.mississippi-college {
  stroke: #1989f0;
  color: #003566;
  background-color: #ebf5ff;
}

.mississippi-st {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.mississippi-valley-state {
  stroke: #22e787;
  color: #046234;
  background-color: #ebfef5;
}

.missouri {
  stroke: #e1ab28;
  color: #604606;
  background-color: #fef9ec;
}

.missouri-state {
  stroke: #e72281;
  color: #620431;
  background-color: #feebf4;
}

.monmouth {
  stroke: #327fd7;
  color: #0b305b;
  background-color: #edf4fd;
}

.montana {
  stroke: #f01985;
  color: #660033;
  background-color: #ffebf5;
}

.montana-state {
  stroke: #3058da;
  color: #091d5d;
  background-color: #ecf0fd;
}

.montana-western {
  stroke: #ed1c1d;
  color: #650102;
  background-color: #ffebeb;
}

.morehead-state {
  stroke: #c79a42;
  color: #553e11;
  background-color: #fcf7ee;
}

.morgan-state {
  stroke: #f08f19;
  color: #663800;
  background-color: #fff6eb;
}

.morris-college {
  stroke: #1996f0;
  color: #003b66;
  background-color: #ebf6ff;
}

.mount-st-marys {
  stroke: #5579b4;
  color: #192c4d;
  background-color: #f0f3fa;
}

.murray-state {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.njit {
  stroke: #d83131;
  color: #5c0a0a;
  background-color: #fdeded;
}

.navy {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.nebraska {
  stroke: #f03719;
  color: #660e00;
  background-color: #ffedeb;
}

.nevada {
  stroke: #1974f0;
  color: #002b66;
  background-color: #ebf3ff;
}

.new-hampshire {
  stroke: #196ff0;
  color: #002966;
  background-color: #ebf3ff;
}

.new-mexico {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.new-mexico-state {
  stroke: #f0194f;
  color: #66001a;
  background-color: #ffebf0;
}

.new-orleans {
  stroke: #1961f0;
  color: #002266;
  background-color: #ebf1ff;
}

.niagara {
  stroke: #8556b3;
  color: #331a4c;
  background-color: #f5f0fa;
}

.nicholls-state {
  stroke: #2642e3;
  color: #051361;
  background-color: #eceefe;
}

.norfolk-state {
  stroke: #f019d6;
  color: #660059;
  background-color: #ffebfc;
}

.north-alabama {
  stroke: #8d43c7;
  color: #371155;
  background-color: #f6eefc;
}

.north-carolina {
  stroke: #5685b3;
  color: #1a334d;
  background-color: #f0f5fa;
}

.north-carolina-at {
  stroke: #198bf0;
  color: #003666;
  background-color: #ebf5ff;
}

.north-carolina-central {
  stroke: #a96176;
  color: #481e2a;
  background-color: #f9f1f3;
}

.north-carolina-state {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.north-carolina-asheville {
  stroke: #1969f0;
  color: #002666;
  background-color: #ebf2ff;
}

.north-carolina-wilmington {
  stroke: #19f0f0;
  color: #006666;
  background-color: #ebffff;
}

.north-dakota {
  stroke: #19f019;
  color: #006600;
  background-color: #ebffeb;
}

.north-dakota-state {
  stroke: #32d7a7;
  color: #0b5b44;
  background-color: #edfdf8;
}

.north-florida {
  stroke: #1961f0;
  color: #002266;
  background-color: #ebf1ff;
}

.north-texas {
  stroke: #21e863;
  color: #036323;
  background-color: #ebfef2;
}

.northeastern {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.northern-arizona {
  stroke: #1985f0;
  color: #003366;
  background-color: #ebf5ff;
}

.northern-colorado {
  stroke: #1b98ee;
  color: #013c65;
  background-color: #ebf7ff;
}

.northern-illinois {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.northern-iowa {
  stroke: #a919f0;
  color: #440066;
  background-color: #f8ebff;
}

.northwestern {
  stroke: #7548c1;
  color: #2b1452;
  background-color: #f3effb;
}

.northwestern-state {
  stroke: #a919f0;
  color: #440066;
  background-color: #f8ebff;
}

.notre-dame {
  stroke: #b1a258;
  color: #4c441a;
  background-color: #faf8f0;
}

.nyc-tech {
  stroke: #5a73af;
  color: #1b294b;
  background-color: #f0f3fa;
}

.oakland {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.ohio {
  stroke: #19f085;
  color: #006633;
  background-color: #ebfff5;
}

.ohio-state {
  stroke: #f03419;
  color: #660d00;
  background-color: #ffedeb;
}

.oklahoma {
  stroke: #f0193b;
  color: #660010;
  background-color: #ffebee;
}

.oklahoma-state {
  stroke: #f06f19;
  color: #662900;
  background-color: #fff3eb;
}

.old-dominion {
  stroke: #197af0;
  color: #002e66;
  background-color: #ebf4ff;
}

.olivet-nazarene {
  stroke: #8950b9;
  color: #35174f;
  background-color: #f5effa;
}

.oral-roberts {
  stroke: #c0ab49;
  color: #524714;
  background-color: #fbf9ef;
}

.oregon {
  stroke: #19f0f0;
  color: #006666;
  background-color: #ebffff;
}

.oregon-state {
  stroke: #f07319;
  color: #662b00;
  background-color: #fff3eb;
}

.pacific {
  stroke: #f06f19;
  color: #662900;
  background-color: #fff3eb;
}

.panhandle-state-opsu {
  stroke: #de2b48;
  color: #5e0816;
  background-color: #fdecef;
}

.penn-state {
  stroke: #4d70bd;
  color: #162850;
  background-color: #eff3fb;
}

.pennsylvania {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.pepperdine {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.pittsburgh {
  stroke: #3668d4;
  color: #0c255a;
  background-color: #edf2fd;
}

.portland {
  stroke: #7c47c2;
  color: #2f1353;
  background-color: #f4eefb;
}

.portland-state {
  stroke: #20ea70;
  color: #036329;
  background-color: #ebfef3;
}

.prairie-view {
  stroke: #7f4fba;
  color: #30174f;
  background-color: #f4effa;
}

.prairie-view-am {
  stroke: #7f4fba;
  color: #30174f;
  background-color: #f4effa;
}

.presbyterian {
  stroke: #1993f0;
  color: #003a66;
  background-color: #ebf6ff;
}

.princeton {
  stroke: #f06f19;
  color: #662900;
  background-color: #fff3eb;
}

.providence {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.purdue {
  stroke: #9b886e;
  color: #433523;
  background-color: #f8f5f2;
}

.purdue-calumet {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.quinnipiac {
  stroke: #198df0;
  color: #003766;
  background-color: #ebf6ff;
}

.radford {
  stroke: #e57724;
  color: #612c05;
  background-color: #fef3ec;
}

.rhode-island {
  stroke: #498fc0;
  color: #143852;
  background-color: #eff6fb;
}

.rice {
  stroke: #1963f0;
  color: #002366;
  background-color: #ebf2ff;
}

.richmond {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.rider {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.robert-morris {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.robert-morris-illinois {
  stroke: #b25774;
  color: #4c1a2a;
  background-color: #faf0f3;
}

.rutgers {
  stroke: #f0192f;
  color: #66000a;
  background-color: #ffebed;
}

.sacramento-state {
  stroke: #19f0af;
  color: #006647;
  background-color: #ebfff9;
}

.sacred-heart {
  stroke: #c94040;
  color: #561010;
  background-color: #fceeee;
}

.saint-josephs {
  stroke: #cd3d56;
  color: #570f1c;
  background-color: #fceef0;
}

.saint-louis {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.saint-marys {
  stroke: #d6333a;
  color: #5b0b0e;
  background-color: #fdeded;
}

.sam-houston-state {
  stroke: #2020e9;
  color: #030363;
  background-color: #ebebfe;
}

.samford {
  stroke: #e62a23;
  color: #620804;
  background-color: #feeceb;
}

.san-diego {
  stroke: #1956f0;
  color: #001d66;
  background-color: #ebf0ff;
}

.san-diego-state {
  stroke: #d13954;
  color: #590d1b;
  background-color: #fcedf0;
}

.san-francisco {
  stroke: #19f085;
  color: #006633;
  background-color: #ebfff5;
}

.san-jose-state {
  stroke: #f0bf19;
  color: #664e00;
  background-color: #fffaeb;
}

.santa-clara {
  stroke: #f01966;
  color: #660025;
  background-color: #ffebf2;
}

.savannah-state {
  stroke: #f06f19;
  color: #662900;
  background-color: #fff3eb;
}

.seattle {
  stroke: #19d0f0;
  color: #005766;
  background-color: #ebfcff;
}

.seton-hall {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.siena {
  stroke: #1972f0;
  color: #002a66;
  background-color: #ebf3ff;
}

.siu-edwardsville-siue {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.south-alabama {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.south-carolina {
  stroke: #bc4d5b;
  color: #50161d;
  background-color: #fbeff0;
}

.south-carolina-state {
  stroke: #f0193b;
  color: #660010;
  background-color: #ffebee;
}

.south-dakota {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.south-dakota-state {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.south-florida {
  stroke: #759583;
  color: #264032;
  background-color: #f2f7f5;
}

.southeast-missouri-state {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.southeastern-louisiana {
  stroke: #19f0a6;
  color: #006643;
  background-color: #ebfff8;
}

.southern-illinois {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.southern-methodist {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.southern-miss {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.southern-university {
  stroke: #498fc0;
  color: #143852;
  background-color: #eff6fb;
}

.southern-utah {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.southern-virginia-svu {
  stroke: #be4b5d;
  color: #51151e;
  background-color: #fbeff1;
}

.st-bonaventure {
  stroke: #d93053;
  color: #5c0a1b;
  background-color: #fdedf0;
}

.st-francis-ny {
  stroke: #4646c4;
  color: #131353;
  background-color: #eeeefb;
}

.st-francis-pa-sfu {
  stroke: #c54458;
  color: #54121c;
  background-color: #fbeef0;
}

.st-johns {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.st-peters {
  stroke: #198bf0;
  color: #003666;
  background-color: #ebf5ff;
}

.st-thomas-texas {
  stroke: #d9304b;
  color: #5c0a17;
  background-color: #fdedef;
}

.stanford {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.stephen-f-austin {
  stroke: #8519f0;
  color: #330066;
  background-color: #f5ebff;
}

.stetson {
  stroke: #19f019;
  color: #006600;
  background-color: #ebffeb;
}

.stony-brook {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.syracuse {
  stroke: #f08419;
  color: #663300;
  background-color: #fff5eb;
}

.tcu {
  stroke: #6257b2;
  color: #201a4c;
  background-color: #f1f0fa;
}

.temple {
  stroke: #d43546;
  color: #5a0c14;
  background-color: #fdedef;
}

.tennessee {
  stroke: #f08719;
  color: #663400;
  background-color: #fff5eb;
}

.tennessee-state {
  stroke: #2859e1;
  color: #061e60;
  background-color: #ecf1fe;
}

.tennessee-tech {
  stroke: #2859e1;
  color: #061e60;
  background-color: #ecf1fe;
}

.tennessee-martin {
  stroke: #c14865;
  color: #521423;
  background-color: #fbeff2;
}

.texas {
  stroke: #f07319;
  color: #662b00;
  background-color: #fff3eb;
}

.texas-am {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.texas-am-corpus-christi {
  stroke: #198af0;
  color: #003566;
  background-color: #ebf5ff;
}

.texas-christian-tcu {
  stroke: #8a43c6;
  color: #361155;
  background-color: #f5eefc;
}

.texas-el-paso-utep {
  stroke: #1975f0;
  color: #002b66;
  background-color: #ebf3ff;
}

.texas-southern {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.texas-state {
  stroke: #c3464a;
  color: #531315;
  background-color: #fbeeef;
}

.texas-tech {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.texas-arlington {
  stroke: #e67824;
  color: #622d04;
  background-color: #fef4eb;
}

.texas-pan-american {
  stroke: #19f019;
  color: #006600;
  background-color: #ebffeb;
}

.texas-san-antonio {
  stroke: #407dca;
  color: #102f56;
  background-color: #eef4fc;
}

.toledo {
  stroke: #4646c4;
  color: #131353;
  background-color: #eeeefb;
}

.towson {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.trinity-college {
  stroke: #1988f0;
  color: #003566;
  background-color: #ebf5ff;
}

.troy {
  stroke: #d03953;
  color: #580e1a;
  background-color: #fcedf0;
}

.tulane {
  stroke: #34e227;
  color: #0c6006;
  background-color: #edfeec;
}

.tulsa {
  stroke: #c0ab49;
  color: #524714;
  background-color: #fbf9ef;
}

.uab {
  stroke: #19f019;
  color: #006600;
  background-color: #ebffeb;
}

.uc-davis {
  stroke: #1969f0;
  color: #002666;
  background-color: #ebf2ff;
}

.uc-irvine {
  stroke: #1963f0;
  color: #002366;
  background-color: #ebf2ff;
}

.uc-riverside {
  stroke: #477cc2;
  color: #132e53;
  background-color: #eef4fb;
}

.uc-santa-barbara {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.uc-santa-cruz {
  stroke: #1991f0;
  color: #003966;
  background-color: #ebf6ff;
}

.ucf {
  stroke: #b8a051;
  color: #4f4217;
  background-color: #faf8ef;
}

.ucla {
  stroke: #707d99;
  color: #242e42;
  background-color: #f2f4f8;
}

.umbc {
  stroke: #f0ba19;
  color: #664c00;
  background-color: #fffaeb;
}

.umkc {
  stroke: #c0ab49;
  color: #524714;
  background-color: #fbf9ef;
}

.unc-greensboro {
  stroke: #f0c519;
  color: #665200;
  background-color: #fffbeb;
}

.union-college-ny {
  stroke: #bb4e5f;
  color: #50161f;
  background-color: #fbeff1;
}

.union-college-ky {
  stroke: #f05e19;
  color: #662100;
  background-color: #fff1eb;
}

.unlv {
  stroke: #ee1c1c;
  color: #650101;
  background-color: #ffebeb;
}

.usc {
  stroke: #c54458;
  color: #54121c;
  background-color: #fbeef0;
}

.usc-upstate {
  stroke: #bc4d5b;
  color: #50161d;
  background-color: #fbeff0;
}

.utah {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.utah-state {
  stroke: #1985f0;
  color: #003366;
  background-color: #ebf5ff;
}

.utah-valley {
  stroke: #19f085;
  color: #006633;
  background-color: #ebfff5;
}

.utep {
  stroke: #f08419;
  color: #663300;
  background-color: #fff5eb;
}

.valparaiso {
  stroke: #f08519;
  color: #663300;
  background-color: #fff5eb;
}

.vanderbilt {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.vermont {
  stroke: #19f092;
  color: #006639;
  background-color: #ebfff6;
}

.villanova {
  stroke: #196ff0;
  color: #002966;
  background-color: #ebf3ff;
}

.virginia {
  stroke: #416bc8;
  color: #112655;
  background-color: #eef2fc;
}

.virginia-commonwealth {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.virginia-military {
  stroke: #d9304b;
  color: #5c0a17;
  background-color: #fdedef;
}

.virginia-tech {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.virginia-wise {
  stroke: #dd2c5b;
  color: #5e081f;
  background-color: #fdecf1;
}

.wagner {
  stroke: #327fd7;
  color: #0b305b;
  background-color: #edf4fd;
}

.wake-forest {
  stroke: #b99651;
  color: #4f3c17;
  background-color: #faf7ef;
}

.washington {
  stroke: #676ca3;
  color: #202446;
  background-color: #f1f2f9;
}

.washington-state {
  stroke: #cd3d58;
  color: #570f1d;
  background-color: #fceef0;
}

.weber-state {
  stroke: #7a49c0;
  color: #2e1452;
  background-color: #f4effb;
}

.west-virginia {
  stroke: #f0c519;
  color: #665200;
  background-color: #fffbeb;
}

.western-carolina {
  stroke: #8455b4;
  color: #33194d;
  background-color: #f5f0fa;
}

.western-illinois {
  stroke: #b71dec;
  color: #4b0264;
  background-color: #faebff;
}

.western-kentucky {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}

.western-michigan {
  stroke: #d28737;
  color: #59340d;
  background-color: #fcf5ed;
}

.western-new-mexico {
  stroke: #8246c3;
  color: #321353;
  background-color: #f5eefb;
}

.wichita-state {
  stroke: #858585;
  color: #333333;
  background-color: whitesmoke;
}

.wilberforce {
  stroke: #42c774;
  color: #11552b;
  background-color: #eefcf3;
}

.wiley-college {
  stroke: #6e55b5;
  color: #27194d;
  background-color: #f2f0fa;
}

.william--mary {
  stroke: #41c89c;
  color: #11553f;
  background-color: #eefcf7;
}

.wilmington {
  stroke: #19f07c;
  color: #00662f;
  background-color: #ebfff4;
}

.winthrop {
  stroke: #e57724;
  color: #612c05;
  background-color: #fef3ec;
}

.wisconsin {
  stroke: #dd2c3c;
  color: #5e0810;
  background-color: #fdecee;
}

.wofford {
  stroke: #c0ab49;
  color: #524714;
  background-color: #fbf9ef;
}

.wright-state {
  stroke: #19f0b1;
  color: #006648;
  background-color: #ebfff9;
}

.wyoming {
  stroke: #9f7a6a;
  color: #442c22;
  background-color: #f8f3f1;
}

.xavier {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.yale {
  stroke: #1919f0;
  color: #000066;
  background-color: #ebebff;
}

.youngstown-state {
  stroke: #f01919;
  color: #660000;
  background-color: #ffebeb;
}
/*# sourceMappingURL=ncaa-colors-calc.css.map */