.air-force {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.akron {
  stroke: rgba(37, 127, 244, 0.8);
  color: rgba(0, 55, 128, 0.8);
  background-color: rgba(230, 241, 255, 0.8);
}

.alabama {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.alabama-am {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.alabama-state {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.albany {
  stroke: rgba(141, 101, 180, 0.8);
  color: rgba(64, 35, 92, 0.8);
  background-color: rgba(242, 237, 248, 0.8);
}

.alcorn-state {
  stroke: rgba(156, 37, 244, 0.8);
  color: rgba(74, 0, 128, 0.8);
  background-color: rgba(244, 230, 255, 0.8);
}

.american-university {
  stroke: rgba(242, 38, 104, 0.8);
  color: rgba(127, 1, 41, 0.8);
  background-color: rgba(255, 230, 238, 0.8);
}

.anderson-indiana {
  stroke: rgba(234, 134, 46, 0.8);
  color: rgba(122, 60, 5, 0.8);
  background-color: rgba(254, 241, 231, 0.8);
}

.appalachian-state {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.arizona {
  stroke: rgba(213, 67, 92, 0.8);
  color: rgba(111, 17, 33, 0.8);
  background-color: rgba(252, 233, 236, 0.8);
}

.arizona-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.arkansas {
  stroke: rgba(203, 78, 97, 0.8);
  color: rgba(105, 23, 35, 0.8);
  background-color: rgba(250, 234, 237, 0.8);
}

.arkansas-state {
  stroke: rgba(234, 47, 83, 0.8);
  color: rgba(122, 5, 28, 0.8);
  background-color: rgba(254, 231, 235, 0.8);
}

.arkansas-little-rock {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.arkansas-pine-bluff {
  stroke: rgba(213, 67, 92, 0.8);
  color: rgba(111, 17, 33, 0.8);
  background-color: rgba(252, 233, 236, 0.8);
}

.army {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.auburn {
  stroke: rgba(73, 133, 207, 0.8);
  color: rgba(20, 59, 107, 0.8);
  background-color: rgba(234, 241, 251, 0.8);
}

.austin-peay {
  stroke: rgba(51, 98, 229, 0.8);
  color: rgba(8, 37, 120, 0.8);
  background-color: rgba(231, 237, 253, 0.8);
}

.ball-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.baruch {
  stroke: rgba(61, 127, 220, 0.8);
  color: rgba(13, 56, 114, 0.8);
  background-color: rgba(232, 241, 252, 0.8);
}

.baylor {
  stroke: rgba(37, 244, 37, 0.8);
  color: rgba(0, 128, 0, 0.8);
  background-color: rgba(230, 255, 230, 0.8);
}

.belmont {
  stroke: rgba(244, 37, 64, 0.8);
  color: rgba(128, 0, 17, 0.8);
  background-color: rgba(255, 230, 233, 0.8);
}

.bethany-california {
  stroke: rgba(244, 41, 37, 0.8);
  color: rgba(128, 3, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.bethune-cookman {
  stroke: rgba(167, 113, 132, 0.8);
  color: rgba(85, 43, 57, 0.8);
  background-color: rgba(247, 238, 241, 0.8);
}

.binghamton {
  stroke: rgba(37, 244, 199, 0.8);
  color: rgba(0, 128, 100, 0.8);
  background-color: rgba(230, 255, 250, 0.8);
}

.bluefield-college {
  stroke: rgba(37, 133, 244, 0.8);
  color: rgba(0, 59, 128, 0.8);
  background-color: rgba(230, 241, 255, 0.8);
}

.boise-state {
  stroke: rgba(73, 136, 208, 0.8);
  color: rgba(20, 61, 108, 0.8);
  background-color: rgba(233, 242, 251, 0.8);
}

.boston-college {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.boston-university {
  stroke: rgba(244, 63, 37, 0.8);
  color: rgba(128, 16, 0, 0.8);
  background-color: rgba(255, 233, 230, 0.8);
}

.bowling-green {
  stroke: rgba(244, 130, 37, 0.8);
  color: rgba(128, 58, 0, 0.8);
  background-color: rgba(255, 241, 230, 0.8);
}

.bradley {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.brigham-young {
  stroke: rgba(37, 119, 244, 0.8);
  color: rgba(0, 50, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.brown {
  stroke: rgba(178, 103, 103, 0.8);
  color: rgba(91, 36, 36, 0.8);
  background-color: rgba(248, 237, 237, 0.8);
}

.bryant-university {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.bucknell {
  stroke: rgba(244, 161, 37, 0.8);
  color: rgba(128, 77, 0, 0.8);
  background-color: rgba(255, 245, 230, 0.8);
}

.buffalo {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.butler {
  stroke: rgba(37, 143, 244, 0.8);
  color: rgba(0, 66, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.cal-poly {
  stroke: rgba(101, 179, 123, 0.8);
  color: rgba(36, 92, 51, 0.8);
  background-color: rgba(237, 248, 240, 0.8);
}

.cal-state-bakersfield {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.cal-state-fullerton {
  stroke: rgba(244, 182, 37, 0.8);
  color: rgba(128, 89, 0, 0.8);
  background-color: rgba(255, 247, 230, 0.8);
}

.cal-state-northridge {
  stroke: rgba(230, 50, 85, 0.8);
  color: rgba(120, 7, 29, 0.8);
  background-color: rgba(254, 231, 235, 0.8);
}

.california {
  stroke: rgba(79, 79, 202, 0.8);
  color: rgba(23, 23, 104, 0.8);
  background-color: rgba(234, 234, 250, 0.8);
}

.campbell {
  stroke: rgba(244, 140, 37, 0.8);
  color: rgba(128, 64, 0, 0.8);
  background-color: rgba(255, 242, 230, 0.8);
}

.canisius {
  stroke: rgba(37, 123, 244, 0.8);
  color: rgba(0, 53, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.carver-bible-college {
  stroke: rgba(109, 106, 175, 0.8);
  color: rgba(40, 38, 89, 0.8);
  background-color: rgba(238, 237, 247, 0.8);
}

.centenary {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.central-arkansas {
  stroke: rgba(132, 99, 181, 0.8);
  color: rgba(58, 35, 93, 0.8);
  background-color: rgba(241, 236, 248, 0.8);
}

.central-connecticut-state {
  stroke: rgba(37, 148, 244, 0.8);
  color: rgba(0, 68, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.central-michigan {
  stroke: rgba(244, 37, 140, 0.8);
  color: rgba(128, 0, 64, 0.8);
  background-color: rgba(255, 230, 242, 0.8);
}

.charleston {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.charleston-southern {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.charlotte {
  stroke: rgba(37, 244, 66, 0.8);
  color: rgba(0, 128, 18, 0.8);
  background-color: rgba(230, 255, 233, 0.8);
}

.chattanooga {
  stroke: rgba(37, 145, 244, 0.8);
  color: rgba(0, 67, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.chicago-state {
  stroke: rgba(37, 244, 244, 0.8);
  color: rgba(0, 128, 128, 0.8);
  background-color: rgba(230, 255, 255, 0.8);
}

.cincinnati {
  stroke: rgba(243, 38, 68, 0.8);
  color: rgba(127, 1, 19, 0.8);
  background-color: rgba(255, 230, 233, 0.8);
}

.citadel {
  stroke: rgba(91, 138, 189, 0.8);
  color: rgba(30, 62, 97, 0.8);
  background-color: rgba(236, 242, 249, 0.8);
}

.clemson {
  stroke: rgba(244, 117, 37, 0.8);
  color: rgba(128, 50, 0, 0.8);
  background-color: rgba(255, 239, 230, 0.8);
}

.cleveland-state {
  stroke: rgba(37, 244, 37, 0.8);
  color: rgba(0, 128, 0, 0.8);
  background-color: rgba(230, 255, 230, 0.8);
}

.coastal-carolina {
  stroke: rgba(37, 244, 244, 0.8);
  color: rgba(0, 128, 128, 0.8);
  background-color: rgba(230, 255, 255, 0.8);
}

.college-of-new-jersey {
  stroke: rgba(100, 123, 181, 0.8);
  color: rgba(35, 52, 93, 0.8);
  background-color: rgba(237, 240, 248, 0.8);
}

.colgate {
  stroke: rgba(240, 40, 47, 0.8);
  color: rgba(126, 2, 6, 0.8);
  background-color: rgba(255, 230, 231, 0.8);
}

.colorado {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.colorado-state {
  stroke: rgba(37, 244, 137, 0.8);
  color: rgba(0, 128, 62, 0.8);
  background-color: rgba(230, 255, 242, 0.8);
}

.columbia {
  stroke: rgba(37, 173, 244, 0.8);
  color: rgba(0, 84, 128, 0.8);
  background-color: rgba(230, 246, 255, 0.8);
}

.connecticut {
  stroke: rgba(37, 99, 244, 0.8);
  color: rgba(0, 38, 128, 0.8);
  background-color: rgba(230, 237, 255, 0.8);
}

.coppin-state {
  stroke: rgba(244, 37, 218, 0.8);
  color: rgba(128, 0, 112, 0.8);
  background-color: rgba(255, 230, 252, 0.8);
}

.cornell {
  stroke: rgba(213, 67, 67, 0.8);
  color: rgba(111, 17, 17, 0.8);
  background-color: rgba(252, 233, 233, 0.8);
}

.creighton {
  stroke: rgba(37, 149, 244, 0.8);
  color: rgba(0, 69, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.dallas-christian {
  stroke: rgba(244, 40, 37, 0.8);
  color: rgba(128, 2, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.dallas-university {
  stroke: rgba(64, 131, 217, 0.8);
  color: rgba(15, 58, 113, 0.8);
  background-color: rgba(232, 241, 252, 0.8);
}

.dartmouth {
  stroke: rgba(37, 244, 159, 0.8);
  color: rgba(0, 128, 75, 0.8);
  background-color: rgba(230, 255, 245, 0.8);
}

.davidson {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.dayton {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.delaware {
  stroke: rgba(37, 165, 244, 0.8);
  color: rgba(0, 79, 128, 0.8);
  background-color: rgba(230, 245, 255, 0.8);
}

.delaware-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.denver {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.depaul {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.detroit {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.dillard {
  stroke: rgba(71, 114, 209, 0.8);
  color: rgba(19, 47, 108, 0.8);
  background-color: rgba(233, 239, 251, 0.8);
}

.dominican {
  stroke: rgba(55, 131, 226, 0.8);
  color: rgba(10, 58, 118, 0.8);
  background-color: rgba(231, 241, 253, 0.8);
}

.drake {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.drexel {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.duke {
  stroke: rgba(37, 116, 244, 0.8);
  color: rgba(0, 49, 128, 0.8);
  background-color: rgba(230, 239, 255, 0.8);
}

.duquesne {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.east-carolina {
  stroke: rgba(139, 91, 190, 0.8);
  color: rgba(63, 30, 98, 0.8);
  background-color: rgba(242, 235, 249, 0.8);
}

.east-tennessee-state {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.east-texas-baptist {
  stroke: rgba(62, 135, 219, 0.8);
  color: rgba(14, 60, 114, 0.8);
  background-color: rgba(232, 242, 252, 0.8);
}

.eastern-illinois {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.eastern-kentucky {
  stroke: rgba(244, 37, 79, 0.8);
  color: rgba(128, 0, 26, 0.8);
  background-color: rgba(255, 230, 235, 0.8);
}

.eastern-michigan {
  stroke: rgba(37, 244, 126, 0.8);
  color: rgba(0, 128, 55, 0.8);
  background-color: rgba(230, 255, 240, 0.8);
}

.eastern-washington {
  stroke: rgba(244, 37, 81, 0.8);
  color: rgba(128, 0, 27, 0.8);
  background-color: rgba(255, 230, 235, 0.8);
}

.elon {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.evansville {
  stroke: rgba(141, 87, 194, 0.8);
  color: rgba(65, 28, 100, 0.8);
  background-color: rgba(242, 235, 249, 0.8);
}

.fairfield {
  stroke: rgba(213, 67, 92, 0.8);
  color: rgba(111, 17, 33, 0.8);
  background-color: rgba(252, 233, 236, 0.8);
}

.fairleigh-dickinson {
  stroke: rgba(40, 154, 241, 0.8);
  color: rgba(2, 72, 126, 0.8);
  background-color: rgba(230, 244, 255, 0.8);
}

.ferris-state {
  stroke: rgba(244, 37, 89, 0.8);
  color: rgba(128, 0, 32, 0.8);
  background-color: rgba(255, 230, 236, 0.8);
}

.florida {
  stroke: rgba(244, 97, 37, 0.8);
  color: rgba(128, 37, 0, 0.8);
  background-color: rgba(255, 237, 230, 0.8);
}

.florida-am {
  stroke: rgba(233, 133, 48, 0.8);
  color: rgba(122, 59, 6, 0.8);
  background-color: rgba(254, 241, 231, 0.8);
}

.florida-atlantic {
  stroke: rgba(37, 140, 244, 0.8);
  color: rgba(0, 64, 128, 0.8);
  background-color: rgba(230, 242, 255, 0.8);
}

.florida-gulf-coast {
  stroke: rgba(37, 123, 244, 0.8);
  color: rgba(0, 53, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.florida-international {
  stroke: rgba(37, 132, 244, 0.8);
  color: rgba(0, 59, 128, 0.8);
  background-color: rgba(230, 241, 255, 0.8);
}

.florida-memorial {
  stroke: rgba(47, 145, 233, 0.8);
  color: rgba(6, 67, 122, 0.8);
  background-color: rgba(231, 243, 254, 0.8);
}

.florida-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.fordham {
  stroke: rgba(238, 43, 116, 0.8);
  color: rgba(124, 3, 48, 0.8);
  background-color: rgba(254, 230, 239, 0.8);
}

.fresno-state {
  stroke: rgba(220, 61, 91, 0.8);
  color: rgba(114, 13, 33, 0.8);
  background-color: rgba(252, 232, 236, 0.8);
}

.furman {
  stroke: rgba(137, 102, 179, 0.8);
  color: rgba(61, 36, 91, 0.8);
  background-color: rgba(242, 237, 248, 0.8);
}

.gardner-webb {
  stroke: rgba(198, 82, 89, 0.8);
  color: rgba(102, 25, 29, 0.8);
  background-color: rgba(250, 235, 235, 0.8);
}

.george-mason {
  stroke: rgba(37, 244, 37, 0.8);
  color: rgba(0, 128, 0, 0.8);
  background-color: rgba(230, 255, 230, 0.8);
}

.george-washington {
  stroke: rgba(208, 154, 72, 0.8);
  color: rgba(108, 72, 20, 0.8);
  background-color: rgba(251, 244, 233, 0.8);
}

.georgetown {
  stroke: rgba(37, 140, 244, 0.8);
  color: rgba(0, 64, 128, 0.8);
  background-color: rgba(230, 242, 255, 0.8);
}

.georgia {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.georgia-southern {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.georgia-state {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.georgia-tech {
  stroke: rgba(198, 178, 82, 0.8);
  color: rgba(102, 89, 25, 0.8);
  background-color: rgba(250, 247, 235, 0.8);
}

.gonzaga {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.grambling-state {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.green-bay {
  stroke: rgba(37, 244, 198, 0.8);
  color: rgba(0, 128, 99, 0.8);
  background-color: rgba(230, 255, 249, 0.8);
}

.greenville {
  stroke: rgba(234, 126, 47, 0.8);
  color: rgba(122, 55, 5, 0.8);
  background-color: rgba(254, 240, 231, 0.8);
}

.hampton {
  stroke: rgba(73, 204, 208, 0.8);
  color: rgba(20, 105, 108, 0.8);
  background-color: rgba(233, 251, 251, 0.8);
}

.hannibal-legrange-college {
  stroke: rgba(88, 117, 193, 0.8);
  color: rgba(28, 48, 99, 0.8);
  background-color: rgba(235, 239, 249, 0.8);
}

.hartford {
  stroke: rgba(244, 66, 37, 0.8);
  color: rgba(128, 18, 0, 0.8);
  background-color: rgba(255, 233, 230, 0.8);
}

.harvard {
  stroke: rgba(224, 56, 90, 0.8);
  color: rgba(117, 11, 32, 0.8);
  background-color: rgba(253, 232, 236, 0.8);
}

.haskell {
  stroke: rgba(164, 108, 172, 0.8);
  color: rgba(82, 40, 88, 0.8);
  background-color: rgba(246, 237, 247, 0.8);
}

.hawaii {
  stroke: rgba(244, 37, 89, 0.8);
  color: rgba(128, 0, 32, 0.8);
  background-color: rgba(255, 230, 236, 0.8);
}

.high-point {
  stroke: rgba(233, 127, 48, 0.8);
  color: rgba(122, 56, 6, 0.8);
  background-color: rgba(254, 241, 231, 0.8);
}

.hiwassee-college {
  stroke: rgba(204, 76, 112, 0.8);
  color: rgba(106, 22, 45, 0.8);
  background-color: rgba(251, 234, 238, 0.8);
}

.hofstra {
  stroke: rgba(74, 37, 244, 0.8);
  color: rgba(23, 0, 128, 0.8);
  background-color: rgba(234, 230, 255, 0.8);
}

.holy-cross {
  stroke: rgba(244, 37, 244, 0.8);
  color: rgba(128, 0, 128, 0.8);
  background-color: rgba(255, 230, 255, 0.8);
}

.houston {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.houston-baptist {
  stroke: rgba(91, 121, 189, 0.8);
  color: rgba(30, 50, 97, 0.8);
  background-color: rgba(236, 240, 249, 0.8);
}

.howard {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.huntingdon {
  stroke: rgba(220, 60, 83, 0.8);
  color: rgba(114, 13, 28, 0.8);
  background-color: rgba(252, 232, 235, 0.8);
}

.idaho {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.idaho-state {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.illinois {
  stroke: rgba(244, 120, 37, 0.8);
  color: rgba(128, 51, 0, 0.8);
  background-color: rgba(255, 240, 230, 0.8);
}

.illinois-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.illinois-chicago-uic {
  stroke: rgba(209, 71, 86, 0.8);
  color: rgba(109, 19, 28, 0.8);
  background-color: rgba(251, 233, 235, 0.8);
}

.indiana {
  stroke: rgba(244, 244, 37, 0.8);
  color: rgba(128, 128, 0, 0.8);
  background-color: rgba(255, 255, 230, 0.8);
}

.indiana-state {
  stroke: rgba(58, 136, 222, 0.8);
  color: rgba(12, 61, 116, 0.8);
  background-color: rgba(232, 242, 253, 0.8);
}

.iona {
  stroke: rgba(178, 102, 124, 0.8);
  color: rgba(91, 36, 52, 0.8);
  background-color: rgba(248, 237, 240, 0.8);
}

.iowa {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.iowa-state {
  stroke: rgba(214, 67, 91, 0.8);
  color: rgba(111, 17, 32, 0.8);
  background-color: rgba(252, 233, 236, 0.8);
}

.ipfw {
  stroke: rgba(68, 104, 212, 0.8);
  color: rgba(17, 41, 110, 0.8);
  background-color: rgba(233, 238, 252, 0.8);
}

.iupui {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.jackson-state {
  stroke: rgba(52, 87, 229, 0.8);
  color: rgba(8, 30, 119, 0.8);
  background-color: rgba(231, 236, 253, 0.8);
}

.jacksonville {
  stroke: rgba(97, 184, 97, 0.8);
  color: rgba(33, 94, 33, 0.8);
  background-color: rgba(236, 248, 236, 0.8);
}

.jacksonville-state {
  stroke: rgba(199, 81, 109, 0.8);
  color: rgba(103, 24, 43, 0.8);
  background-color: rgba(250, 234, 238, 0.8);
}

.james-madison {
  stroke: rgba(185, 160, 96, 0.8);
  color: rgba(95, 77, 33, 0.8);
  background-color: rgba(248, 245, 236, 0.8);
}

.kansas {
  stroke: rgba(37, 124, 244, 0.8);
  color: rgba(0, 53, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.kansas-state {
  stroke: rgba(173, 86, 195, 0.8);
  color: rgba(86, 27, 100, 0.8);
  background-color: rgba(247, 235, 250, 0.8);
}

.kennesaw-state {
  stroke: rgba(243, 186, 38, 0.8);
  color: rgba(127, 92, 1, 0.8);
  background-color: rgba(255, 248, 230, 0.8);
}

.kent-state {
  stroke: rgba(56, 61, 225, 0.8);
  color: rgba(11, 14, 117, 0.8);
  background-color: rgba(232, 232, 253, 0.8);
}

.kentucky {
  stroke: rgba(37, 145, 244, 0.8);
  color: rgba(0, 67, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.la-salle {
  stroke: rgba(37, 145, 244, 0.8);
  color: rgba(0, 67, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.la-sierra-university {
  stroke: rgba(88, 144, 193, 0.8);
  color: rgba(28, 67, 99, 0.8);
  background-color: rgba(235, 243, 249, 0.8);
}

.lafayette {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.lamar {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.lehigh {
  stroke: rgba(197, 129, 83, 0.8);
  color: rgba(102, 56, 26, 0.8);
  background-color: rgba(250, 241, 235, 0.8);
}

.liberty {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.lipscomb {
  stroke: rgba(131, 97, 183, 0.8);
  color: rgba(57, 34, 94, 0.8);
  background-color: rgba(241, 236, 248, 0.8);
}

.liu-brooklyn {
  stroke: rgba(90, 128, 190, 0.8);
  color: rgba(30, 55, 98, 0.8);
  background-color: rgba(235, 241, 249, 0.8);
}

.long-beach-state {
  stroke: rgba(244, 190, 37, 0.8);
  color: rgba(128, 95, 0, 0.8);
  background-color: rgba(255, 248, 230, 0.8);
}

.long-island {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.longwood {
  stroke: rgba(92, 98, 188, 0.8);
  color: rgba(31, 35, 97, 0.8);
  background-color: rgba(236, 236, 249, 0.8);
}

.los-angeles-tech {
  stroke: rgba(212, 68, 83, 0.8);
  color: rgba(110, 17, 27, 0.8);
  background-color: rgba(252, 233, 235, 0.8);
}

.louisiana-college {
  stroke: rgba(92, 113, 189, 0.8);
  color: rgba(30, 45, 97, 0.8);
  background-color: rgba(236, 239, 249, 0.8);
}

.louisiana-tech {
  stroke: rgba(37, 107, 244, 0.8);
  color: rgba(0, 43, 128, 0.8);
  background-color: rgba(230, 238, 255, 0.8);
}

.louisiana {
  stroke: rgba(229, 52, 52, 0.8);
  color: rgba(119, 8, 8, 0.8);
  background-color: rgba(253, 231, 231, 0.8);
}

.la-monroe {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.louisville {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.loyola-marymount {
  stroke: rgba(226, 55, 55, 0.8);
  color: rgba(118, 10, 10, 0.8);
  background-color: rgba(253, 231, 231, 0.8);
}

.loyola-chicago {
  stroke: rgba(200, 80, 120, 0.8);
  color: rgba(103, 24, 50, 0.8);
  background-color: rgba(250, 234, 240, 0.8);
}

.lsu {
  stroke: rgba(132, 80, 200, 0.8);
  color: rgba(58, 24, 103, 0.8);
  background-color: rgba(241, 234, 250, 0.8);
}

.lsu-shreveport {
  stroke: rgba(132, 80, 200, 0.8);
  color: rgba(58, 24, 103, 0.8);
  background-color: rgba(241, 234, 250, 0.8);
}

.lyndon-state {
  stroke: rgba(37, 244, 89, 0.8);
  color: rgba(0, 128, 32, 0.8);
  background-color: rgba(230, 255, 236, 0.8);
}

.maine {
  stroke: rgba(37, 134, 244, 0.8);
  color: rgba(0, 60, 128, 0.8);
  background-color: rgba(230, 241, 255, 0.8);
}

.manhattan {
  stroke: rgba(37, 123, 244, 0.8);
  color: rgba(0, 53, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.marist {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.marquette {
  stroke: rgba(37, 143, 244, 0.8);
  color: rgba(0, 66, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.marshall {
  stroke: rgba(37, 244, 37, 0.8);
  color: rgba(0, 128, 0, 0.8);
  background-color: rgba(230, 255, 230, 0.8);
}

.maryland {
  stroke: rgba(226, 54, 74, 0.8);
  color: rgba(118, 10, 22, 0.8);
  background-color: rgba(253, 231, 234, 0.8);
}

.maryland-eastern-shore {
  stroke: rgba(192, 88, 119, 0.8);
  color: rgba(99, 28, 49, 0.8);
  background-color: rgba(249, 235, 239, 0.8);
}

.marywood {
  stroke: rgba(39, 241, 110, 0.8);
  color: rgba(1, 126, 45, 0.8);
  background-color: rgba(230, 255, 238, 0.8);
}

.massachusetts {
  stroke: rgba(204, 76, 76, 0.8);
  color: rgba(106, 22, 22, 0.8);
  background-color: rgba(251, 234, 234, 0.8);
}

.mcneese-state {
  stroke: rgba(49, 76, 231, 0.8);
  color: rgba(7, 23, 121, 0.8);
  background-color: rgba(231, 234, 254, 0.8);
}

.memphis {
  stroke: rgba(55, 76, 225, 0.8);
  color: rgba(10, 23, 117, 0.8);
  background-color: rgba(232, 234, 253, 0.8);
}

.mercer {
  stroke: rgba(228, 134, 53, 0.8);
  color: rgba(119, 60, 9, 0.8);
  background-color: rgba(253, 241, 231, 0.8);
}

.miami-fla {
  stroke: rgba(37, 120, 244, 0.8);
  color: rgba(0, 51, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.miami-oh {
  stroke: rgba(211, 69, 84, 0.8);
  color: rgba(109, 18, 28, 0.8);
  background-color: rgba(251, 233, 235, 0.8);
}

.michigan {
  stroke: rgba(233, 199, 48, 0.8);
  color: rgba(122, 100, 6, 0.8);
  background-color: rgba(254, 250, 231, 0.8);
}

.michigan-state {
  stroke: rgba(96, 184, 165, 0.8);
  color: rgba(33, 95, 81, 0.8);
  background-color: rgba(236, 248, 246, 0.8);
}

.middle-tennessee {
  stroke: rgba(37, 145, 244, 0.8);
  color: rgba(0, 67, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.milwaukee {
  stroke: rgba(37, 140, 244, 0.8);
  color: rgba(0, 64, 128, 0.8);
  background-color: rgba(230, 242, 255, 0.8);
}

.minnesota {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.minot-state {
  stroke: rgba(230, 50, 85, 0.8);
  color: rgba(120, 7, 29, 0.8);
  background-color: rgba(254, 231, 235, 0.8);
}

.mississippi {
  stroke: rgba(37, 170, 244, 0.8);
  color: rgba(0, 82, 128, 0.8);
  background-color: rgba(230, 246, 255, 0.8);
}

.mississippi-college {
  stroke: rgba(37, 145, 244, 0.8);
  color: rgba(0, 67, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.mississippi-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.mississippi-valley-state {
  stroke: rgba(45, 235, 142, 0.8);
  color: rgba(5, 123, 65, 0.8);
  background-color: rgba(230, 254, 242, 0.8);
}

.missouri {
  stroke: rgba(229, 177, 51, 0.8);
  color: rgba(120, 87, 8, 0.8);
  background-color: rgba(253, 247, 231, 0.8);
}

.missouri-state {
  stroke: rgba(235, 46, 137, 0.8);
  color: rgba(123, 5, 62, 0.8);
  background-color: rgba(254, 230, 242, 0.8);
}

.monmouth {
  stroke: rgba(61, 135, 220, 0.8);
  color: rgba(13, 60, 114, 0.8);
  background-color: rgba(232, 242, 252, 0.8);
}

.montana {
  stroke: rgba(244, 37, 140, 0.8);
  color: rgba(128, 0, 64, 0.8);
  background-color: rgba(255, 230, 242, 0.8);
}

.montana-state {
  stroke: rgba(58, 97, 222, 0.8);
  color: rgba(12, 37, 116, 0.8);
  background-color: rgba(232, 237, 253, 0.8);
}

.montana-western {
  stroke: rgba(241, 40, 41, 0.8);
  color: rgba(126, 2, 2, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.morehead-state {
  stroke: rgba(205, 161, 76, 0.8);
  color: rgba(106, 77, 21, 0.8);
  background-color: rgba(251, 245, 234, 0.8);
}

.morgan-state {
  stroke: rgba(244, 150, 37, 0.8);
  color: rgba(128, 70, 0, 0.8);
  background-color: rgba(255, 244, 230, 0.8);
}

.morris-college {
  stroke: rgba(37, 157, 244, 0.8);
  color: rgba(0, 74, 128, 0.8);
  background-color: rgba(230, 244, 255, 0.8);
}

.mount-st-marys {
  stroke: rgba(93, 128, 187, 0.8);
  color: rgba(31, 56, 96, 0.8);
  background-color: rgba(236, 241, 249, 0.8);
}

.murray-state {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.njit {
  stroke: rgba(221, 60, 60, 0.8);
  color: rgba(115, 13, 13, 0.8);
  background-color: rgba(252, 232, 232, 0.8);
}

.navy {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.nebraska {
  stroke: rgba(244, 66, 37, 0.8);
  color: rgba(128, 18, 0, 0.8);
  background-color: rgba(255, 233, 230, 0.8);
}

.nevada {
  stroke: rgba(37, 124, 244, 0.8);
  color: rgba(0, 54, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.new-hampshire {
  stroke: rgba(37, 120, 244, 0.8);
  color: rgba(0, 51, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.new-mexico {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.new-mexico-state {
  stroke: rgba(244, 37, 89, 0.8);
  color: rgba(128, 0, 32, 0.8);
  background-color: rgba(255, 230, 236, 0.8);
}

.new-orleans {
  stroke: rgba(37, 106, 244, 0.8);
  color: rgba(0, 43, 128, 0.8);
  background-color: rgba(230, 238, 255, 0.8);
}

.niagara {
  stroke: rgba(141, 95, 186, 0.8);
  color: rgba(64, 32, 95, 0.8);
  background-color: rgba(242, 236, 249, 0.8);
}

.nicholls-state {
  stroke: rgba(49, 76, 231, 0.8);
  color: rgba(7, 23, 121, 0.8);
  background-color: rgba(231, 234, 254, 0.8);
}

.norfolk-state {
  stroke: rgba(244, 37, 218, 0.8);
  color: rgba(128, 0, 112, 0.8);
  background-color: rgba(255, 230, 252, 0.8);
}

.north-alabama {
  stroke: rgba(149, 76, 204, 0.8);
  color: rgba(69, 22, 106, 0.8);
  background-color: rgba(243, 234, 251, 0.8);
}

.north-carolina {
  stroke: rgba(94, 140, 186, 0.8);
  color: rgba(32, 64, 96, 0.8);
  background-color: rgba(236, 242, 249, 0.8);
}

.north-carolina-at {
  stroke: rgba(37, 147, 244, 0.8);
  color: rgba(0, 68, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.north-carolina-central {
  stroke: rgba(176, 104, 125, 0.8);
  color: rgba(90, 37, 53, 0.8);
  background-color: rgba(248, 237, 240, 0.8);
}

.north-carolina-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.north-carolina-asheville {
  stroke: rgba(37, 113, 244, 0.8);
  color: rgba(0, 47, 128, 0.8);
  background-color: rgba(230, 239, 255, 0.8);
}

.north-carolina-wilmington {
  stroke: rgba(37, 244, 244, 0.8);
  color: rgba(0, 128, 128, 0.8);
  background-color: rgba(230, 255, 255, 0.8);
}

.north-dakota {
  stroke: rgba(37, 244, 37, 0.8);
  color: rgba(0, 128, 0, 0.8);
  background-color: rgba(230, 255, 230, 0.8);
}

.north-dakota-state {
  stroke: rgba(61, 220, 174, 0.8);
  color: rgba(13, 114, 85, 0.8);
  background-color: rgba(232, 252, 247, 0.8);
}

.north-florida {
  stroke: rgba(37, 106, 244, 0.8);
  color: rgba(0, 43, 128, 0.8);
  background-color: rgba(230, 238, 255, 0.8);
}

.north-texas {
  stroke: rgba(45, 236, 108, 0.8);
  color: rgba(4, 123, 44, 0.8);
  background-color: rgba(230, 254, 238, 0.8);
}

.northeastern {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.northern-arizona {
  stroke: rgba(37, 140, 244, 0.8);
  color: rgba(0, 64, 128, 0.8);
  background-color: rgba(230, 242, 255, 0.8);
}

.northern-colorado {
  stroke: rgba(39, 158, 241, 0.8);
  color: rgba(1, 75, 126, 0.8);
  background-color: rgba(230, 245, 255, 0.8);
}

.northern-illinois {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.northern-iowa {
  stroke: rgba(175, 37, 244, 0.8);
  color: rgba(85, 0, 128, 0.8);
  background-color: rgba(247, 230, 255, 0.8);
}

.northwestern {
  stroke: rgba(125, 81, 199, 0.8);
  color: rgba(53, 25, 103, 0.8);
  background-color: rgba(240, 234, 250, 0.8);
}

.northwestern-state {
  stroke: rgba(175, 37, 244, 0.8);
  color: rgba(85, 0, 128, 0.8);
  background-color: rgba(247, 230, 255, 0.8);
}

.notre-dame {
  stroke: rgba(184, 170, 96, 0.8);
  color: rgba(95, 84, 33, 0.8);
  background-color: rgba(248, 246, 236, 0.8);
}

.nyc-tech {
  stroke: rgba(98, 123, 182, 0.8);
  color: rgba(34, 52, 94, 0.8);
  background-color: rgba(236, 240, 248, 0.8);
}

.oakland {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.ohio {
  stroke: rgba(37, 244, 140, 0.8);
  color: rgba(0, 128, 64, 0.8);
  background-color: rgba(230, 255, 242, 0.8);
}

.ohio-state {
  stroke: rgba(244, 63, 37, 0.8);
  color: rgba(128, 16, 0, 0.8);
  background-color: rgba(255, 233, 230, 0.8);
}

.oklahoma {
  stroke: rgba(244, 37, 70, 0.8);
  color: rgba(128, 0, 20, 0.8);
  background-color: rgba(255, 230, 234, 0.8);
}

.oklahoma-state {
  stroke: rgba(244, 120, 37, 0.8);
  color: rgba(128, 51, 0, 0.8);
  background-color: rgba(255, 240, 230, 0.8);
}

.old-dominion {
  stroke: rgba(37, 130, 244, 0.8);
  color: rgba(0, 58, 128, 0.8);
  background-color: rgba(230, 241, 255, 0.8);
}

.olivet-nazarene {
  stroke: rgba(145, 88, 192, 0.8);
  color: rgba(67, 29, 99, 0.8);
  background-color: rgba(243, 235, 249, 0.8);
}

.oral-roberts {
  stroke: rgba(198, 178, 82, 0.8);
  color: rgba(102, 89, 25, 0.8);
  background-color: rgba(250, 247, 235, 0.8);
}

.oregon {
  stroke: rgba(37, 244, 244, 0.8);
  color: rgba(0, 128, 128, 0.8);
  background-color: rgba(230, 255, 255, 0.8);
}

.oregon-state {
  stroke: rgba(244, 123, 37, 0.8);
  color: rgba(128, 53, 0, 0.8);
  background-color: rgba(255, 240, 230, 0.8);
}

.pacific {
  stroke: rgba(244, 120, 37, 0.8);
  color: rgba(128, 51, 0, 0.8);
  background-color: rgba(255, 240, 230, 0.8);
}

.panhandle-state-opsu {
  stroke: rgba(227, 54, 82, 0.8);
  color: rgba(118, 9, 27, 0.8);
  background-color: rgba(253, 231, 235, 0.8);
}

.penn-state {
  stroke: rgba(86, 120, 195, 0.8);
  color: rgba(27, 50, 101, 0.8);
  background-color: rgba(235, 240, 250, 0.8);
}

.pennsylvania {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.pepperdine {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.pittsburgh {
  stroke: rgba(64, 113, 217, 0.8);
  color: rgba(15, 46, 113, 0.8);
  background-color: rgba(232, 239, 252, 0.8);
}

.portland {
  stroke: rgba(132, 80, 200, 0.8);
  color: rgba(58, 24, 103, 0.8);
  background-color: rgba(241, 234, 250, 0.8);
}

.portland-state {
  stroke: rgba(43, 237, 120, 0.8);
  color: rgba(4, 124, 51, 0.8);
  background-color: rgba(230, 254, 240, 0.8);
}

.prairie-view {
  stroke: rgba(135, 88, 193, 0.8);
  color: rgba(60, 28, 99, 0.8);
  background-color: rgba(242, 235, 249, 0.8);
}

.prairie-view-am {
  stroke: rgba(135, 88, 193, 0.8);
  color: rgba(60, 28, 99, 0.8);
  background-color: rgba(242, 235, 249, 0.8);
}

.presbyterian {
  stroke: rgba(37, 154, 244, 0.8);
  color: rgba(0, 72, 128, 0.8);
  background-color: rgba(230, 244, 255, 0.8);
}

.princeton {
  stroke: rgba(244, 120, 37, 0.8);
  color: rgba(128, 51, 0, 0.8);
  background-color: rgba(255, 240, 230, 0.8);
}

.providence {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.purdue {
  stroke: rgba(164, 144, 117, 0.8);
  color: rgba(83, 67, 44, 0.8);
  background-color: rgba(246, 243, 238, 0.8);
}

.purdue-calumet {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.quinnipiac {
  stroke: rgba(37, 149, 244, 0.8);
  color: rgba(0, 69, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.radford {
  stroke: rgba(233, 127, 48, 0.8);
  color: rgba(122, 56, 6, 0.8);
  background-color: rgba(254, 241, 231, 0.8);
}

.rhode-island {
  stroke: rgba(82, 150, 198, 0.8);
  color: rgba(25, 70, 102, 0.8);
  background-color: rgba(235, 244, 250, 0.8);
}

.rice {
  stroke: rgba(37, 108, 244, 0.8);
  color: rgba(0, 44, 128, 0.8);
  background-color: rgba(230, 238, 255, 0.8);
}

.richmond {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.rider {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.robert-morris {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.robert-morris-illinois {
  stroke: rgba(185, 96, 124, 0.8);
  color: rgba(95, 33, 52, 0.8);
  background-color: rgba(248, 236, 240, 0.8);
}

.rutgers {
  stroke: rgba(244, 37, 58, 0.8);
  color: rgba(128, 0, 13, 0.8);
  background-color: rgba(255, 230, 232, 0.8);
}

.sacramento-state {
  stroke: rgba(37, 244, 181, 0.8);
  color: rgba(0, 128, 89, 0.8);
  background-color: rgba(230, 255, 247, 0.8);
}

.sacred-heart {
  stroke: rgba(207, 74, 74, 0.8);
  color: rgba(107, 20, 20, 0.8);
  background-color: rgba(251, 234, 234, 0.8);
}

.saint-josephs {
  stroke: rgba(210, 70, 95, 0.8);
  color: rgba(109, 19, 34, 0.8);
  background-color: rgba(251, 233, 236, 0.8);
}

.saint-louis {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.saint-marys {
  stroke: rgba(219, 61, 68, 0.8);
  color: rgba(114, 14, 18, 0.8);
  background-color: rgba(252, 232, 233, 0.8);
}

.sam-houston-state {
  stroke: rgba(44, 44, 237, 0.8);
  color: rgba(4, 4, 124, 0.8);
  background-color: rgba(230, 230, 254, 0.8);
}

.samford {
  stroke: rgba(234, 54, 47, 0.8);
  color: rgba(122, 10, 5, 0.8);
  background-color: rgba(254, 231, 231, 0.8);
}

.san-diego {
  stroke: rgba(37, 95, 244, 0.8);
  color: rgba(0, 36, 128, 0.8);
  background-color: rgba(230, 237, 255, 0.8);
}

.san-diego-state {
  stroke: rgba(214, 67, 93, 0.8);
  color: rgba(111, 17, 34, 0.8);
  background-color: rgba(252, 233, 236, 0.8);
}

.san-francisco {
  stroke: rgba(37, 244, 140, 0.8);
  color: rgba(0, 128, 64, 0.8);
  background-color: rgba(230, 255, 242, 0.8);
}

.san-jose-state {
  stroke: rgba(244, 196, 37, 0.8);
  color: rgba(128, 98, 0, 0.8);
  background-color: rgba(255, 249, 230, 0.8);
}

.santa-clara {
  stroke: rgba(244, 37, 111, 0.8);
  color: rgba(128, 0, 46, 0.8);
  background-color: rgba(255, 230, 239, 0.8);
}

.savannah-state {
  stroke: rgba(244, 120, 37, 0.8);
  color: rgba(128, 51, 0, 0.8);
  background-color: rgba(255, 240, 230, 0.8);
}

.seattle {
  stroke: rgba(37, 213, 244, 0.8);
  color: rgba(0, 108, 128, 0.8);
  background-color: rgba(230, 251, 255, 0.8);
}

.seton-hall {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.siena {
  stroke: rgba(37, 123, 244, 0.8);
  color: rgba(0, 53, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.siu-edwardsville-siue {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.south-alabama {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.south-carolina {
  stroke: rgba(195, 86, 100, 0.8);
  color: rgba(100, 27, 37, 0.8);
  background-color: rgba(250, 235, 237, 0.8);
}

.south-carolina-state {
  stroke: rgba(244, 37, 70, 0.8);
  color: rgba(128, 0, 20, 0.8);
  background-color: rgba(255, 230, 234, 0.8);
}

.south-dakota {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.south-dakota-state {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.south-florida {
  stroke: rgba(123, 157, 138, 0.8);
  color: rgba(48, 80, 62, 0.8);
  background-color: rgba(239, 245, 242, 0.8);
}

.southeast-missouri-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.southeastern-louisiana {
  stroke: rgba(37, 244, 173, 0.8);
  color: rgba(0, 128, 84, 0.8);
  background-color: rgba(230, 255, 246, 0.8);
}

.southern-illinois {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.southern-methodist {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.southern-miss {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.southern-university {
  stroke: rgba(82, 150, 198, 0.8);
  color: rgba(25, 70, 102, 0.8);
  background-color: rgba(235, 244, 250, 0.8);
}

.southern-utah {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.southern-virginia-svu {
  stroke: rgba(197, 84, 101, 0.8);
  color: rgba(102, 26, 38, 0.8);
  background-color: rgba(250, 235, 237, 0.8);
}

.st-bonaventure {
  stroke: rgba(222, 58, 93, 0.8);
  color: rgba(116, 12, 34, 0.8);
  background-color: rgba(253, 232, 236, 0.8);
}

.st-francis-ny {
  stroke: rgba(79, 79, 202, 0.8);
  color: rgba(23, 23, 104, 0.8);
  background-color: rgba(234, 234, 250, 0.8);
}

.st-francis-pa-sfu {
  stroke: rgba(203, 78, 97, 0.8);
  color: rgba(105, 23, 35, 0.8);
  background-color: rgba(250, 234, 237, 0.8);
}

.st-johns {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.st-peters {
  stroke: rgba(37, 147, 244, 0.8);
  color: rgba(0, 68, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.st-thomas-texas {
  stroke: rgba(222, 58, 85, 0.8);
  color: rgba(116, 12, 29, 0.8);
  background-color: rgba(253, 232, 235, 0.8);
}

.stanford {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.stephen-f-austin {
  stroke: rgba(140, 37, 244, 0.8);
  color: rgba(64, 0, 128, 0.8);
  background-color: rgba(242, 230, 255, 0.8);
}

.stetson {
  stroke: rgba(37, 244, 37, 0.8);
  color: rgba(0, 128, 0, 0.8);
  background-color: rgba(230, 255, 230, 0.8);
}

.stony-brook {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.syracuse {
  stroke: rgba(244, 140, 37, 0.8);
  color: rgba(128, 64, 0, 0.8);
  background-color: rgba(255, 242, 230, 0.8);
}

.tcu {
  stroke: rgba(106, 95, 185, 0.8);
  color: rgba(40, 32, 95, 0.8);
  background-color: rgba(238, 236, 249, 0.8);
}

.temple {
  stroke: rgba(217, 64, 79, 0.8);
  color: rgba(113, 15, 25, 0.8);
  background-color: rgba(252, 232, 234, 0.8);
}

.tennessee {
  stroke: rgba(244, 142, 37, 0.8);
  color: rgba(128, 65, 0, 0.8);
  background-color: rgba(255, 243, 230, 0.8);
}

.tennessee-state {
  stroke: rgba(51, 98, 229, 0.8);
  color: rgba(8, 37, 120, 0.8);
  background-color: rgba(231, 237, 253, 0.8);
}

.tennessee-tech {
  stroke: rgba(51, 98, 229, 0.8);
  color: rgba(8, 37, 120, 0.8);
  background-color: rgba(231, 237, 253, 0.8);
}

.tennessee-martin {
  stroke: rgba(199, 81, 109, 0.8);
  color: rgba(103, 24, 43, 0.8);
  background-color: rgba(250, 234, 238, 0.8);
}

.texas {
  stroke: rgba(244, 123, 37, 0.8);
  color: rgba(128, 53, 0, 0.8);
  background-color: rgba(255, 240, 230, 0.8);
}

.texas-am {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.texas-am-corpus-christi {
  stroke: rgba(37, 145, 244, 0.8);
  color: rgba(0, 67, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.texas-christian-tcu {
  stroke: rgba(146, 76, 204, 0.8);
  color: rgba(67, 22, 106, 0.8);
  background-color: rgba(243, 234, 251, 0.8);
}

.texas-el-paso-utep {
  stroke: rgba(37, 125, 244, 0.8);
  color: rgba(0, 54, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.texas-southern {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.texas-state {
  stroke: rgba(201, 79, 83, 0.8);
  color: rgba(104, 23, 26, 0.8);
  background-color: rgba(250, 234, 235, 0.8);
}

.texas-tech {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.texas-arlington {
  stroke: rgba(233, 129, 47, 0.8);
  color: rgba(122, 56, 6, 0.8);
  background-color: rgba(254, 241, 231, 0.8);
}

.texas-pan-american {
  stroke: rgba(37, 244, 37, 0.8);
  color: rgba(0, 128, 0, 0.8);
  background-color: rgba(230, 255, 230, 0.8);
}

.texas-san-antonio {
  stroke: rgba(73, 133, 207, 0.8);
  color: rgba(20, 59, 107, 0.8);
  background-color: rgba(234, 241, 251, 0.8);
}

.toledo {
  stroke: rgba(79, 79, 202, 0.8);
  color: rgba(23, 23, 104, 0.8);
  background-color: rgba(234, 234, 250, 0.8);
}

.towson {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.trinity-college {
  stroke: rgba(37, 144, 244, 0.8);
  color: rgba(0, 66, 128, 0.8);
  background-color: rgba(230, 243, 255, 0.8);
}

.troy {
  stroke: rgba(213, 67, 92, 0.8);
  color: rgba(111, 17, 33, 0.8);
  background-color: rgba(252, 233, 236, 0.8);
}

.tulane {
  stroke: rgba(62, 230, 50, 0.8);
  color: rgba(15, 120, 8, 0.8);
  background-color: rgba(233, 254, 231, 0.8);
}

.tulsa {
  stroke: rgba(198, 178, 82, 0.8);
  color: rgba(102, 89, 25, 0.8);
  background-color: rgba(250, 247, 235, 0.8);
}

.uab {
  stroke: rgba(37, 244, 37, 0.8);
  color: rgba(0, 128, 0, 0.8);
  background-color: rgba(230, 255, 230, 0.8);
}

.uc-davis {
  stroke: rgba(37, 114, 244, 0.8);
  color: rgba(0, 48, 128, 0.8);
  background-color: rgba(230, 239, 255, 0.8);
}

.uc-irvine {
  stroke: rgba(37, 108, 244, 0.8);
  color: rgba(0, 44, 128, 0.8);
  background-color: rgba(230, 238, 255, 0.8);
}

.uc-riverside {
  stroke: rgba(81, 132, 200, 0.8);
  color: rgba(24, 58, 103, 0.8);
  background-color: rgba(234, 241, 250, 0.8);
}

.uc-santa-barbara {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.uc-santa-cruz {
  stroke: rgba(37, 152, 244, 0.8);
  color: rgba(0, 71, 128, 0.8);
  background-color: rgba(230, 244, 255, 0.8);
}

.ucf {
  stroke: rgba(191, 167, 89, 0.8);
  color: rgba(98, 82, 29, 0.8);
  background-color: rgba(249, 246, 235, 0.8);
}

.ucla {
  stroke: rgba(119, 133, 161, 0.8);
  color: rgba(46, 57, 82, 0.8);
  background-color: rgba(239, 241, 246, 0.8);
}

.umbc {
  stroke: rgba(244, 191, 37, 0.8);
  color: rgba(128, 95, 0, 0.8);
  background-color: rgba(255, 249, 230, 0.8);
}

.umkc {
  stroke: rgba(198, 178, 82, 0.8);
  color: rgba(102, 89, 25, 0.8);
  background-color: rgba(250, 247, 235, 0.8);
}

.unc-greensboro {
  stroke: rgba(244, 202, 37, 0.8);
  color: rgba(128, 102, 0, 0.8);
  background-color: rgba(255, 250, 230, 0.8);
}

.union-college-ny {
  stroke: rgba(194, 87, 104, 0.8);
  color: rgba(100, 28, 39, 0.8);
  background-color: rgba(249, 235, 237, 0.8);
}

.union-college-ky {
  stroke: rgba(244, 103, 37, 0.8);
  color: rgba(128, 41, 0, 0.8);
  background-color: rgba(255, 238, 230, 0.8);
}

.unlv {
  stroke: rgba(241, 40, 40, 0.8);
  color: rgba(126, 1, 1, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.usc {
  stroke: rgba(203, 78, 97, 0.8);
  color: rgba(105, 23, 35, 0.8);
  background-color: rgba(250, 234, 237, 0.8);
}

.usc-upstate {
  stroke: rgba(195, 86, 100, 0.8);
  color: rgba(100, 27, 37, 0.8);
  background-color: rgba(250, 235, 237, 0.8);
}

.utah {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.utah-state {
  stroke: rgba(37, 140, 244, 0.8);
  color: rgba(0, 64, 128, 0.8);
  background-color: rgba(230, 242, 255, 0.8);
}

.utah-valley {
  stroke: rgba(37, 244, 140, 0.8);
  color: rgba(0, 128, 64, 0.8);
  background-color: rgba(230, 255, 242, 0.8);
}

.utep {
  stroke: rgba(244, 140, 37, 0.8);
  color: rgba(128, 64, 0, 0.8);
  background-color: rgba(255, 242, 230, 0.8);
}

.valparaiso {
  stroke: rgba(244, 140, 37, 0.8);
  color: rgba(128, 64, 0, 0.8);
  background-color: rgba(255, 242, 230, 0.8);
}

.vanderbilt {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.vermont {
  stroke: rgba(37, 244, 153, 0.8);
  color: rgba(0, 128, 71, 0.8);
  background-color: rgba(230, 255, 244, 0.8);
}

.villanova {
  stroke: rgba(37, 120, 244, 0.8);
  color: rgba(0, 51, 128, 0.8);
  background-color: rgba(230, 240, 255, 0.8);
}

.virginia {
  stroke: rgba(74, 115, 206, 0.8);
  color: rgba(21, 48, 107, 0.8);
  background-color: rgba(234, 239, 251, 0.8);
}

.virginia-commonwealth {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.virginia-military {
  stroke: rgba(222, 58, 85, 0.8);
  color: rgba(116, 12, 29, 0.8);
  background-color: rgba(253, 232, 235, 0.8);
}

.virginia-tech {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.virginia-wise {
  stroke: rgba(225, 55, 100, 0.8);
  color: rgba(117, 10, 39, 0.8);
  background-color: rgba(253, 232, 237, 0.8);
}

.wagner {
  stroke: rgba(61, 135, 220, 0.8);
  color: rgba(13, 60, 114, 0.8);
  background-color: rgba(232, 242, 252, 0.8);
}

.wake-forest {
  stroke: rgba(191, 157, 89, 0.8);
  color: rgba(98, 75, 29, 0.8);
  background-color: rgba(249, 245, 235, 0.8);
}

.washington {
  stroke: rgba(110, 116, 171, 0.8);
  color: rgba(41, 45, 87, 0.8);
  background-color: rgba(238, 239, 247, 0.8);
}

.washington-state {
  stroke: rgba(210, 70, 97, 0.8);
  color: rgba(109, 19, 36, 0.8);
  background-color: rgba(251, 233, 237, 0.8);
}

.weber-state {
  stroke: rgba(130, 82, 198, 0.8);
  color: rgba(57, 25, 102, 0.8);
  background-color: rgba(241, 235, 250, 0.8);
}

.west-virginia {
  stroke: rgba(244, 202, 37, 0.8);
  color: rgba(128, 102, 0, 0.8);
  background-color: rgba(255, 250, 230, 0.8);
}

.western-carolina {
  stroke: rgba(140, 93, 187, 0.8);
  color: rgba(63, 31, 96, 0.8);
  background-color: rgba(242, 236, 249, 0.8);
}

.western-illinois {
  stroke: rgba(188, 41, 240, 0.8);
  color: rgba(94, 2, 125, 0.8);
  background-color: rgba(248, 230, 255, 0.8);
}

.western-kentucky {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}

.western-michigan {
  stroke: rgba(215, 143, 65, 0.8);
  color: rgba(112, 65, 16, 0.8);
  background-color: rgba(252, 243, 233, 0.8);
}

.western-new-mexico {
  stroke: rgba(137, 79, 201, 0.8);
  color: rgba(62, 23, 104, 0.8);
  background-color: rgba(242, 234, 250, 0.8);
}

.wichita-state {
  stroke: rgba(140, 140, 140, 0.8);
  color: rgba(64, 64, 64, 0.8);
  background-color: rgba(242, 242, 242, 0.8);
}

.wilberforce {
  stroke: rgba(76, 205, 125, 0.8);
  color: rgba(22, 106, 53, 0.8);
  background-color: rgba(234, 251, 240, 0.8);
}

.wiley-college {
  stroke: rgba(118, 93, 188, 0.8);
  color: rgba(48, 31, 96, 0.8);
  background-color: rgba(239, 236, 249, 0.8);
}

.william--mary {
  stroke: rgba(74, 206, 163, 0.8);
  color: rgba(21, 107, 78, 0.8);
  background-color: rgba(234, 251, 245, 0.8);
}

.wilmington {
  stroke: rgba(37, 244, 132, 0.8);
  color: rgba(0, 128, 59, 0.8);
  background-color: rgba(230, 255, 241, 0.8);
}

.winthrop {
  stroke: rgba(233, 127, 48, 0.8);
  color: rgba(122, 56, 6, 0.8);
  background-color: rgba(254, 241, 231, 0.8);
}

.wisconsin {
  stroke: rgba(226, 55, 70, 0.8);
  color: rgba(118, 10, 20, 0.8);
  background-color: rgba(253, 231, 233, 0.8);
}

.wofford {
  stroke: rgba(198, 178, 82, 0.8);
  color: rgba(102, 89, 25, 0.8);
  background-color: rgba(250, 247, 235, 0.8);
}

.wright-state {
  stroke: rgba(37, 244, 183, 0.8);
  color: rgba(0, 128, 90, 0.8);
  background-color: rgba(230, 255, 247, 0.8);
}

.wyoming {
  stroke: rgba(168, 129, 113, 0.8);
  color: rgba(85, 55, 42, 0.8);
  background-color: rgba(247, 240, 238, 0.8);
}

.xavier {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.yale {
  stroke: rgba(37, 37, 244, 0.8);
  color: rgba(0, 0, 128, 0.8);
  background-color: rgba(230, 230, 255, 0.8);
}

.youngstown-state {
  stroke: rgba(244, 37, 37, 0.8);
  color: rgba(128, 0, 0, 0.8);
  background-color: rgba(255, 230, 230, 0.8);
}
/*# sourceMappingURL=ncaa-colors-calc.css.map */