.air-force {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.akron {
  stroke: #0c6ce9;
  color: #002c66;
  background-color: #ebf3ff;
}

.alabama {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.alabama-am {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.alabama-state {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.albany {
  stroke: #7b50a5;
  color: #331c4a;
  background-color: #f5f0f9;
}

.alcorn-state {
  stroke: #8b0ce9;
  color: #3b0066;
  background-color: #f6ebff;
}

.american-university {
  stroke: #e70e54;
  color: #650121;
  background-color: #ffebf1;
}

.anderson-indiana {
  stroke: #df7316;
  color: #623004;
  background-color: #fef4eb;
}

.appalachian-state {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.arizona {
  stroke: #c82d47;
  color: #580e1a;
  background-color: #fcedf0;
}

.arizona-state {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.arkansas {
  stroke: #bd384c;
  color: #54121c;
  background-color: #fbeef0;
}

.arkansas-state {
  stroke: #de173d;
  color: #620417;
  background-color: #feebef;
}

.arkansas-little-rock {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.arkansas-pine-bluff {
  stroke: #c82d47;
  color: #580e1a;
  background-color: #fcedf0;
}

.army {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.auburn {
  stroke: #3372c2;
  color: #102f56;
  background-color: #eef4fc;
}

.austin-peay {
  stroke: #1c4dd9;
  color: #061e60;
  background-color: #ecf1fe;
}

.ball-state {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.baruch {
  stroke: #256dcf;
  color: #0a2c5c;
  background-color: #edf3fd;
}

.baylor {
  stroke: #0ce90c;
  color: #006600;
  background-color: #ebffeb;
}

.belmont {
  stroke: #e90c29;
  color: #66000d;
  background-color: #ffebed;
}

.bethany-california {
  stroke: #e9110c;
  color: #660200;
  background-color: #ffebeb;
}

.bethune-cookman {
  stroke: #975e71;
  color: #44222e;
  background-color: #f8f1f4;
}

.binghamton {
  stroke: #0ce9b9;
  color: #006650;
  background-color: #ebfffb;
}

.bluefield-college {
  stroke: #0c73e9;
  color: #002f66;
  background-color: #ebf4ff;
}

.boise-state {
  stroke: #3276c3;
  color: #103156;
  background-color: #eef4fc;
}

.boston-college {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.boston-university {
  stroke: #e9280c;
  color: #660d00;
  background-color: #ffedeb;
}

.bowling-green {
  stroke: #e9700c;
  color: #662e00;
  background-color: #fff4eb;
}

.bradley {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.brigham-young {
  stroke: #0c63e9;
  color: #002866;
  background-color: #ebf3ff;
}

.brown {
  stroke: #a35252;
  color: #491d1d;
  background-color: #f9f0f0;
}

.bryant-university {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.bucknell {
  stroke: #e9900c;
  color: #663d00;
  background-color: #fff7eb;
}

.buffalo {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.butler {
  stroke: #0c7de9;
  color: #003466;
  background-color: #ebf5ff;
}

.cal-poly {
  stroke: #51a468;
  color: #1d4929;
  background-color: #f0f9f3;
}

.cal-state-bakersfield {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.cal-state-fullerton {
  stroke: #e9a60c;
  color: #664700;
  background-color: #fff9eb;
}

.cal-state-northridge {
  stroke: #db1a3f;
  color: #600617;
  background-color: #feecef;
}

.california {
  stroke: #3939bc;
  color: #131353;
  background-color: #eeeefb;
}

.campbell {
  stroke: #e97a0c;
  color: #663300;
  background-color: #fff5eb;
}

.canisius {
  stroke: #0c68e9;
  color: #002a66;
  background-color: #ebf3ff;
}

.carver-bible-college {
  stroke: #59569f;
  color: #201f47;
  background-color: #f1f1f9;
}

.centenary {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.central-arkansas {
  stroke: #724fa6;
  color: #2e1c4a;
  background-color: #f4f0f9;
}

.central-connecticut-state {
  stroke: #0c82e9;
  color: #003766;
  background-color: #ebf6ff;
}

.central-michigan {
  stroke: #e90c7a;
  color: #660033;
  background-color: #ffebf5;
}

.charleston {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.charleston-southern {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.charlotte {
  stroke: #0ce92b;
  color: #00660e;
  background-color: #ebffed;
}

.chattanooga {
  stroke: #0c80e9;
  color: #003566;
  background-color: #ebf5ff;
}

.chicago-state {
  stroke: #0ce9e9;
  color: #006666;
  background-color: #ebffff;
}

.cincinnati {
  stroke: #e70d2e;
  color: #66000f;
  background-color: #ffebee;
}

.citadel {
  stroke: #4678ae;
  color: #18324e;
  background-color: #eff5fa;
}

.clemson {
  stroke: #e9620c;
  color: #662800;
  background-color: #fff3eb;
}

.cleveland-state {
  stroke: #0ce90c;
  color: #006600;
  background-color: #ebffeb;
}

.coastal-carolina {
  stroke: #0ce9e9;
  color: #006666;
  background-color: #ebffff;
}

.college-of-new-jersey {
  stroke: #4f68a5;
  color: #1c294a;
  background-color: #f0f3f9;
}

.colgate {
  stroke: #e51017;
  color: #650105;
  background-color: #ffebec;
}

.colorado {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.colorado-state {
  stroke: #0ce977;
  color: #006631;
  background-color: #ebfff4;
}

.columbia {
  stroke: #0c9ee9;
  color: #004366;
  background-color: #ebf8ff;
}

.connecticut {
  stroke: #0c4ee9;
  color: #001e66;
  background-color: #ebf1ff;
}

.coppin-state {
  stroke: #e90ccd;
  color: #660059;
  background-color: #ffebfc;
}

.cornell {
  stroke: #c82c2c;
  color: #590d0d;
  background-color: #fceded;
}

.creighton {
  stroke: #0c84e9;
  color: #003866;
  background-color: #ebf6ff;
}

.dallas-christian {
  stroke: #e90f0c;
  color: #660100;
  background-color: #ffebeb;
}

.dallas-university {
  stroke: #2970cc;
  color: #0c2e5a;
  background-color: #edf4fd;
}

.dartmouth {
  stroke: #0ce98e;
  color: #00663c;
  background-color: #ebfff7;
}

.davidson {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.dayton {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.delaware {
  stroke: #0c94e9;
  color: #003f66;
  background-color: #ebf7ff;
}

.delaware-state {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.denver {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.depaul {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.detroit {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.dillard {
  stroke: #315ec4;
  color: #0f2557;
  background-color: #eef2fc;
}

.dominican {
  stroke: #1f70d5;
  color: #082e5e;
  background-color: #ecf4fd;
}

.drake {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.drexel {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.duke {
  stroke: #0c60e9;
  color: #002766;
  background-color: #ebf2ff;
}

.duquesne {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.east-carolina {
  stroke: #7945af;
  color: #32184e;
  background-color: #f5effa;
}

.east-tennessee-state {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.east-texas-baptist {
  stroke: #2775ce;
  color: #0b305b;
  background-color: #edf4fd;
}

.eastern-illinois {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.eastern-kentucky {
  stroke: #e90c39;
  color: #660015;
  background-color: #ffebef;
}

.eastern-michigan {
  stroke: #0ce96b;
  color: #00662c;
  background-color: #ebfff3;
}

.eastern-washington {
  stroke: #e90c3b;
  color: #660016;
  background-color: #ffebef;
}

.elon {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.evansville {
  stroke: #7c41b4;
  color: #341650;
  background-color: #f5effb;
}

.fairfield {
  stroke: #c82d47;
  color: #580e1a;
  background-color: #fcedf0;
}

.fairleigh-dickinson {
  stroke: #0f89e5;
  color: #013a65;
  background-color: #ebf6ff;
}

.ferris-state {
  stroke: #e90c43;
  color: #66001a;
  background-color: #ffebf0;
}

.florida {
  stroke: #e94c0c;
  color: #661e00;
  background-color: #fff1eb;
}

.florida-am {
  stroke: #dd7318;
  color: #612f05;
  background-color: #fef4ec;
}

.florida-atlantic {
  stroke: #0c7ae9;
  color: #003366;
  background-color: #ebf5ff;
}

.florida-gulf-coast {
  stroke: #0c68e9;
  color: #002a66;
  background-color: #ebf3ff;
}

.florida-international {
  stroke: #0c71e9;
  color: #002f66;
  background-color: #ebf4ff;
}

.florida-memorial {
  stroke: #177fde;
  color: #053561;
  background-color: #ecf5fe;
}

.florida-state {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.fordham {
  stroke: #e21260;
  color: #630327;
  background-color: #feebf2;
}

.fresno-state {
  stroke: #cf2646;
  color: #5b0b1a;
  background-color: #fdedf0;
}

.furman {
  stroke: #7751a3;
  color: #311d49;
  background-color: #f4f0f9;
}

.gardner-webb {
  stroke: #b83d43;
  color: #521418;
  background-color: #fbefef;
}

.george-mason {
  stroke: #0ce90c;
  color: #006600;
  background-color: #ebffeb;
}

.george-washington {
  stroke: #c38932;
  color: #563a10;
  background-color: #fcf6ee;
}

.georgetown {
  stroke: #0c7ae9;
  color: #003366;
  background-color: #ebf5ff;
}

.georgia {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.georgia-southern {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.georgia-state {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.georgia-tech {
  stroke: #b8a33c;
  color: #524714;
  background-color: #fbf9ef;
}

.gonzaga {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.grambling-state {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.green-bay {
  stroke: #0ce9b8;
  color: #00664f;
  background-color: #ebfffa;
}

.greenville {
  stroke: #de6b17;
  color: #622c04;
  background-color: #fef3eb;
}

.hampton {
  stroke: #32bec3;
  color: #105456;
  background-color: #eefbfc;
}

.hannibal-legrange-college {
  stroke: #4261b2;
  color: #17264f;
  background-color: #eff2fa;
}

.hartford {
  stroke: #e92b0c;
  color: #660e00;
  background-color: #ffedeb;
}

.harvard {
  stroke: #d42145;
  color: #5e091a;
  background-color: #fdecf0;
}

.haskell {
  stroke: #94589d;
  color: #412046;
  background-color: #f8f1f9;
}

.hawaii {
  stroke: #e90c43;
  color: #66001a;
  background-color: #ffebf0;
}

.high-point {
  stroke: #dd6c18;
  color: #612c05;
  background-color: #fef3ec;
}

.hiwassee-college {
  stroke: #be365c;
  color: #541224;
  background-color: #fbeef2;
}

.hofstra {
  stroke: #330ce9;
  color: #120066;
  background-color: #eeebff;
}

.holy-cross {
  stroke: #e90ce9;
  color: #660066;
  background-color: #ffebff;
}

.houston {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.houston-baptist {
  stroke: #4666af;
  color: #18284e;
  background-color: #eff3fa;
}

.howard {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.huntingdon {
  stroke: #d0253e;
  color: #5c0a16;
  background-color: #fdedef;
}

.idaho {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.idaho-state {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.illinois {
  stroke: #e9640c;
  color: #662900;
  background-color: #fff3eb;
}

.illinois-state {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.illinois-chicago-uic {
  stroke: #c43140;
  color: #570f17;
  background-color: #fceeef;
}

.indiana {
  stroke: #e9e90c;
  color: #666600;
  background-color: #ffffeb;
}

.indiana-state {
  stroke: #2376d2;
  color: #0a315c;
  background-color: #edf4fd;
}

.iona {
  stroke: #a35269;
  color: #491d29;
  background-color: #f9f0f3;
}

.iowa {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.iowa-state {
  stroke: #c92c45;
  color: #590d1a;
  background-color: #fcedf0;
}

.ipfw {
  stroke: #2e54c7;
  color: #0e2058;
  background-color: #edf1fc;
}

.iupui {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.jackson-state {
  stroke: #1c41d9;
  color: #07185f;
  background-color: #eceffe;
}

.jacksonville {
  stroke: #4ca94c;
  color: #1b4b1b;
  background-color: #f0faf0;
}

.jacksonville-state {
  stroke: #ba3b59;
  color: #521423;
  background-color: #fbeff2;
}

.james-madison {
  stroke: #aa8f4b;
  color: #4c3e1a;
  background-color: #faf7f0;
}

.kansas {
  stroke: #0c69e9;
  color: #002b66;
  background-color: #ebf3ff;
}

.kansas-state {
  stroke: #9d40b4;
  color: #441650;
  background-color: #f8effb;
}

.kennesaw-state {
  stroke: #e8ab0d;
  color: #664900;
  background-color: #fff9eb;
}

.kent-state {
  stroke: #2026d4;
  color: #080b5e;
  background-color: #ecedfd;
}

.kentucky {
  stroke: #0c80e9;
  color: #003666;
  background-color: #ebf5ff;
}

.la-salle {
  stroke: #0c80e9;
  color: #003566;
  background-color: #ebf5ff;
}

.la-sierra-university {
  stroke: #437fb2;
  color: #17354f;
  background-color: #eff5fa;
}

.lafayette {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.lamar {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.lehigh {
  stroke: #b76f3e;
  color: #512d15;
  background-color: #fbf4ef;
}

.liberty {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.lipscomb {
  stroke: #704da8;
  color: #2e1b4b;
  background-color: #f4f0fa;
}

.liu-brooklyn {
  stroke: #456db0;
  color: #182c4e;
  background-color: #eff3fa;
}

.long-beach-state {
  stroke: #e9b00c;
  color: #664c00;
  background-color: #fffaeb;
}

.long-island {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.longwood {
  stroke: #474dae;
  color: #191c4d;
  background-color: #f0f0fa;
}

.los-angeles-tech {
  stroke: #c72e3d;
  color: #580e15;
  background-color: #fcedef;
}

.louisiana-college {
  stroke: #465dae;
  color: #18244e;
  background-color: #eff2fa;
}

.louisiana-tech {
  stroke: #0c57e9;
  color: #002266;
  background-color: #ebf1ff;
}

.louisiana {
  stroke: #d91c1c;
  color: #5f0707;
  background-color: #feecec;
}

.la-monroe {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.louisville {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.loyola-marymount {
  stroke: #d61f1f;
  color: #5e0808;
  background-color: #fdecec;
}

.loyola-chicago {
  stroke: #ba3a65;
  color: #531328;
  background-color: #fbeef3;
}

.lsu {
  stroke: #723bba;
  color: #2f1353;
  background-color: #f4eefb;
}

.lsu-shreveport {
  stroke: #723bba;
  color: #2f1353;
  background-color: #f4eefb;
}

.lyndon-state {
  stroke: #0ce944;
  color: #00661a;
  background-color: #ebfff0;
}

.maine {
  stroke: #0c73e9;
  color: #003066;
  background-color: #ebf4ff;
}

.manhattan {
  stroke: #0c68e9;
  color: #002a66;
  background-color: #ebf3ff;
}

.marist {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.marquette {
  stroke: #0c7de9;
  color: #003466;
  background-color: #ebf5ff;
}

.marshall {
  stroke: #0ce90c;
  color: #006600;
  background-color: #ebffeb;
}

.maryland {
  stroke: #d61f33;
  color: #5e0811;
  background-color: #fdecee;
}

.maryland-eastern-shore {
  stroke: #b24363;
  color: #4f1727;
  background-color: #faeff2;
}

.marywood {
  stroke: #0fe65a;
  color: #016524;
  background-color: #ebfff2;
}

.massachusetts {
  stroke: #bf3636;
  color: #551111;
  background-color: #fceeee;
}

.mcneese-state {
  stroke: #1936dc;
  color: #051361;
  background-color: #eceefe;
}

.memphis {
  stroke: #2036d5;
  color: #08135e;
  background-color: #eceefd;
}

.mercer {
  stroke: #d8741d;
  color: #5f3007;
  background-color: #fef4ec;
}

.miami-fla {
  stroke: #0c64e9;
  color: #002966;
  background-color: #ebf3ff;
}

.miami-oh {
  stroke: #c62f3f;
  color: #580e16;
  background-color: #fcedef;
}

.michigan {
  stroke: #ddb918;
  color: #615005;
  background-color: #fefbec;
}

.michigan-state {
  stroke: #4ba995;
  color: #1a4c41;
  background-color: #f0faf8;
}

.middle-tennessee {
  stroke: #0c80e9;
  color: #003666;
  background-color: #ebf5ff;
}

.milwaukee {
  stroke: #0c7ae9;
  color: #003366;
  background-color: #ebf5ff;
}

.minnesota {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.minot-state {
  stroke: #db1a3f;
  color: #600617;
  background-color: #feecef;
}

.mississippi {
  stroke: #d61e3c;
  color: #5e0816;
  background-color: #fdecef;
}

.mississippi-college {
  stroke: #0c7fe9;
  color: #003566;
  background-color: #ebf5ff;
}

.mississippi-st {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.mississippi-valley-state {
  stroke: #15e07c;
  color: #046234;
  background-color: #ebfef5;
}

.missouri {
  stroke: #d9a21c;
  color: #604606;
  background-color: #fef9ec;
}

.missouri-state {
  stroke: #df1577;
  color: #620431;
  background-color: #feebf4;
}

.monmouth {
  stroke: #2574cf;
  color: #0b305b;
  background-color: #edf4fd;
}

.montana {
  stroke: #e90c7a;
  color: #660033;
  background-color: #ffebf5;
}

.montana-state {
  stroke: #234dd2;
  color: #091d5d;
  background-color: #ecf0fd;
}

.montana-western {
  stroke: #e50f10;
  color: #650102;
  background-color: #ffebeb;
}

.morehead-state {
  stroke: #bf9135;
  color: #553e11;
  background-color: #fcf7ee;
}

.morgan-state {
  stroke: #e9850c;
  color: #663800;
  background-color: #fff6eb;
}

.morris-college {
  stroke: #0c8ce9;
  color: #003b66;
  background-color: #ebf6ff;
}

.mount-st-marys {
  stroke: #486eac;
  color: #192c4d;
  background-color: #f0f3fa;
}

.murray-state {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.njit {
  stroke: #d02525;
  color: #5c0a0a;
  background-color: #fdeded;
}

.navy {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.nebraska {
  stroke: #e92b0c;
  color: #660e00;
  background-color: #ffedeb;
}

.nevada {
  stroke: #0c69e9;
  color: #002b66;
  background-color: #ebf3ff;
}

.new-hampshire {
  stroke: #0c65e9;
  color: #002966;
  background-color: #ebf3ff;
}

.new-mexico {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.new-mexico-state {
  stroke: #e90c43;
  color: #66001a;
  background-color: #ffebf0;
}

.new-orleans {
  stroke: #0c56e9;
  color: #002266;
  background-color: #ebf1ff;
}

.niagara {
  stroke: #7b4aab;
  color: #331a4c;
  background-color: #f5f0fa;
}

.nicholls-state {
  stroke: #1936dc;
  color: #051361;
  background-color: #eceefe;
}

.norfolk-state {
  stroke: #e90ccd;
  color: #660059;
  background-color: #ffebfc;
}

.north-alabama {
  stroke: #8336bf;
  color: #371155;
  background-color: #f6eefc;
}

.north-carolina {
  stroke: #497aab;
  color: #1a334d;
  background-color: #f0f5fa;
}

.north-carolina-at {
  stroke: #0c81e9;
  color: #003666;
  background-color: #ebf5ff;
}

.north-carolina-central {
  stroke: #a1546a;
  color: #481e2a;
  background-color: #f9f1f3;
}

.north-carolina-state {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.north-carolina-asheville {
  stroke: #0c5ee9;
  color: #002666;
  background-color: #ebf2ff;
}

.north-carolina-wilmington {
  stroke: #0ce9e9;
  color: #006666;
  background-color: #ebffff;
}

.north-dakota {
  stroke: #0ce90c;
  color: #006600;
  background-color: #ebffeb;
}

.north-dakota-state {
  stroke: #26cf9e;
  color: #0b5b44;
  background-color: #edfdf8;
}

.north-florida {
  stroke: #0c56e9;
  color: #002266;
  background-color: #ebf1ff;
}

.north-texas {
  stroke: #14e058;
  color: #036323;
  background-color: #ebfef2;
}

.northeastern {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.northern-arizona {
  stroke: #0c7ae9;
  color: #003366;
  background-color: #ebf5ff;
}

.northern-colorado {
  stroke: #0f8ee6;
  color: #013c65;
  background-color: #ebf7ff;
}

.northern-illinois {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.northern-iowa {
  stroke: #9f0ce9;
  color: #440066;
  background-color: #f8ebff;
}

.northwestern {
  stroke: #6a3cb9;
  color: #2b1452;
  background-color: #f3effb;
}

.northwestern-state {
  stroke: #9f0ce9;
  color: #440066;
  background-color: #f8ebff;
}

.notre-dame {
  stroke: #a99a4b;
  color: #4c441a;
  background-color: #faf8f0;
}

.nyc-tech {
  stroke: #4e68a7;
  color: #1b294b;
  background-color: #f0f3fa;
}

.oakland {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.ohio {
  stroke: #0ce97a;
  color: #006633;
  background-color: #ebfff5;
}

.ohio-state {
  stroke: #e9280c;
  color: #660d00;
  background-color: #ffedeb;
}

.oklahoma {
  stroke: #e90c2f;
  color: #660010;
  background-color: #ffebee;
}

.oklahoma-state {
  stroke: #e9640c;
  color: #662900;
  background-color: #fff3eb;
}

.old-dominion {
  stroke: #0c70e9;
  color: #002e66;
  background-color: #ebf4ff;
}

.olivet-nazarene {
  stroke: #7f43b2;
  color: #35174f;
  background-color: #f5effa;
}

.oral-roberts {
  stroke: #b8a33c;
  color: #524714;
  background-color: #fbf9ef;
}

.oregon {
  stroke: #0ce9e9;
  color: #006666;
  background-color: #ebffff;
}

.oregon-state {
  stroke: #e9680c;
  color: #662b00;
  background-color: #fff3eb;
}

.pacific {
  stroke: #e9640c;
  color: #662900;
  background-color: #fff3eb;
}

.panhandle-state-opsu {
  stroke: #d61e3c;
  color: #5e0816;
  background-color: #fdecef;
}

.penn-state {
  stroke: #4065b5;
  color: #162850;
  background-color: #eff3fb;
}

.pennsylvania {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.pepperdine {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.pittsburgh {
  stroke: #295dcc;
  color: #0c255a;
  background-color: #edf2fd;
}

.portland {
  stroke: #723bba;
  color: #2f1353;
  background-color: #f4eefb;
}

.portland-state {
  stroke: #13e265;
  color: #036329;
  background-color: #ebfef3;
}

.prairie-view {
  stroke: #7542b2;
  color: #30174f;
  background-color: #f4effa;
}

.prairie-view-am {
  stroke: #7542b2;
  color: #30174f;
  background-color: #f4effa;
}

.presbyterian {
  stroke: #0c89e9;
  color: #003a66;
  background-color: #ebf6ff;
}

.princeton {
  stroke: #e9640c;
  color: #662900;
  background-color: #fff3eb;
}

.providence {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.purdue {
  stroke: #947e61;
  color: #433523;
  background-color: #f8f5f2;
}

.purdue-calumet {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.quinnipiac {
  stroke: #0c83e9;
  color: #003766;
  background-color: #ebf6ff;
}

.radford {
  stroke: #dd6c18;
  color: #612c05;
  background-color: #fef3ec;
}

.rhode-island {
  stroke: #3d85b8;
  color: #143852;
  background-color: #eff6fb;
}

.rice {
  stroke: #0c58e9;
  color: #002366;
  background-color: #ebf2ff;
}

.richmond {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.rider {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.robert-morris {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.robert-morris-illinois {
  stroke: #aa4b69;
  color: #4c1a2a;
  background-color: #faf0f3;
}

.rutgers {
  stroke: #e90c23;
  color: #66000a;
  background-color: #ffebed;
}

.sacramento-state {
  stroke: #0ce9a6;
  color: #006647;
  background-color: #ebfff9;
}

.sacred-heart {
  stroke: #c13434;
  color: #561010;
  background-color: #fceeee;
}

.saint-josephs {
  stroke: #c5304a;
  color: #570f1c;
  background-color: #fceef0;
}

.saint-louis {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.saint-marys {
  stroke: #ce262d;
  color: #5b0b0e;
  background-color: #fdeded;
}

.sam-houston-state {
  stroke: #1313e1;
  color: #030363;
  background-color: #ebebfe;
}

.samford {
  stroke: #de1e17;
  color: #620804;
  background-color: #feeceb;
}

.san-diego {
  stroke: #0c4be9;
  color: #001d66;
  background-color: #ebf0ff;
}

.san-diego-state {
  stroke: #c92c48;
  color: #590d1b;
  background-color: #fcedf0;
}

.san-francisco {
  stroke: #0ce97a;
  color: #006633;
  background-color: #ebfff5;
}

.san-jose-state {
  stroke: #e9b60c;
  color: #664e00;
  background-color: #fffaeb;
}

.santa-clara {
  stroke: #e90c5b;
  color: #660025;
  background-color: #ffebf2;
}

.savannah-state {
  stroke: #e9640c;
  color: #662900;
  background-color: #fff3eb;
}

.seattle {
  stroke: #0cc8e9;
  color: #005766;
  background-color: #ebfcff;
}

.seton-hall {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.siena {
  stroke: #0c68e9;
  color: #002a66;
  background-color: #ebf3ff;
}

.siu-edwardsville-siue {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.south-alabama {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.south-carolina {
  stroke: #b4414f;
  color: #50161d;
  background-color: #fbeff0;
}

.south-carolina-state {
  stroke: #e90c2f;
  color: #660010;
  background-color: #ffebee;
}

.south-dakota {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.south-dakota-state {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.south-florida {
  stroke: #688d78;
  color: #264032;
  background-color: #f2f7f5;
}

.southeast-missouri-state {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.southeastern-louisiana {
  stroke: #0ce99d;
  color: #006643;
  background-color: #ebfff8;
}

.southern-illinois {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.southern-methodist {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.southern-miss {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.southern-university {
  stroke: #3d85b8;
  color: #143852;
  background-color: #eff6fb;
}

.southern-utah {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.southern-virginia-svu {
  stroke: #b73e51;
  color: #51151e;
  background-color: #fbeff1;
}

.st-bonaventure {
  stroke: #d22348;
  color: #5c0a1b;
  background-color: #fdedf0;
}

.st-francis-ny {
  stroke: #3939bc;
  color: #131353;
  background-color: #eeeefb;
}

.st-francis-pa-sfu {
  stroke: #bd384c;
  color: #54121c;
  background-color: #fbeef0;
}

.st-johns {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.st-peters {
  stroke: #0c81e9;
  color: #003666;
  background-color: #ebf5ff;
}

.st-thomas-texas {
  stroke: #d2233f;
  color: #5c0a17;
  background-color: #fdedef;
}

.stanford {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.stephen-f-austin {
  stroke: #7a0ce9;
  color: #330066;
  background-color: #f5ebff;
}

.stetson {
  stroke: #0ce90c;
  color: #006600;
  background-color: #ebffeb;
}

.stony-brook {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.syracuse {
  stroke: #e97a0c;
  color: #663300;
  background-color: #fff5eb;
}

.tcu {
  stroke: #564baa;
  color: #201a4c;
  background-color: #f1f0fa;
}

.temple {
  stroke: #cc2939;
  color: #5a0c14;
  background-color: #fdedef;
}

.tennessee {
  stroke: #e97d0c;
  color: #663400;
  background-color: #fff5eb;
}

.tennessee-state {
  stroke: #1c4dd9;
  color: #061e60;
  background-color: #ecf1fe;
}

.tennessee-tech {
  stroke: #1c4dd9;
  color: #061e60;
  background-color: #ecf1fe;
}

.tennessee-martin {
  stroke: #ba3b59;
  color: #521423;
  background-color: #fbeff2;
}

.texas {
  stroke: #e9680c;
  color: #662b00;
  background-color: #fff3eb;
}

.texas-am {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.texas-am-corpus-christi {
  stroke: #0c7fe9;
  color: #003566;
  background-color: #ebf5ff;
}

.texas-christian-tcu {
  stroke: #8036bf;
  color: #361155;
  background-color: #f5eefc;
}

.texas-el-paso-utep {
  stroke: #0c6ae9;
  color: #002b66;
  background-color: #ebf3ff;
}

.texas-southern {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.texas-state {
  stroke: #bc393d;
  color: #531315;
  background-color: #fbeeef;
}

.texas-tech {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.texas-arlington {
  stroke: #de6e17;
  color: #622d04;
  background-color: #fef4eb;
}

.texas-pan-american {
  stroke: #0ce90c;
  color: #006600;
  background-color: #ebffeb;
}

.texas-san-antonio {
  stroke: #3372c2;
  color: #102f56;
  background-color: #eef4fc;
}

.toledo {
  stroke: #3939bc;
  color: #131353;
  background-color: #eeeefb;
}

.towson {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.trinity-college {
  stroke: #0c7ee9;
  color: #003566;
  background-color: #ebf5ff;
}

.troy {
  stroke: #c82d47;
  color: #580e1a;
  background-color: #fcedf0;
}

.tulane {
  stroke: #27da1b;
  color: #0c6006;
  background-color: #edfeec;
}

.tulsa {
  stroke: #b8a33c;
  color: #524714;
  background-color: #fbf9ef;
}

.uab {
  stroke: #0ce90c;
  color: #006600;
  background-color: #ebffeb;
}

.uc-davis {
  stroke: #0c5ee9;
  color: #002666;
  background-color: #ebf2ff;
}

.uc-irvine {
  stroke: #0c58e9;
  color: #002366;
  background-color: #ebf2ff;
}

.uc-riverside {
  stroke: #3b71ba;
  color: #132e53;
  background-color: #eef4fb;
}

.uc-santa-barbara {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.uc-santa-cruz {
  stroke: #0c87e9;
  color: #003966;
  background-color: #ebf6ff;
}

.ucf {
  stroke: #b19744;
  color: #4f4217;
  background-color: #faf8ef;
}

.ucla {
  stroke: #647291;
  color: #242e42;
  background-color: #f2f4f8;
}

.umbc {
  stroke: #e9b10c;
  color: #664c00;
  background-color: #fffaeb;
}

.umkc {
  stroke: #b8a33c;
  color: #524714;
  background-color: #fbf9ef;
}

.unc-greensboro {
  stroke: #e9bc0c;
  color: #665200;
  background-color: #fffbeb;
}

.union-college-ny {
  stroke: #b34154;
  color: #50161f;
  background-color: #fbeff1;
}

.union-college-ky {
  stroke: #e9530c;
  color: #662100;
  background-color: #fff1eb;
}

.unlv {
  stroke: #e60f0f;
  color: #650101;
  background-color: #ffebeb;
}

.usc {
  stroke: #bd384c;
  color: #54121c;
  background-color: #fbeef0;
}

.usc-upstate {
  stroke: #b4414f;
  color: #50161d;
  background-color: #fbeff0;
}

.utah {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.utah-state {
  stroke: #0c7ae9;
  color: #003366;
  background-color: #ebf5ff;
}

.utah-valley {
  stroke: #0ce97a;
  color: #006633;
  background-color: #ebfff5;
}

.utep {
  stroke: #e97a0c;
  color: #663300;
  background-color: #fff5eb;
}

.valparaiso {
  stroke: #e97a0c;
  color: #663300;
  background-color: #fff5eb;
}

.vanderbilt {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.vermont {
  stroke: #0ce988;
  color: #006639;
  background-color: #ebfff6;
}

.villanova {
  stroke: #0c65e9;
  color: #002966;
  background-color: #ebf3ff;
}

.virginia {
  stroke: #3460c1;
  color: #112655;
  background-color: #eef2fc;
}

.virginia-commonwealth {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.virginia-military {
  stroke: #d2233f;
  color: #5c0a17;
  background-color: #fdedef;
}

.virginia-tech {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.virginia-wise {
  stroke: #d52050;
  color: #5e081f;
  background-color: #fdecf1;
}

.wagner {
  stroke: #2574cf;
  color: #0b305b;
  background-color: #edf4fd;
}

.wake-forest {
  stroke: #b18d44;
  color: #4f3c17;
  background-color: #faf7ef;
}

.washington {
  stroke: #5a609b;
  color: #202446;
  background-color: #f1f2f9;
}

.washington-state {
  stroke: #c5304c;
  color: #570f1d;
  background-color: #fceef0;
}

.weber-state {
  stroke: #6f3cb8;
  color: #2e1452;
  background-color: #f4effb;
}

.west-virginia {
  stroke: #e9bc0c;
  color: #665200;
  background-color: #fffbeb;
}

.western-carolina {
  stroke: #7a48ac;
  color: #33194d;
  background-color: #f5f0fa;
}

.western-illinois {
  stroke: #ae10e5;
  color: #4b0264;
  background-color: #faebff;
}

.western-kentucky {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}

.western-michigan {
  stroke: #ca7d2b;
  color: #59340d;
  background-color: #fcf5ed;
}

.western-new-mexico {
  stroke: #7739bc;
  color: #321353;
  background-color: #f5eefb;
}

.wichita-state {
  stroke: #7a7a7a;
  color: #333333;
  background-color: whitesmoke;
}

.wilberforce {
  stroke: #36bf6a;
  color: #11552b;
  background-color: #eefcf3;
}

.wiley-college {
  stroke: #6248ad;
  color: #27194d;
  background-color: #f2f0fa;
}

.william--mary {
  stroke: #34c192;
  color: #11553f;
  background-color: #eefcf7;
}

.wilmington {
  stroke: #0ce972;
  color: #00662f;
  background-color: #ebfff4;
}

.winthrop {
  stroke: #dd6c18;
  color: #612c05;
  background-color: #fef3ec;
}

.wisconsin {
  stroke: #d61f30;
  color: #5e0810;
  background-color: #fdecee;
}

.wofford {
  stroke: #b8a33c;
  color: #524714;
  background-color: #fbf9ef;
}

.wright-state {
  stroke: #0ce9a8;
  color: #006648;
  background-color: #ebfff9;
}

.wyoming {
  stroke: #986f5d;
  color: #442c22;
  background-color: #f8f3f1;
}

.xavier {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.yale {
  stroke: #0c0ce9;
  color: #000066;
  background-color: #ebebff;
}

.youngstown-state {
  stroke: #e90c0c;
  color: #660000;
  background-color: #ffebeb;
}
/*# sourceMappingURL=ncaa-colors-calc.css.map */