#srxr-q-charts-container,
#plays-charts-container,
#runRate-charts-container, {
  width: 100%;
}
#plays-charts-container,
#runRate-charts-container, {
  font-family:"Work Sans",sans-serif;
  margin-top: 12px;
}
#plays-charts-container {
  margin-bottom: 16px;
}
#runRate-chart,
#srRP-chart,
.runPass-rate-chart,
.runPass-sr-chart {
  display: inline-block;
  margin-top: 4px;
}
.runPass-rate-chart, .runPass-sr-chart {
  width: 100%;
  height: 200px;
}
#backup-prompt-runPass, #backup-prompt-runPass-op {
  margin-top: -8px;
}
@media only screen and (min-width: 520px) {
  .rbr-chart > div > .runPass-rate-chart,
  .rbr-chart > div > .runPass-sr-chart {
    width: 49.2%;
  }
  .rbr-chart > div > .runPass-sr-chart {
    margin-left: 1.6%;
  }
}
@media only screen and (min-width: 900px) {
  .runPass-rate-chart, .runPass-sr-chart {
    width: 49.2%;
  }
  .runPass-sr-chart {
    margin-left: 1.6%;
  }
}
.rbr-chart {
  max-width: 724px;
}
.srxrq-chart {
  font-family:"Work Sans",sans-serif;
  min-width:200px;
  display: inline-block;
  margin-top: 8px;
}
.chart2 {
  display: inline-block;
}
.svg-bg {
  fill: #242424;
  height: 40%;
  width: 60%;
}
.plays-chart {
  font-family:"Work Sans",sans-serif;
}
.chartTitle {
  font-family:"Open Sans",sans-serif;
  font-weight: 700;
  color: #242424;
  margin-top: 8px;
  margin-bottom: 8px;
}
.titleHR {
  height: 1px;
  width: 100%;
  background-color: #242424;
  opacity: .5;
  margin-bottom: 4px;
}
.chartNote {
  font-family:"Work Sans",sans-serif;
  color: #242424;
  font-size: 0.82em !important;
  letter-spacing: -0.3px;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 8px;
  text-align: right;
}
.srxr-note {
  margin-right: 1%;
}
.runRate-note {
  margin-right: 2%;
}
.chartSubtitle {
  font-family:"Open Sans",sans-serif;
  color: #242424;
  font-size: .82em !important;
  line-height: 1.5em;
  margin-top: 12px;
  margin-bottom:3px;
}
.chartSubtitle:first-of-type {
  margin-top: 0px;
}
.teamTitle {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.82em;
  margin-top: 0;
  margin-bottom:4px;
}
.teamTitle.lg {
  font-size: 1em;
}
.backBar, .runPass-bg {
  fill: #F1F1F1;
}
.runPass-bg {
  width: 100%;
  height: 100%;
}
.expBars, .xBars {
  fill: #000000;
  opacity: .45;
}
.xBars {
  opacity: .65;
}
.qLabels {
  font-weight: 500;
  font-size: .82em;
  fill: #FFFFFF;
}
.srLabels, .srKey {
  font-weight: 500;
  font-size: .82em;
  fill: #242424;
  opacity: .8;
  font-feature-settings: "tnum" on;
}
.expLabels, .expKey {
  font-weight: 400;
  font-size: .82em;
  fill: #242424;
  opacity: .5;
  font-feature-settings: "tnum" on;
}
.srKey, .expKey {
  font-weight: 400;
  font-size: .82em;
}
.leagueKey {
  font-weight: 400;
  font-size: .82em;
  fill: #242424;
  opacity: .5;
}
.league-sr-line, .leagueSRline {
  stroke: #242424;
  stroke-width: 1px;
  stroke-dasharray: 4,4;
  d: M5 20 l215 0;
  opacity: .45;
}
.gridLine {
  stroke: #242424;
  opacity: .12;
}
.gridLine_white {
  opacity: 1;
}
.gridText {
  font-family:"Work Sans",sans-serif;
  color: #242424;
  font-size: 0.75em !important;
  letter-spacing: -0.3px;
  opacity: 0.45;
}
.leagueText {
  text-anchor: end;
}
.grid-white {
  stroke: white;
  stroke-width: 3;
}
svg > path {
  stroke-width: 3;
  opacity: .9;
  fill: none;
}
.alabama > svg > path {
  stroke: #C31C45;
}
.oleMiss > svg > path {
  stroke: #006AA6;
}
.uk > svg > path {
  stroke: #0033A0;
}
.ar > svg > path {
  stroke: #F06F88;
}
.tn > svg > path {
  stroke: #F77F00;
}
.tamu > svg > path {
  stroke: #500000;
}
.lsu > svg > path {
  stroke: #461D7C;
}
.missSt > svg > path {
  stroke: #660000;
}
.barn > svg > path {
  stroke: #DD550C;
}
.uf > svg > path {
  stroke: #0021A5;
}
.uw > svg > path {
  stroke: #775BAD;
}
.clem > svg > path {
  stroke: #F66733;
}
.fsu > svg > path {
  /*stroke: #CEB888;*/
  stroke: #AB8C49;
}
.fresno > svg > path {
  stroke: #002C76;
}
.csu > svg > path {
  stroke: #1E4D2B;
}
.vandy > svg > path {
  stroke: #997F3D;
}
.pass-sr-line {
  opacity: .25;
}
.axis-labels {
  font-weight: 600;
  font-size: 0.82em;
  fill: #242424;
  opacity: .8;
}
.points {
  font-weight: 500;
  font-size: 0.82em;
  fill: #242424;
  opacity: .8;
}
.key {
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  font-size: 0.82em;
}
.un, .suc, .xpl {
  font-size: 1.1em;
}
.sRed, .ltRed,
.alabama > p > .un,
.alabama > p > .suc,
.alabama > p > .xpl {
  color: #C31C45;
}
.oleMiss > p > .un,
.oleMiss > p > .suc,
.oleMiss > p > .xpl {
  color: #006AA6;
}
.uk > p > .un,
.uk > p > .suc,
.uk > p > .xpl {
  color: #0033A0;
}
.ar > p > .un,
.ar > p > .suc,
.ar > p > .xpl {
  color: #F06F88;
}
.tn > p > .un,
.tn > p > .suc,
.tn > p > .xpl {
  color: #F77F00;
}
.tamu > p > .un,
.tamu > p > .suc,
.tamu > p > .xpl {
  color: #500000;
}
.lsu > p > .un,
.lsu > p > .suc,
.lsu > p > .xpl {
  color: #461D7C;
}
.missSt > p > .un,
.missSt > p > .suc,
.missSt > p > .xpl {
  color: #660000;
}
.barn > p > .un,
.barn > p > .suc,
.barn > p > .xpl {
  color: #DD550C;
}
.uf > p > .un,
.uf > p > .suc,
.uf > p > .xpl {
  color: #0021A5;
}
.uw > p > .un,
.uw > p > .suc,
.uw > p > .xpl {
  color: #775BAD;
}
.clem > p > .un,
.clem > p > .suc,
.clem > p > .xpl {
  color: #F66733;
}
.fsu > p > .un,
.fsu > p > .suc,
.fsu > p > .xpl {
  color: #CEB888;
}
.fresno > p > .un,
.fresno > p > .suc,
.fresno > p > .xpl {
  color: #002C76;
}
.csu > p > .un,
.csu > p > .suc,
.csu > p > .xpl {
  color: #1E4D2B;
}
.vandy > p > .un,
.vandy > p > .suc,
.vandy > p > .xpl {
  color: #997F3D;
}
.ltRed, .un {
  opacity: 0.4;
}
.xRed {
  color: #620E23;
}
.cmpRed {
  color: #FF7E9F;
}
/* css for metrics explanation box */
.explain-rbr {
  background-image: url(https://couchux.github.io/chart-demos/images/dots/grey_dot_2x_15.png);
  background-repeat: repeat;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
  padding: 15px;
  color: #505050;
  margin-bottom: 20px;
  font-family:"Open Sans",sans-serif;
}
.explain-rbr p {
  font-size: 14px !important;
  line-height: 1.5 !important;
  margin-bottom: 0 !important;
}
.explain-rbr input {
  font-size: 14px;
  padding: 2px 6px;
  border: 1px solid #969696;
  border-radius: 4px;
  background: none;
  color: #505050;
}
.explain-rbr input:hover {
  background: #DADADA;
  color: #1D1D1D;
  cursor: pointer;
}
.bold-rbr {
  font-weight: 700;
}
#backup-img-srxr, #backup-img-plays, #backup-img-runRate {
  display: none;
  margin-bottom: 20px;
}
.prompt-text {
  display: inline-block;
  margin-right: 6px;
}
#runDir-table {
  width: 100%
}
.tr-heavy > td {
  border-bottom-color: gray;
}
#passSR-legacy {
  opacity: 0.3 !important;
}

/* new stuff for Players charts and bar components */
.bar-container {
  margin-top: 12px;
}
.bar-container:last-child {
  margin-bottom: 20px;
}
.bar-container p {
  font-weight: 600;
  margin-bottom: 4px;
}
.slant {
  margin-left: 8px;
  margin-right: 8px;
}
.bar-info, .bar {
  display: flex;
  flex-grow: 1;
}
.bar-title {
  flex-grow: 1;
}
.count {
  margin: 0 8px;
}
.bar {
  height: 12px;
  width: 100%;
}
.alabama .bar .attempts {
  background-image: url("../../chart-demos/images/diag-red-lt.png");
  background-repeat: repeat;
  background-color: #F1F1F1;
}
.alabama .bar .completions {
  background-color: #FFAAC0;
}
.alabama .bar .successful {
  background-color: #C31C45;
}
.alabama .bar .explosive {
  background-color: #6B0F26;
}
.bar .empty {
  background-color: #f1f1f1;
}
