/* responsiveness */
#srxr-q-charts-container, #plays-charts-container, #runRate-charts-container {
  width: 100%;
}
#plays-charts-container, #runRate-charts-container {
  font-family:"Work Sans",sans-serif;
  margin-top: 12px;
}

#plays-charts-container {
  margin-bottom: 16px;
}
#runRate-chart, #srRP-chart {
 margin-top: 4px;
}
.rbr-chart {
  max-width: 724px;
}
.srxrq-chart {
  font-family:"Work Sans",sans-serif;
  min-width:200px;
  display: inline-block;
  margin-top: 8px;
}
.chart2 {
  display: inline-block;
}
#runRate-chart, #srRP-chart {
  display: inline-block;
}
.plays-chart {
  font-family:"Work Sans",sans-serif;
}
.chartTitle {
  font-family:"Open Sans",sans-serif;
  font-weight: 700;
  color: #242424;
  margin-top: 8px;
  margin-bottom: 8px;
}
.titleHR {
  height: 1px;
  width: 100%;
  background-color: #242424;
  opacity: .5;
  margin-bottom: 4px;
}
.chartNote {
  font-family:"Work Sans",sans-serif;
  color: #242424;
  font-size: 0.82em !important;
  letter-spacing: -0.3px;
  line-height: 1.5em;
  opacity: 0.5;
  margin-top: 0px;
  margin-bottom: 8px;
  text-align: right;
}
.srxr-note {
  margin-right: 1%;
}
.runRate-note {
  margin-right: 2%;
}
.chartSubtitle {
  font-family:"Open Sans",sans-serif;
  color: #242424;
  font-size: .82em !important;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom:3px;
  width: inherit;
}
.teamTitle {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.82em;
  margin-top: 0;
  margin-bottom:4px;
}
.teamTitle.lg {
  font-size: 1em;
}
.backBar {
  fill: #F1F1F1;
}
.expBars, .xBars {
  fill: #000000;
  opacity: .45;
}
.xBars {
  opacity: .65;
}
.qLabels {
  font-weight: 500;
  font-size: .82em;
  fill: #FFFFFF;
}
.srLabels, .srKey {
  font-weight: 500;
  font-size: .82em;
  fill: #242424;
  opacity: .8;
  font-feature-settings: "tnum" on;
}
.expLabels, .expKey {
  font-weight: 400;
  font-size: .82em;
  fill: #242424;
  opacity: .5;
  font-feature-settings: "tnum" on;
}
.srKey, .expKey {
  font-weight: 400;
  font-size: .82em;
}
.leagueKey {
  font-weight: 400;
  font-size: .82em;
  fill: #242424;
  opacity: .5;
}
.leagueSRline {
  width: 3px;
  opacity: .3; /* stroke attributes are in the script itself */
}
.gridLine {
  opacity: .12; /* stroke attributes are in the script itself */
}
.gridLine_white {
  opacity: 1;
}
.gridText {
  font-family:"Work Sans",sans-serif;
  color: #242424;
  font-size: 0.75em !important;
  letter-spacing: -0.3px;
  opacity: 0.45;
}
.axis-labels {
  font-weight: 600;
  font-size: 0.82em;
  fill: #242424;
  opacity: .8;
}
.points {
  font-weight: 500;
  font-size: 0.82em;
  fill: #242424;
  opacity: .8;
}
.key {
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  font-size: 0.82em;
}
span.ltRed, span.sRed, span.xRed {
  font-size: 1.1em;
}

span.ltRed {
  color: #C31C45;
  opacity: 0.4;
}
span.sRed {
  color: #C31C45;
}
span.xRed {
  color: #620E23;
}
/* css for metrics explanation box */
.explain-rbr {
  background-image: url(https://couchux.github.io/chart-demos/images/dots/grey_dot_2x_15.png);
  background-repeat: repeat;k
    background-repeat-x: repeat;
    background-repeat-y: repeat;
  padding: 15px;
  color: #505050;
  margin-bottom: 20px;
  font-family:"Open Sans",sans-serif;
}
.explain-rbr p {
  font-size: 14px !important;
  line-height: 1.5 !important;
  margin-bottom: 0 !important;
}
.bold-rbr {
  font-weight: 700;
}
#backup-img-srxr, #backup-img-plays, #backup-img-runRate {
  display: none;
  margin-bottom: 20px;
}
.prompt-text {
  display: inline-block;
  margin-right: 6px;
}
#runDir-table {
  width: 100%
}
.col-right {
  text-align: right;
}
.tr-heavy > td {
  border-bottom-color: gray;
}
