/* COLORS */
:root {
    --hired-red: #E82F3A;
    --hired-navy: #404C60;
    --white: #FFFFFF;
    --link: #2AA3DD;
  
    /* cool  grays */
    --deep-black: #191821;
    --hired-black: #323642;
    --cool-gray-5: #5F6E86;
    --cool-gray-4: #9CAEC4;
    --cool-gray-3: #C7D3E4;
    --cool-gray-2: #E9EEF7;
    --cool-gray-1: #F0F3F9;
    --cool-gray-0: #F7F8FB;
  
    /* neutral grays */
    --dark-gray-2: #222222;
    --dark-gray-1: #333333;
    --medium-gray-2: #616161;
    --medium-gray-1: #9D9D9D;
    --gray-3: #C9CBCE;
    --gray-2: #E3E4E6;
    --gray-1: #E9EAEC;
    --gray-0: #F4F5F7;
  
    /* other colors */
    --type-main: #2d3a4f;  /* this, with .9 opacity, looks like hired-navy. Only for type. */
    --darkest-red: #961b22; /* Alex: for button click states */
    --dark-red: #B6252E;
    --link-dark: #2B87B1;
    --success: #00D981;
    --warning: #FCE200;
    --error: #DC056C;
  }

body {
    background: var(--gray-0);
    font-size: 1.5rem;
    color: var(--hired-navy);
    font-family: "Open Sans",sans-serif;
}
.flyout {
    max-width: 340px;
    background-color: white;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.1);
    font-weight: 600;
    padding-bottom: 1.5rem;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
li a {
    color: var(--link);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 400;
}
li:last-child {
    margin-bottom: 1rem;
}
.flyout div {
    padding: 1rem 2rem .8rem 2rem;
}
.lvl-0 > div {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: "Gotham",sans-serif;
    font-weight: 400;
    color: var(--cool-gray-4);
    letter-spacing: 1.75px;
    padding-top: 2rem;
    padding-bottom: 0rem;
}
.lvl-1 {
    border-bottom: 1px solid var(--gray-2);
}
.lvl-1:last-child {
    border-bottom: none;
}
.lvl-1 > div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.lvl-2 > div {
    font-size: 1.3rem;
    padding-left: 3rem;
}
.lvl-2:first-child > div {
    padding-top: 0;
}

.lvl-3 > div {
    font-size: 1.3rem;
    color: var(--dark-gray-2);
    opacity: 0.52;
    padding-left: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.lvl-4 > div {
    padding-left: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}