/* COLORS */
:root {
    --hired-red: #E82F3A;
    --hired-navy: #404C60;
    --white: #FFFFFF;
    --link: #2AA3DD;
  
    /* cool  grays */
    --deep-black: #191821;
    --hired-black: #323642;
    --cool-gray-5: #5F6E86;
    --cool-gray-4: #9CAEC4;
    --cool-gray-3: #C7D3E4;
    --cool-gray-2: #E9EEF7;
    --cool-gray-1: #F0F3F9;
    --cool-gray-0: #F7F8FB;
  
    /* neutral grays */
    --dark-gray-2: #222222;
    --dark-gray-1: #333333;
    --medium-gray-2: #616161;
    --medium-gray-1: #9D9D9D;
    --gray-3: #C9CBCE;
    --gray-2: #E3E4E6;
    --gray-1: #E9EAEC;
    --gray-0: #F4F5F7;
  
    /* other colors */
    --type-main: rgba(45,58,79,.9);  
    --type-secondary: rgba(34,34,34,.52);
    --darkest-red: #961b22; /* Alex: for button click states */
    --dark-red: #B6252E;
    --link-dark: #2B87B1;
    --success: #00D981;
    --warning: #FCE200;
    --error: #DC056C;
  }
html {
    overflow-y: scroll; 
}
body {
    background: var(--gray-0);
    font-size: 1.5rem;
    color: var(--type-main);
    font-family: "Open Sans",sans-serif;
    margin: 0;
}
.nav {
    width: 100%;
    height: auto;
    min-height: 7rem;
    border-bottom: 1px solid var(--gray-2);
    background: var(--white);
}
div.nav--jobs {
    position: relative;
    left: 75%;
    top: 2.5rem;
    width: 6rem;
    background-position-x: 4rem;
    background-position-y: 0.7rem;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    cursor: pointer;
}
#flyout {
    position: absolute;
    top: 6rem;
    right: 20%;
    width: 100%;
    max-width: 400px;
    background-color: var(--white);
    border-radius: 2px;
    box-shadow: 0 2px 20px -5px rgba(0,0,0,.2);
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 767px) {
    #flyout {
        position: relative;
        width: 100%;
        max-width: unset;
        top: unset;
        right: unset;
        box-shadow: none;
        margin-bottom: 0;
    }
    .nav {
        padding-bottom: 6rem;
    }
    div.nav--jobs {
        left: unset;
        top: unset;
        margin-left: 1rem;
        padding: 10rem 1rem 0 1rem;
        background-position-x: 5rem;
        background-position-y: 10.7rem;
    }
}
.flyout--hide {
    display: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    transition: opacity 400ms;
}
li:last-child {
    margin-bottom: 0.5rem;
}
li a {
    color: var(--link);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 400;
}
span:hover {
    text-decoration: underline;
    color: var(--link-dark);
}
.lvl-0 li {
    cursor: pointer;
}
.lvl-0 > div {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--cool-gray-4);
    background-image: none;
    padding: 2rem 3rem 0 2rem;
}
.lvl-1 > div {
    color: var(--type-main);
    text-transform: initial;
    font-weight: 600;
    border-bottom: 1px solid var(--gray-2);
    padding: 1.5rem 0 1.5rem 2rem;
    background-position-y: 1.7rem;
}
.lvl-1:first-child > div {
    padding-top: 1rem;
}
.lvl-1:last-child > div {
    border-bottom: none;
}
.lvl-2 > div {
    font-size: 1.3rem;
    background-position-y: 1.7rem;
    padding: 1rem 0 .8rem 3rem;
}
.lvl-2:first-child > div {
    padding-top: 1.5rem;
    background-position-y: 2.2rem;
}
.lvl-3 > div {
    font-size: 1.3rem;
    color: var(--type-secondary);
    padding: 1rem 0 .8rem 4rem;
    background-position-y: 1.7rem;
}
.lvl-3:first-child > div {
    padding-top: 1.5rem;
    background-position-y: 2.2rem;
}
.lvl-4 > div, .link {
    padding: 0.6rem 0 0.6rem 4rem;
}
.lvl-4:first-child > div {
    padding-top: 1.2rem;
}

/* toggle functionality styles */
li:not(.link):not(.lvl-0) > div, .nav--jobs {
    background-image: url("caret-down.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 2rem);
}
li:not(.link):not(.lvl-0) > div:hover {
    background-color: var(--gray-0)
}
li:not(.link).lvl-3 > div {
    background-image: url("caret-down-gray.svg");
}

li.open > div, .nav--jobs.open {
    background-image: url("caret-up.svg") !important;
}
li.lvl-3.open > div {
    background-image: url("caret-up-gray.svg");
}

li:not(.lvl-0):not(.open) li {
    display: none;
    opacity: 0;
}
li.open li {
    opacity: 1;
}